{% for item in patients %}
<tr>
    <td>{{ item.medication_name }}</td>
    <td>{{ item.medication_dosage }}</td>
    <td>{{ item.medication_tab }}</td>
    <td>{{ item.medication_frequency }}</td>
    <td>{{ item.medication_route }}</td>
    <td>{{ item.medication_time|date:"H:i" }}</td>
    <td>{{ item.medication_date|date:"d-m-Y" }}</td>
    <td>
        <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline trigger_modal" data-form-url="{% url 'patient:medication_administration_edit' item.patient.username item.id %}"data-original-title="Edit" title="Edit" style="background-color:transparent;"><i class="fas fa-pencil-alt" style="color: #b2b9bf"></i>
        </button>
        <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline trigger_modal" data-form-url="{% url 'patient:medication_administration_delete' item.patient.username item.id %}"data-original-title="Delete" title="Delete" style="background-color:transparent;"><i class="fas fa-trash-alt" style="color: #b2b9bf"></i>
        </button>
    </td>
</tr>
{% endfor %}
