{% extends 'base.html' %}

{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block headtitle %}
    {{ page_title }} | {{ titles.title }}
{% endblock %}

{% block content %}

{% block styles %}
	<link href="{% static 'css/patient/patient.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/patient/nasogastric.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block extrahead %}
	{{ form.media }}
{% endblock %}

<div class="row isi">

	<div class="row formtitle">
		{{ page_title }}
	</div>

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

		<form method="post">
			{% csrf_token %}
			<table class="table-sm table-bordered">
				<tbody>
					<tr>
						<td>{% trans "Name" %}:</td>
						<td>{{ patients }}{{ form.patient|as_crispy_field }}</td>
					</tr>
					<tr>
						<td>{% trans "I/C No" %}:</td>
						<td>{{ icnumbers }}</td>
					</tr>
				</tbody>
			</table>
			<table class="table table-bordered">
				<tr>
					<th class="text-center" scope="col">{% trans "Date" %}</th>
					<th class="text-center" scope="col">{% trans "Size (Fr)" %}</th>
					<th class="text-center" scope="col">{% trans "Type" %}</th>
					<th class="text-center" scope="col">{% trans "Location" %}</th>
					<th class="text-center" scope="col">{% trans "Due date" %}</th>
					<th class="text-center" scope="col">{% trans "Inserted by" %}</th>
				</tr>

				<tr>
					<th class="text-center" scope="row">{{ form.nasogastric_tube_date|as_crispy_field }}</th>
					<td>{{ form.nasogastric_tube_size|as_crispy_field }}</td>
					<td>{{ form.nasogastric_tube_type|as_crispy_field }}</td>
					<td>{{ form.nasogastric_tube_location|as_crispy_field }}</td>
					<td>{{ form.nasogastric_tube_due_date|as_crispy_field }}</td>
					<td>{{ form.nasogastric_tube_inserted_by|as_crispy_field }}</td>
				</tr>
			</table>
			<button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
			{% for item in profiles %}
			<a class="btn btn-danger" href="{% url 'patient:patientdata_detail' item.username %}">{% trans "Cancel" %}</a>
			{% endfor %}
		</form>

	</div>

</div>

{% endblock %}
