{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block headtitle %}
	{{ page_title }} | {{ titles.title }}
{% endblock %}

{% block styles %}
	<link href="{% static 'css/patient/nasogastric.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/patient/patient.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascript %}
	<script src="{% static 'js/patient/nasogastric.js' %}"></script>
	<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
{% endblock %}

{% block content %}

<div class="container-fluid">

	<div class="row formtitle">
		{{ page_title }}
	</div>

	{% include 'patient/patient_data.html' %}

	<div class="row rounded form_table">

		<div class="col-12">
			<div class="card">

				<div class="card-body">

					<form method="post" action="">
					{% csrf_token %}
						<table id="t_add_row" class="table table-striped table-bordered">
							<thead>
								<tr>
									<th class="text-center" colspan="6">{% trans "Nasogastric Tube" %}</th>
									<th class="text-center" style="border: 1px solid #ddd" rowspan="2">{% trans "Action" %}</th>
								</tr>
								<tr>
									<th class="text-center">{% trans "Date" %}</th>
									<th class="text-center">{% trans "Size (Fr)" %}</th>
									<th class="text-center">{% trans "Type" %}</th>
									<th class="text-center">{% trans "Location" %}</th>
									<th class="text-center">{% trans "Due date" %}</th>
									<th class="text-center">{% trans "Inserted by" %}</th>
								</tr>
							</thead>
							<tbody>
								{% include 'patient/nasogastric/partial_list.html' %}
							</tbody>
						</table>
					</form>
				</div>

            </div>
        </div>

    </div>

	<br />

	<div class="row">
		<div class="col-4">
			{% for item in profiles %}
				<a class="btn btn-outline-primary" href="{% url 'patient:patientdata_detail' item.username %}">{% trans "Back" %}</a>
			{% endfor %}
		</div>
	</div>

</div>

{% endblock %}

{% block js %}
<script type="text/javascript">
$(function()
{
	$(".trigger_modal").each(function()
	{
		$(this).modalForm(
		{
			formURL: $(this).data('form-url')
		});
	});
});
</script>
{% endblock %}
