{% extends 'base.html' %}

{% load account %}
{% load static %}
{% load i18n %}
{% load staticfiles %}

{% block styles %}
<link href="{% static 'css/account.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<div class="container">

	{% block navmenu %}
	{% include "navmenu.html" %}
	{% endblock %}

	<div class="row isi">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<h1>{% trans "Change Password" %}</h1>

			<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit" name="action">{% trans "Change Password" %}</button>
			</form>
		</div>
	</div>

</div>
{% endblock %}