{% for item in patients %}

{% if user.is_superuser%}
<tr>
    <td>{{ item.date|date:"d-m-Y" }}</td>
    <td>{{ item.time|date:"H:i" }}</td>
    <td>{{ item.frequency_dressing }}</td>
    <td>{{ item.type_dressing }}</td>
    <td>{{ item.wound_location }}</td>
    <td>{{ item.wound_condition }}</td>
    <td>
        <a href="{{ item.photos_url }}">
            <img class="image_dressing" src="{{ item.photos_url }}">
        </a>
    </td>
    <td>{{ item.note }}</td>
    <td>{{ item.done_by }}</td>
    <td>
        <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline trigger_modal" data-form-url="{% url 'patient:dressing_edit' item.patient.username item.id %}"data-original-title="Edit" title="Edit" style="background-color:transparent;"><i class="fas fa-pencil-alt" style="color: #b2b9bf"></i>
        </button>
        <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline trigger_modal" data-form-url="{% url 'patient:dressing_delete' item.patient.username item.id %}"data-original-title="Delete" title="Delete" style="background-color:transparent;"><i class="fas fa-trash-alt" style="color: #b2b9bf"></i>
        </button>
    </td>
</tr>

{% elif user.is_staff or user.is_patient %}

<tr>
    <td>{{ item.date|date:"d-m-Y" }}</td>
    <td>{{ item.time|date:"H:i" }}</td>
    <td>{{ item.frequency_dressing }}</td>
    <td>{{ item.type_dressing }}</td>
    <td>{{ item.wound_location }}</td>
    <td>{{ item.wound_condition }}</td>
    <td>
        <a href="{{ item.photos_url }}">
            <img class="image_dressing" src="{{ item.photos_url }}">
        </a>
    </td>
    <td>{{ item.note }}</td>
    <td>{{ item.done_by }}</td>
</tr>
{% endif %}
{% endfor %}
