{% for item in patients %}
{% if user.is_superuser %}

<tr>
    <td>{{ item.date|date:"d-m-Y" }}</td>
    <td>{{ item.time|date:"H:i" }}</td>
    <td>{{ item.temp }}</td>
    <td>{{ item.pulse }}</td>
    <td>{{ item.blood_pressure_systolic }}</td>
    <td>{{ item.blood_pressure_diastolic }}</td>
    <td>{{ item.respiration }}</td>
    <td>{{ item.spo2_percentage }}</td>
    <td>{{ item.spo2_o2 }}</td>
    <td>
        <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline trigger_modal" data-form-url="{% url 'patient:vital_sign_flow_edit' item.patient.username item.id %}" data-original-title="Edit" title="Edit" style="background-color:transparent;"><i class="fas fa-pencil-alt" style="color: #b2b9bf"></i>
        </button>
        <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline trigger_modal" data-form-url="{% url 'patient:vital_sign_flow_delete' item.patient.username item.id %}" data-original-title="Delete" title="Delete" style="background-color:transparent;"><i class="fas fa-trash-alt" style="color: #b2b9bf"></i>
        </button>
    </td>
</tr>

{% elif user.is_staff or user.is_patient %}

<tr>
    <td>{{ item.date|date:"d-m-Y" }}</td>
    <td>{{ item.time|date:"H:i" }}</td>
    <td>{{ item.temp }}</td>
    <td>{{ item.pulse }}</td>
    <td>{{ item.blood_pressure_systolic }}</td>
    <td>{{ item.blood_pressure_diastolic }}</td>
    <td>{{ item.respiration }}</td>
    <td>{{ item.spo2_percentage }}</td>
    <td>{{ item.spo2_o2 }}</td>
</tr>

{% endif %}
{% endfor %}

