{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block headtitle %}
	{{ page_title }} | {{ titles.title }}
{% endblock %}

{% block styles %}
	<link href="{% static 'css/patient/vital_sign_flow.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/patient/patient.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascript %}
	<script src="{% static 'js/patient/vital_sign_flow.js' %}"></script>
	<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
{% endblock %}

{% block content %}

<div class="container-fluid">

	<div class="row formtitle">
		{{ page_title }}
	</div>

	{% include 'patient/patient_data.html' %}

	<div class="row rounded form_table">

		<div class="col-12">
			<div class="card">

				<div class="card-body">

					<div class="table-responsive">
						<form method="post" action="">
						{% csrf_token %}
							<table id="t_add_row" class="table table-striped table-bordered">
								<thead>
									<tr>
										<th class="text-center" rowspan="2">{% trans "Date" %}</th>
										<th class="text-center" rowspan="2">{% trans "Time" %}</th>
										<th class="text-center" rowspan="2">{% trans "Temp (ºC)" %}</th>
										<th class="text-center" rowspan="2">{% trans "Pulse (bpm)" %}</th>
										<th class="text-center" colspan="2">{% trans "Blood Pressure (mmHg)" %}</th>
										<th class="text-center" rowspan="2">{% trans "Respiration (min)" %}</th>
										<th class="text-center" colspan="2">{% trans "SPO2" %}</th>
										<th class="text-center" style="border: 1px solid #ddd" rowspan="2">{% trans "Action" %}</th>
									</tr>
									<tr>
										<th class="text-center">{% trans "Systolic" %}</th>
										<th class="text-center">{% trans "Diastolic" %}</th>
										<th class="text-center">{% trans "(%)" %}</th>
										<th class="text-center">{% trans "O2/min" %}</th>
									</tr>
								</thead>
								<tbody>
									{% include 'patient/vital_sign_flow/partial_list.html' %}
								</tfoot>
							</table>
						</form>
					</div>

				</div>

            </div>
        </div>

    </div>

	<br />

	<div class="row">
		<div class="col-4">
			{% for item in profiles %}
				<a class="btn btn-outline-primary" href="{% url 'patient:patientdata_detail' item.username %}">{% trans "Back" %}</a>
			{% endfor %}
		</div>
	</div>

</div>

{% endblock %}

{% block js %}
<script type="text/javascript">
$(function()
{
	$(".trigger_modal").each(function()
	{
		$(this).modalForm(
		{
			formURL: $(this).data('form-url')
		});
	});
});
</script>
{% endblock %}
