{% extends 'base.html' %}

{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load widget_tweaks %}

{% block headtitle %}
	{{ page_title }} | {{ titles.title }}
{% endblock %}

{% block styles %}
	<link href="{% static 'css/patient_data/medication_administration.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/patient_data/patient_data.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascript %}
	<script src="{% static 'js/patient_data/medication_administration.js' %}"></script>
{% endblock %}

{% block content %}

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

	<div class="container-fluid" id="medication_administration">
		{% if profiles %}
		{% for item in profiles %}
		<div class="row">
			<div class="col-2 col">
				{% trans "Name" %}:
			</div>

			<div class="col-4 col">
				{{ item.full_name }}
			</div>
		</div>

		<div class="row">
			<div class="col-2 col">
				{% trans "I/C No" %}:
			</div>
			<div class="col-4 col">
				{{ item.ic_number }}
			</div>
			<div class="col-6 col">
				ALERGY:
				<br />
				<div class="allergies" style="color:red">
					{{ allergies }}
				</div>
			</div>
		</div>
		{% endfor %}
		{% endif %}
	</div>

	<div class="container-fluid" id="medication_administration_table">

			<form method="post" id="dataForm" data-url="" novalidate>
			{% csrf_token %}

			<div class="card">
				<div class="card-body">

					<div class="table-responsive">
						<table id="t_add_row" class="table table-striped table-bordered display" style="width:100%">
							<thead>
								<tr>
									<th class="text-center" colspan="5">{% trans "Medication" %}</th>
									<th class="text-center" rowspan="2">{% trans "Time" %}</th>
									<th class="text-center" rowspan="2">{% trans "Date" %}</th>
									<th class="text-center" rowspan="2" style="border: 1px solid #ddd" >{% trans "Action" %}</th>
								</tr>
								<tr>
									<th class="text-center">{% trans "Name" %}</th>
									<th class="text-center">{% trans "Dosage" %}</th>
									<th class="text-center">{% trans "Tab/MLS" %}</th>
									<th class="text-center">{% trans "Frequency" %}</th>
									<th class="text-center">{% trans "Route" %}</th>
								</tr>
							</thead>
							<tbody>
								{% include 'patient_data/medication_administration_data/partial_list_form.html' %}										
							</tbody>
							<tfoot>
							</tfoot>
						</table>
					</div>
				</div>
	        </div>

			<div class="card">
				<div class="card-body">

					<div class="table-responsive">
						<table id="t_add_row" class="table table-striped table-bordered display" style="width:100%">
							<thead>
								<tr>
									<th class="text-center" rowspan="2">{% trans "Stat" %}</th>
									<th class="text-center" rowspan="2">{% trans "Date & Time" %}</th>
									<th class="text-center" rowspan="2">{% trans "Given By" %}</th>
									<th class="text-center" rowspan="2" style="border: 1px solid #ddd" >{% trans "Action" %}</th>
								</tr>
							</thead>
							<tbody>
								{% include 'patient_data/medication_administration_data/partial_list_formset.html' %}										
							</tbody>
							<tfoot>
							</tfoot>
						</table>
					</div>

				</div>
	        </div>

			</form>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" style="display: none;" aria-hidden="true">
            <div class="modal-dialog" role="document">

                <div class="modal-content">

                </div>

            </div>
        </div>

    </div>

	{% for item in profiles %}
	<a class="btn btn-outline-primary" href="{% url 'patient_data:patientdata_detail' item.username %}">{% trans "Back" %}</a>
	{% endfor %}

</div>

{% endblock %} 
