{% extends 'base.html' %}

{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load widget_tweaks %}

{% block headtitle %}
	{{ page_title }} | {{ titles.title }}
{% endblock %}

{% block styles %}
	<link href="{% static 'css/patient_data/medication_administration.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/patient_data/patient_data.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascript %}
	<script src="{% static 'js/patient_data/medication_administration.js' %}"></script>
{% endblock %}

{% block content %}

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

	<div class="container-fluid" id="medication_administration">

				{% if profiles %}
				{% for item in profiles %}
				<div class="row">
					<div class="col-2 col">
						{% trans "Name" %}:
					</div>
					<div class="col-4 col">
						{{ item.full_name }}
					</div>
				</div>
				<div class="row">
					<div class="col-2 col">
						{% trans "I/C No" %}:
					</div>
					<div class="col-4 col">
						{{ item.ic_number }}
					</div>
					<div class="col-6 col">
						{{ form.allergy|as_crispy_field }}
					</div>
				</div>
				{% endfor %}
				{% endif %}

			</div>

	<div class="container-fluid" id="medication_administration">

		<div class="row">
			<div class="col-7 col text-center">
				{% trans "Medication" %}
			</div>
			<div class="col-2 col text-center">
				{% trans "Date" %}
			</div>
			<div class="col-1 col text-center">
				{% trans "Time" %}
			</div>
			<div class="col-1 col text-center">
				{% trans "Signature" %}
			</div>
			<div class="col-1 col" style="border-top:none;border-right:none;border-bottom:none;">
			</div>
		</div>

		<div class="row">
			<div class="col-3 col text-center">
				{% trans "Name" %}
			</div>
			<div class="col-1 col text-center">
				{% trans "Dosage" %}
			</div>
			<div class="col-1 col text-center">
				{% trans "Tab/MLS	" %}
			</div>
			<div class="col-1 col text-center">
				{% trans "Frequency" %}
			</div>
			<div class="col-1 col text-center">
				{% trans "Route" %}
			</div>
			<div class="col-2 col" style="border-top:none;">
			</div>
			<div class="col-1 col" style="border-top:none;">
			</div>
			<div class="col-1 col" style="border-top:none;">
			</div>
			<div class="col-1 col" style="border-top:none;border-right:none;border-bottom:none;">
			</div>
		</div>

		<div class="row">
			{% include 'patient_data/medication_administration_data/partial_list.html' %}
		</div>


        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" style="display: none;" aria-hidden="true">
            <div class="modal-dialog" role="document">

                <div class="modal-content">

                </div>

            </div>
        </div>

    </div>

</div>

{% endblock %} 
