{% extends 'base.html' %}

{% load account %}
{% load static %}
{% load staticfiles %}

{% block styles %}
		<link href="{% static 'css/account.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block headtitle %}
    {{ page_title }} | {{ titles.title }}
{% endblock %}

{% block content %}

	<div class="row isi">

		<div class="col-md-10">
		    <div class="card">
		        <div class="card-body">
		            <div class="row">
		                <div class="col-md-12">
		                    <h4>Your Profile</h4>
		                    <hr>
		                </div>
		            </div>
		            
		            <div class="row">
		            {% if user.is_authenticated %}
		        	{% if patients %}
		        	{% for item in patients %}
		                <div class="col-md-12">
		                    <form>
                              <div class="form-group row">
                                <label for="lastname" class="col-4 col-form-label">Full Name</label> 
                                <div class="col-8">
                                  <input id="fullname" name="lastname" placeholder="{{ item.full_name }}" class="form-control here" type="text">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="email" class="col-4 col-form-label">Email*</label> 
                                <div class="col-8">
                                  <input id="email" name="email" placeholder="{{ item.email }}" class="form-control here" required="required" type="text">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="icnumber" class="col-4 col-form-label">IC Number</label> 
                                <div class="col-8">
	                                {% if icnumbers %}
									{% for item in icnumbers %}
								    <input id="icnumber" name="icnumber" placeholder="{{ item.ic_number }}" class="form-control here" required="required" type="text">
								    {% endfor %}
								    {% endif %}
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="newpass" class="col-4 col-form-label">New Password</label> 
                                <div class="col-8">
                                  <input id="newpass" name="newpass" placeholder="New Password" class="form-control here" type="text">
                                </div>
                              </div> 
                              <div class="form-group row">
                                <div class="offset-4 col-8">
                                  <button name="submit" type="submit" class="btn btn-primary">Update My Profile</button>
                                </div>
                              </div>
                            </form>
		                </div>
		                {% endfor %}
		                {% endif %}
		                {% endif %}
		            </div>
		            
		        </div>
		    </div>
		</div>
	</div>

{% endblock %}