{% load static %}
{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>
		{% block headtitle %}
			{{ titles.title }}
		{% endblock %}
	</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/navmenu.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/sprite-flags-16x16.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/rowGroup.bootstrap4.min.css' %}">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap">
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

	{% block styles %}
	{% endblock %}

	<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
	<script src="{% static 'js/jquery-migrate-3.0.0.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/datatables.min.js' %}"></script>
	<script src="{% static 'js/datatable-api.init.js' %}"></script>
	<script src="{% static 'js/datatables.rowGroup.min.js' %}"></script>
	<script src="{% static 'js/moment.min.js' %}"></script>                    
	<script src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
	<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>

{% block extrahead %}
{% endblock %}

</head>

<body>
	<div class="container">
		{% block navmenu %}
			{% include "navmenu.html" %}
			<div class="modal fade" tabindex="-1" role="dialog" id="modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content"></div>
            </div>
        </div>
		{% endblock %}

		{% block content %}
		{% endblock %}

		{% block footer %}
			{% include "footer.html" %}
		{% endblock %}
	</div>


	{% block script %}
	<script type="text/javascript">
		window.CSRF_TOKEN = "{{ csrf_token }}";
	</script>
	<script>
	$("#id_full_name").change(function()
	{
		var url = $("#dataForm").attr("data-url");
		var full_nameID = $(this).val();

		$.ajax(
		{
			url: url,
			data: {
				'full_name': full_nameID
			},
			success: function(data)
			{
				$("#id_ic_number").html(data);
			},
		});
	});
	</script>
	{% endblock %}

	{% block javascript %}
	{% endblock %}

</body>
</html>
