{% extends 'base.html' %}

{% load static %}
{% load staticfiles %}

{% block styles %}
	<link href="{% static 'css/etext.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<div class="container">

	{% block navmenu %}
		{% include "navmenu.html" %}
	{% endblock %}

	<div class="row isi">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<div id="s-Group_5" class="">
				<div id="s-Text_2" class="">
					<span id="rtr-s-Text_2_0">Title</span>
				</div>
				<div id="s-Dynamic_Panel_2" class="">
					<div id="s-Panel_2" class="">
						<div class="layoutWrapper scrollable">
							<div id="s-Image_2" class="" alt="image">
								Contents
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="s-Accordion" class="">
				
				<div id="s-Rectangle_2" class="">
					<span id="rtr-s-Rectangle_2_0"></span>
				</div>
				
				<div id="s-Image_97" class="" alt="image" overlay="#959A9D">
					<img src="{% static "images/s-Image_97.png" %}" alt="image"/>
				</div>

				<div id="s-Group_25" class="">
					
					<div id="s-Image_39" class="" alt="image" overlay="#959A9D">
						<img src="{% static "images/s-Image_39.png" %}" alt="image"/>
					</div>

					<div id="s-Rectangle_25" class="">
						<span id="rtr-s-Rectangle_25_0">Up to 26 topics</span>
					</div>
				</div>

				<div id="s-Group_18" class="">
					<div id="s-Image_32" class="" alt="image" overlay="#959A9D">
					<img src="{% static "images/s-Image_32.png" %}" alt="image"/>
				</div>

				<div id="s-Rectangle_18" class="">
					<span id="rtr-s-Rectangle_18_0">3 Forces</span>
				</div>

			</div>

			<div id="s-Group_17" class="">
				<div id="s-Image_31" class="" alt="image" overlay="#959A9D">
					<img src="{% static "images/s-Image_31.png" %}" alt="image"/>
				</div>

				<div id="s-Rectangle_17" class="">
					<span id="rtr-s-Rectangle_17_0">2 Kinematics</span>
				</div>
			</div>

			<div id="s-Paragraph_3" class="">
				<span id="rtr-s-Paragraph_3_0">1 Learning Outcomes<br><br>2 Sections<br> &nbsp; &nbsp; &nbsp;1.1 Physical Quantities<br> &nbsp; &nbsp; &nbsp;1.2 SI units<br> &nbsp; &nbsp; &nbsp;1.3 Avogadro constant<br> &nbsp; &nbsp; &nbsp;1.4 Scalars and Vectors<br><br>3 &nbsp; &nbsp; &nbsp;Definitions and Formulae<br><br>4 &nbsp; &nbsp; &nbsp;Bookmarks</span>
			</div>

			<div id="s-Group_16" class="">
				<div id="s-Image_30" class="" alt="image" overlay="#959A9D">
					<img src="{% static "images/s-Image_30.png" %}" alt="image"/>
				</div>

				<div id="s-Rectangle_16" class="">
					<span id="rtr-s-Rectangle_16_0">1 Measurement</span>
				</div>
			</div>
		</div>

		<div id="s-Image_5" class="" alt="image" overlay="#DDDDDD">
			<img src="{% static "images/arrowRight.png" %}" id="arrowRight"/>
		</div>
	</div>
</div>

</div>
{% endblock %}
