{% load i18n %}

<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-6 col-md">
            <h6>{% trans "PRODUCT" %}</h6>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">{% trans "Features" %}</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h6>{% trans "CONTACT" %}</h6>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">{% trans "Tel" %}: 12345678</a></li>
                <li><a class="text-muted" href="#">{% trans "Email" %}: edapt@gmail.com</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h6>{% trans "TRIAL SIGN UP" %}</h6>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">{% trans "School" %}</a></li>
                <li><a class="text-muted" href="#">{% trans "Individual" %}</a></li>
            </ul>
        </div>
    </div>
</footer>
