<div class="row footer">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div id="s-Title_1">
            <span id="rtr-s-Title_1_0">PRODUCT</span>
        </div>

        <div id="s-Paragraph_1" class="">
            <span id="rtr-s-Paragraph_1_0">Features</span>
        </div>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div id="s-Title_2">
            <span id="rtr-s-Title_2_0">CONTACT</span>
        </div>

        <div id="s-Paragraph_2" class="">
            <span id="rtr-s-Paragraph_2_0">Tel: 12345678</span>
            <span id="rtr-s-Paragraph_2_1"><br>Email: edapt@gmail.com</span>
        </div>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div id="s-Title_3">
            <span id="rtr-s-Title_3_0">TRIAL</span>
            <span id="rtr-s-Title_3_1">SIGN UP</span>
        </div>

        <div id="s-Paragraph_3" class="">
            <span id="rtr-s-Paragraph_3_0">School</span>
            <span id="rtr-s-Paragraph_3_1"><br>Individual</span>
        </div>
    </div>
</div>