{% extends 'base.html' %}

{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

{% block styles %}
	<link href="{% static 'css/homeleave.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

<div class="container">

	{% block navmenu %}
		{% include "navmenu.html" %}
	{% endblock %}

	<div class="row isi">

		<div class="formtitle">
			Application For Home Leave
		</div>

		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<form method="post">
				{% csrf_token %}
				<div class="homeleve_body">
					<div class="row">
						Name: {{ form.full_name|as_crispy_field }}<br />
						I/C No: {{ form.full_name|as_crispy_field }}
					</div>
					<br />
					<div class="row">
						I, {{ form.full_name|as_crispy_field }}  NRIC No.: {{ form.ic_number|as_crispy_field }} of {{ form.full_name|as_crispy_field }}	Tel No.: {{ form.full_name|as_crispy_field }}<br />
						hereby wish to apply from SK Wellspring Home Care for self / patient {{ form.full_name|as_crispy_field }} to leave the care center at own risk as per attachment.<br />
						I am fully responsible towards myself / this patient whilst out of the center, SK Wellspring Home Care and its staff of all liabilities in the event of my / the patient’s decline in health or any accidents which may occur whilst I am / said patient is out of the center.<br />
					</div>
					<br />
					<div class="row">
						<div class="col">
							Signature or Thumbprint of
						</div>
						<div class="col">
							{{ form.full_name|as_crispy_field }}<br />
							(Patient / Family Responsible)
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col">
							{{ form.full_name|as_crispy_field }}<br />
							(Relationship)
						</div>
						<div class="col">
							{{ form.full_name|as_crispy_field }}<br />
							(IC No. :)
						</div>
					</div>

					<br />
					Witnessed by : <br />
					Name: {{ form.full_name|as_crispy_field }}<br />
					Designation:  {{ form.full_name|as_crispy_field }}<br />
					Signature:  {{ form.full_name|as_crispy_field }}<br />
					Date:  {{ form.full_name|as_crispy_field }}<br />
					<br /><br />
					<b>Note</b> :	This form must be signed by the patient, carer or a member of the family responsible if patient is physically and mentally unfit.
				</div>
				<button type="submit" class="btn btn-primary">Sign in</button>
			</form>
		</div>

	</div>
</div>
{% endblock %}