{% extends 'base.html' %}

{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

{% block styles %}
	<link href="{% static 'css/homeleave.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

<div class="container">

	{% block navmenu %}
		{% include "navmenu.html" %}
	{% endblock %}

	<div class="row isi">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<form method="post">
				{% csrf_token %}
				<div class="homeleve_body">
					<div class="row">
						Name: ……………………………………………<br />
						I/C No: ……………………………
					</div>
					<br />
					<div class="row">
						I, …………………………………………  NRIC No.: ……………………………… of …………………………………………………	Tel No.: …………………<br />
						hereby wish to apply from SK Wellspring Home Care for self / patient …………………………………… to leave the care center at own risk as per attachment.<br />
						I am fully responsible towards myself / this patient whilst out of the center, SK Wellspring Home Care and its staff of all liabilities in the event of my / the patient’s decline in health or any accidents which may occur whilst I am / said patient is out of the center.<br />
					</div>
					<br />
					<div class="row">
						<div class="col">
							Signature or Thumbprint of
						</div>
						<div class="col">
							…………………………………………………………<br />
							(Patient / Family Responsible)
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col">
							……………………………………<br />
							(Relationship)
						</div>
						<div class="col">
							……………………………………………<br />
							(IC No. :)
						</div>
					</div>

					<br />
					Witnessed by : <br />
					Name: ……………………………………<br />
					Designation:  ………………………<br />
					Signature:  …………………………<br />
					Date:  ………………………………<br />
					<br /><br />
					<b>Note</b> :	This form must be signed by the patient, carer or a member of the family responsible if patient is physically and mentally unfit.
				</div>
				<button type="submit" class="btn btn-primary">Sign in</button>
			</form>
		</div>

	</div>
</div>
{% endblock %}