{% extends 'base.html' %}

{% load account %}
{% load static %}
{% load staticfiles %}

{% block styles %}
		<link href="{% static 'css/account.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<div class="row isi">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

		{% if messages %}

		<ul class="messages">
			{% for message in messages %}
			<div class="alert {{ message.tags }} alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				{{ message }}
			</div>
			{% endfor %}
		</ul>

		{% endif %}

		<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
		<h1 class="display-4">Healthcare Multi Tenant</h1>
		<p class="lead">It's built with default Bootstrap components and utilities with little customization.</p>
	</div>

	</div>
</div>

{% endblock %}