{% extends 'base.html' %}

{% load account %}
{% load static %}
{% load staticfiles %}

{% block styles %}
		<link href="{% static 'css/account.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<div class="container">

	{% block navmenu %}
		{% include "navmenu.html" %}
	{% endblock %}

	<div class="row isi">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			{% if messages %}

			<ul class="messages">
				{% for message in messages %}
				<div class="alert {{ message.tags }} alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					{{ message }}
				</div>
				{% endfor %}
			</ul>

			{% endif %}

		</div>
	</div>

	{% block footer %}
		{% include "footer.html" %}
	{% endblock %}
	 
</div>
{% endblock %}