{% extends 'base.html' %}

{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

{% block styles %}
	<link href="{% static 'css/physiotherapy_general_assessment.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

<div class="container">

	{% block navmenu %}
		{% include "navmenu.html" %}
	{% endblock %}

	<div class="row isi">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<form method="post">
				{% csrf_token %}
				<table class="table-sm table-bordered">
					<tbody>
						<tr>
							<td>Full name  (as per IC):</td>
							<td>{{ form.full_name|as_crispy_field }}</td>
						</tr>
						<tr>
							<td>IC No:</td>
							<td>{{ form.ic_number|as_crispy_field }}</td>
						</tr>
					</tbody>
				</table>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Date</th>
							<th>Items</th>
							<th>Location/Room</th>
							<th>Remarks</th>
							<th>Staff-Name</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{ form.date|as_crispy_field }}</td>
							<td>{{ form.items|as_crispy_field }}</td>
							<td>{{ form.location_room|as_crispy_field }}</td>
							<td>{{ form.remark|as_crispy_field }}</td>
							<td>{{ form.staff_name|as_crispy_field }}</td>
						</tr>
					</tbody>
				</table>
				<button type="submit" class="btn btn-primary">Sign in</button>
			</form>

		</div>

	</div>
</div>
{% endblock %}