{% extends 'base.html' %}

{% load static %}
{% load staticfiles %}

{% block content %}

{% block styles %}
	<link href="{% static 'css/practise.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

<div class="container">

	{% block navmenu %}
		{% include "navmenu.html" %}
	{% endblock %}

	<div class="row isi">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<div id="s-Text_1" class="">
				<span id="rtr-s-Text_1_0">1 &nbsp; &nbsp;</span>
				<span id="rtr-s-Text_1_1">2 &nbsp; &nbsp;</span>
				<span id="rtr-s-Text_1_2">3 &nbsp; &nbsp;</span>
				<span id="rtr-s-Text_1_3">4 &nbsp; &nbsp;</span>
				<span id="rtr-s-Text_1_4">5 &nbsp; &nbsp;</span>
				<span id="rtr-s-Text_1_5">6 &nbsp; &nbsp;</span>
				<span id="rtr-s-Text_1_6">7 &nbsp; &nbsp;</span>
				<span id="rtr-s-Text_1_7">8 &nbsp; &nbsp;</span>
				<span id="rtr-s-Text_1_8">9 &nbsp; &nbsp;</span>
				<span id="rtr-s-Text_1_9">. . . . &nbsp;</span>
			</div>

			<div id="s-Text_2" class="">
				<span id="rtr-s-Text_2_0">Questions</span>
			</div>

			<div id="s-Text_3" class="">
				<span id="rtr-s-Text_3_0">9</span>
			</div>

			<div id="s-Paragraph_1" class="">
				<span id="rtr-s-Paragraph_1_0">Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus, cum eros quis aliquam wisi. Nulla wisi laoreet suspendisse integer vivamus elit eu mauris hendrerit facilisi, mi mattis pariatur aliquam pharetra eget.</span>
			</div>

			<div id="s-Image_1" class="" alt="image">
				<img src="{% static "images/cross.png" %}" alt="cross"/>
			</div>

			<div id="s-Paragraph_2" class="">
				<span id="rtr-s-Paragraph_2_0">Which of the following is a correct answer?</span>
			</div>

			<div id="s-Input_1" class="">
				<input class="checkBoxInput" type="checkbox" tabindex="-1">
			</div>

			<div id="s-Paragraph_3" class="">
				<span id="rtr-s-Paragraph_3_0">Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus, </span>
			</div>

			<div id="s-Input_2" class="">
				<input class="checkBoxInput" type="checkbox" tabindex="-1">
			</div>

			<div id="s-Paragraph_4" class="">
				<span id="rtr-s-Paragraph_4_0">Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus, amus elit eu mauris hendrerit facilisi, mi mattis pariatur aliquam pharetra eget.</span>
			</div>

			<div id="s-Input_3" class="">
				<input class="checkBoxInput" type="checkbox" tabindex="-1">
			</div>

			<div id="s-Paragraph_5" class="">
				<span id="rtr-s-Paragraph_5_0">Correct Answer</span>
			</div>

			<div id="s-Input_4" class="">
				<input class="checkBoxInput" type="checkbox" tabindex="-1">
			</div>

			<div id="s-Paragraph_6" class="">
				<span id="rtr-s-Paragraph_6_0">Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna </span>
			</div>

			<div id="s-Button_1" class="">
				<span id="rtr-s-Button_1_0">Submit Answer</span>
			</div>

			<div id="s-Text_4" class="">
				<span id="rtr-s-Text_4_0">Measurement</span>
			</div>

			<div id="s-Button_2" class="">
				<span id="rtr-s-Button_2_0">Formulae and Constants</span>
			</div>

			<div id="s-Group_2" class="">
				<div id="s-Rectangle_4" class="">
					<span id="rtr-s-Rectangle_4_0"></span>
				</div>

				<div id="s-Rectangle_5" class="">
					<span id="rtr-s-Rectangle_5_0"></span>
				</div>
			</div>

			<div id="s-Text_6" class="">
				<span id="rtr-s-Text_6_0">27%</span>
			</div>

			<div id="s-Accordion" class="">				
				<div id="s-Rectangle_2" class="">
					<span id="rtr-s-Rectangle_2_0"></span>
				</div>
				
				<div id="s-Image_97" class="" alt="image" overlay="#959A9D">
					<img src="{% static "images/s-Image_97.png" %}" alt="image"/>
				</div>

				<div id="s-Group_25" class="">
					
					<div id="s-Image_39" class="" alt="image" overlay="#959A9D">
						<img src="{% static "images/s-Image_39.png" %}" alt="image"/>
					</div>

					<div id="s-Rectangle_25" class="">
						<span id="rtr-s-Rectangle_25_0">Up to 26 topics</span>
					</div>
				</div>

				<div id="s-Group_18" class="">
					<div id="s-Image_32" class="" alt="image" overlay="#959A9D">
					<img src="{% static "images/s-Image_32.png" %}" alt="image"/>
				</div>

				<div id="s-Rectangle_18" class="">
					<span id="rtr-s-Rectangle_18_0">3 Forces</span>
				</div>
			</div>

			<div id="s-Group_17" class="">
				<div id="s-Image_31" class="" alt="image" overlay="#959A9D">
					<img src="{% static "images/s-Image_31.png" %}" alt="image"/>
				</div>

				<div id="s-Rectangle_17" class="">
					<span id="rtr-s-Rectangle_17_0">2 Kinematics</span>
				</div>
			</div>

						 <div id="s-Paragraph_7" class="">
				<span id="rtr-s-Paragraph_7_0">1 Physical Quantities<br><br></span>
				<span id="rtr-s-Paragraph_7_1">2 SI units<br><br></span>
				<span id="rtr-s-Paragraph_7_2">3 Avogadro constant<br><br>4 Scalars and vectors</span>
						 </div>

						 <div id="s-Text_7" class="">
							<span id="rtr-s-Text_7_0">7/10, 70%</span>
						 </div>

						 <div id="s-Text_8" class="">
							<span id="rtr-s-Text_8_0">3</span><span id="rtr-s-Text_8_1">/5, 60%</span>
						 </div>
						 
						 <div id="s-Group_16" class="">
				<div id="s-Image_30" class="" alt="image" overlay="#959A9D">
					<img src="{% static "images/s-Image_30.png" %}" alt="image"/>
				</div>

				<div id="s-Rectangle_16" class="">
					<span id="rtr-s-Rectangle_16_0">1 Measurement</span>
				</div>
			</div>
		</div>

		<div id="s-VerticalScroll" class="">
			<div id="s-Rectangle_3" class="">
				<span id="rtr-s-Rectangle_3_0"></span>
			</div>

			<div id="s-Image_9" class="" rotationdeg="180" alt="image" overlay="#83888C">
				<img src="{% static "images/s-Image_9.jpg" %}" alt="image"/>
			</div>

		</div>

		<div id="s-canvasPanel_1" class="">
						 <div id="s-fill_1" class="">
								 <span id="rtr-s-fill_1_0"></span>
						 </div>

						 <div id="s-stroke_1" class="" alt="image">
				<table class="table table-bordered">
						<thead>
							<tr>
						<th>Concepts</th>
						<th>Details</th>
							</tr>
						</thead>
						<tbody>
						{% for item in tables %}
						<tr>
							<td><a href="#">{{ item.concepts }}</a></td>
							<td>{{ item.details }}</td>
						</tr>
						{% endfor %}
						</tbody>
					</table>
						 </div>
					 </div>

					 <div id="s-Image_6" class="" alt="image" overlay="#DDDDDD">
							<img src="{% static "images/arrowLeft.jpg" %}" id="arrowLeft" alt="image"/>
					 </div>

		<div id="s-Image_5" class="" alt="image" overlay="#DDDDDD">
			<img src="{% static "images/arrowRight.png" %}" id="arrowRight" alt="image"/>
		</div>

	</div>
</div>
{% endblock %}