{% extends 'base.html' %}

{% load account %}
{% load static %}
{% load staticfiles %}

{% block styles %}
		<link href="{% static 'css/progress.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<div class="container">

	{% block navmenu %}
		{% include "navmenu.html" %}
	{% endblock %}

	<div class="row isi">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div id="s-Text_10" class="">
				<span id="rtr-s-Text_10_0">Measurement - Topic overall</span>
			</div>
			<div id="s-Image_12" class="" alt="image">
				<img src="{% static "images/s-Image_12.jpg" %}" alt="image"/>
			</div>

			<div id="s-Image_13" class="" alt="image">
				<img src="{% static "images/s-Image_13.jpg" %}" alt="image"/>
			</div>

			<div id="shapewrapper-s-Line_3" class="">
				<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" id="svg-s-Line_3" class="svgContainer" style="width: 100%; height: 100%; left: 0px; top: 0px;">
				<path id="s-Line_3" class="" d="M 0 1 L 986 1" style="fill: rgba(0, 0, 0, 0);"></path>
				</svg>
			</div>

				<div id="s-VerticalScroll" class="">
					<div id="s-Rectangle_3" class="">
						<span id="rtr-s-Rectangle_3_0"></span>
					</div>


					<div id="s-Image_9" class="" rotationdeg="180" alt="image" overlay="#83888C">
						<img src="{% static "images/s-Image_9.jpg" %}" alt="image"/>
					</div>

				</div>

				<div id="s-Table_1" class="">
					<table summary="">
						<tbody>
							<tr>
								<td id="s-Text_cell_1" class="">
									<span id="rtr-s-Text_cell_1_0">1</span>
								</td>
								<td id="s-Text_cell_4" class="">
									<span id="rtr-s-Text_cell_4_0">SI base quantities &amp; units</span>
								</td>
								<td id="s-Text_cell_7" class="">
									<span id="rtr-s-Text_cell_7_0">7 SI base quantities and units.</span>
								</td>
							</tr>
							<tr>
								<td id="s-Text_cell_2" class="">
									<span id="rtr-s-Text_cell_2_0">2</span>
								</td>
								<td id="s-Text_cell_5" class="">
									<span id="rtr-s-Text_cell_5_0">Derived quantities &amp; units</span>
								</td>
								<td id="s-Text_cell_8" class="">
									<span id="rtr-s-Text_cell_8_0">1 Derived quantity/unit is a product of the powers of other quantities/units. A derived unit may have special name &amp; short form. Same derived unit does not imply same derived quantity.<br><br>2 Principle of defining quantities/units - quantities in terms of quantities and units in terms of units. Equations in SI assume usage of SI units.</span>
								</td>
							</tr>
							<tr>
								<td id="s-Text_cell_3" class="">
									<span id="rtr-s-Text_cell_3_0">3</span>
								</td>
								<td id="s-Text_cell_6" class="">
									<span id="rtr-s-Text_cell_6_0">Prefixes</span>
								</td>
								<td id="s-Text_cell_9" class="">
									<span id="rtr-s-Text_cell_9_0">Prefixes within SI system: pico, nano, micro, milli, kilo, mega, giga, tera &amp; their symbols.</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div id="s-Image_2" class="" alt="image">
					<img src="{% static "images/s-Image_2.jpg" %}" alt="image"/>
				</div>

				<div id="s-Image_1" class="" alt="image">
					<img src="{% static "images/s-Image_1.jpg" %}" alt="image"/>
				</div>

				<div id="s-Image_5" class="" alt="image">
					<img src="{% static "images/s-Image_5.jpg" %}" alt="image"/>
				</div>

				<div id="s-Image_6" class="" alt="image">
					<img src="{% static "images/s-Image_6.jpg" %}" alt="image"/>
				</div>

		</div>
	</div>	
</div>
{% endblock %}