{% for item in patients %}
<tr>
    <td>{{ item.time|date:"H:i" }}</td>
    <td>{{ item.type_of_milk }}</td>
    <td>{{ item.amount }}</td>
    <td>{{ item.warm_water_before }}</td>
    <td>{{ item.warm_water_after }}</td>
    <td>{{ item.total_fluids }}</td>
    <td>
        <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline trigger_modal" data-form-url="{% url 'patient:enteral_feeding_regime_edit' item.patient.username item.id %}"data-original-title="Edit" title="Edit" style="background-color:transparent;"><i class="fas fa-pencil-alt" style="color: #b2b9bf"></i>
        </button>
        <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline trigger_modal" data-form-url="{% url 'patient:enteral_feeding_regime_delete' item.patient.username item.id %}"data-original-title="Delete" title="Delete" style="background-color:transparent;"><i class="fas fa-trash-alt" style="color: #b2b9bf"></i>
        </button>
    </td>
</tr>
{% endfor %}
