{% extends 'base.html' %}

{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load widget_tweaks %}

{% block headtitle %}
	{{ page_title }} | {{ titles.title }}
{% endblock %}

{% block styles %}
	<link href="{% static 'css/patient_data/admission.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/patient_data/patient_data.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascript %}
	<script src="{% static 'js/admission.js' %}"></script>
{% endblock %}

{% block content %}

<div class="page-wrapper">

	<div class="container-fluid">

		<div class="formtitle">
			{{ page_title }}
		</div>

		<div class="row detail">

	<div class="col-12">
		{% if profiles %}
				{% for item in profiles %}
				<div class="col-4">
					<span id="name_title">{% trans "Name" %}:</span>
					<span id="name_field">{{ item.full_name }}</span>
				</div>
				<div class="col-6">
					<span id="class_title">{% trans "IC Number" %}:</span>
					<span id="class_field">{{ item.ic_number }}</span>
				</div>
				{% endfor %}
		{% endif %}
	</div>

</div>

		<div class="row">

			<div class="col-12">
				<div class="card">

					<div class="card-body">

						<div class="table-responsive">
							<form method="post" id="dataForm" data-url="" novalidate>
							{% csrf_token %}
								<table id="t_add_row" class="table table-striped table-bordered display" style="width:100%">
									<thead>
										<tr>
											<th class="text-center">{% trans "Date" %}</th>
											<th class="text-center">{% trans "Time" %}</th>
											<th class="text-center">{% trans "Admitted" %}</th>
											<th class="text-center">{% trans "Mode" %}</th>
											<th class="text-center">{% trans "Age" %}</th>
											<th class="text-center">{% trans "Date of Birth" %}</th>
											<th class="text-center">{% trans "Gender" %}</th>
											<th class="text-center">{% trans "Marital Status" %}</th>
											<th class="text-center">{% trans "Religion" %}</th>
											<th class="text-center">{% trans "Occupation" %}</th>
											<th class="text-center">{% trans "Communication Sight" %}</th>
											<th class="text-center">{% trans "Communication Hearing" %}</th>
											<th class="text-center">{% trans "Communication Other" %}</th>
											<th class="text-center">{% trans "Address" %}</th>
											<th class="text-center">{% trans "Phone" %}</th>
											<th class="text-center">{% trans "EC Name" %}</th>
											<th class="text-center">{% trans "EC IC Number" %}</th>
											<th class="text-center">{% trans "EC Relationship" %}</th>
											<th class="text-center">{% trans "EC Phone" %}</th>
											<th class="text-center">{% trans "EC Address" %}</th>
											<th class="text-center">{% trans "General Condition" %}</th>
											<th class="text-center">{% trans "Temperature" %}</th>
											<th class="text-center">{% trans "Pulse" %}</th>
											<th class="text-center">{% trans "BP" %}</th>
											<th class="text-center">{% trans "Resp" %}</th>
											<th class="text-center">{% trans "SPO2" %}</th>
											<th class="text-center">{% trans "Oxygen" %}</th>
											<th class="text-center">{% trans "Oxygen" %}</th>
											<th class="text-center">{% trans "HGT" %}</th>
											<th class="text-center">{% trans "Allergy Drug" %}</th>
											<th class="text-center">{% trans "Allergy Food" %}</th>
											<th class="text-center">{% trans "Allergy Others" %}</th>
											<th class="text-center">{% trans "Biohazard/Infectious Disease" %}</th>
											<th class="text-center">{% trans "Invasive line insitu" %}</th>
											<th class="text-center">{% trans "Medical History" %}</th>
											<th class="text-center">{% trans "Surgical History" %}</th>
											<th class="text-center">{% trans "Date Diagnosis" %}</th>
											<th class="text-center">{% trans "Diagnosis" %}</th>
											<th class="text-center">{% trans "Date Operation" %}</th>
											<th class="text-center">{% trans "Operation" %}</th>
											<th class="text-center">{% trans "Own Medication" %}</th>
											<th class="text-center">{% trans "Adaptive aids with patient" %}</th>
											<th class="text-center">{% trans "Orientation" %}</th>
											<th class="text-center">{% trans "Special information" %}</th>
											<th class="text-center">{% trans "Admission By" %}</th>
											<th class="text-center">{% trans "Action" %}</th>
										</tr>
									</thead>

									<tbody>
										{% for item in patients %}
										<tr>
											<td>{{ item.date|date:"d-m-Y" }}</td>
											<td>{{ item.time|date:"H:i" }}</td>
											<td>{{ item.get_admitted_display }}</td>
											<td>{{ item.get_mode_display }}</td>
											<td>{{ item.age }}</td>
											<td>{{ item.birth_date|date:"d-m-Y" }}</td>
											<td>{{ item.get_gender_display }}</td>
											<td>{{ item.get_marital_status_display }}</td>
											<td>{{ item.get_religion_display }}</td>
											<td>{{ item.get_occupation_display }}</td>
											<td>{{ item.get_communication_sight_display }}</td>
											<td>{{ item.get_communication_hearing_display }}</td>
											<td>{{ item.communication_others }}</td>
											<td>{{ item.address }}</td>
											<td>{{ item.phone }}</td>
											<td>{{ item.ec_name }}</td>
											<td>{{ item.ec_ic_number }}</td>
											<td>{{ item.ec_relationship }}</td>
											<td>{{ item.ec_phone }}</td>
											<td>{{ item.ec_address }}</td>
											<td>{{ item.get_general_condition_display }}</td>
											<td>{{ item.vital_sign_temperature }} ºC</td>
											<td>{{ item.vital_sign_pulse }} bpm</td>
											<td>{{ item.vital_sign_bp }} mmHg</td>
											<td>{{ item.vital_sign_resp }} min</td>
											<td>{{ item.vital_sign_spo2 }} %</td>
											<td>{{ item.get_vital_sign_on_oxygen_therapy_display }}</td>
											<td>{{ item.vital_sign_on_oxygen_therapy_flow_rate }}</td>
											<td>{{ item.vital_sign_hgt }}</td>
											<td>{{ item.allergy_drug }}</td>
											<td>{{ item.allergy_food }}</td>
											<td>{{ item.allergy_others }}</td>
											<td>{{ item.get_biohazard_infectious_disease_display }}</td>
											<td>{{ item.get_invasive_line_insitu_display }}</td>
											<td>{{ item.get_medical_history_display }}</td>
											<td>{{ item.surgical_history }}</td>
											<td>{{ item.date_diagnosis|date:"d-m-Y" }}</td>
											<td>{{ item.diagnosis }}</td>
											<td>{{ item.date_operation|date:"d-m-Y" }}</td>
											<td>{{ item.operation }}</td>
											<td>{{ item.get_own_medication_display }}</td>
											<td>{{ item.get_adaptive_aids_with_patient_display }}</td>
											<td>{{ item.get_orientation_display }}</td>
											<td>{{ item.special_information }}</td>
											<td>{{ item.admission_by }}</td>
											<td>
												<button type="button" class="btn btn-sm btn-icon btn-pure btn-outline edit-row-btn" data-url="{% url 'patient_data:admission_data_edit' item.id %}"data-original-title="Edit" title="Edit" style="background-color:transparent;"><i class="fas fa-pencil-alt" style="color: #b2b9bf"></i>
												</button>
												<button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-url="{% url 'patient_data:admission_data_delete' item.id %}"data-original-title="Delete" title="Delete" style="background-color:transparent;"><i class="fas fa-trash-alt" style="color: #b2b9bf"></i>
												</button>
											</td>
										</tr>
										{% endfor %}
									</tfoot>
								</table>
							</form>
						</div>
						{% for item in profiles %}
						<a class="btn btn-outline-primary" href="{% url 'patient_data:patientdata_detail' item.id %}">{% trans "Back" %}</a>
						{% endfor %}

					</div>

                </div>
            </div>

        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" style="display: none;" aria-hidden="true">
            <div class="modal-dialog" role="document">

                <div class="modal-content">

                </div>

            </div>
        </div>

    </div>

</div>

{% endblock %} 
