.isi {
  height: auto;
}

.footer {
  height: 151px;
}

#s-Text_1 {
  width: auto;
  height: auto;
  margin-left: 189px;
  margin-top: 0px;
  -webkit-transform: rotate(0deg);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  padding: 0px 0px;
  position: absolute;
  text-align: left;
  text-shadow: none;
  transform: rotate(0deg);
  vertical-align: middle;
}

#s-Text_1 span {
  color: #6ACA25;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-Text_1 span#rtr-s-Text_1_0 {
  color: #6ACA25;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-Text_1 span#rtr-s-Text_1_1 {
  color: #6ACA25;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-Text_1 span#rtr-s-Text_1_2 {
  color: #6ACA25;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-Text_1 span#rtr-s-Text_1_3 {
  color: #6ACA25;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-Text_1 span#rtr-s-Text_1_4 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-Text_1 span#rtr-s-Text_1_5 {
  color: #6ACA25;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-Text_1 span#rtr-s-Text_1_6 {
  color: #6ACA25;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-Text_1 span#rtr-s-Text_1_7 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-Text_1 span#rtr-s-Text_1_8 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-Text_1 span#rtr-s-Text_1_9 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-Text_91 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-Text_91 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding: 0px 0px;
  font-size: 10.0pt;
  font-family: 'Comic Sans MS',Arial;
}
#s-Text_91 > .clipping, #s-Text_91 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding: 0px 0px;
}
#s-Text_91 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-Text_91 span {
  color: #2B2B2B;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-Text_91 span#rtr-s-Text_91_0 {
  color: #2B2B2B;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}

#s-Text_2 {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  height: 22px;
  margin-left: 92px;
  margin-top: 0px;
  padding: 0px 0px;
  position: absolute;
  text-align: left;
  text-shadow: none;
  transform: rotate(0deg);
  vertical-align: middle;
  width: 86px;
}
#s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}

#s-Text_3 {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  height: 27px;
  margin-left: 90px;
  margin-top: 48px;
  padding: 0px 0px;
  position: absolute;
  text-align: left;
  text-shadow: none;
  transform: rotate(0deg);
  vertical-align: middle;
  width: 13px;
}

#s-Text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-Text_3 span#rtr-s-Text_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}

#s-Paragraph_1 {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  height: auto;
  line-height: 18px;
  margin-left: 111px;
  margin-top: 48px;
  padding: 0px 0px;
  position: absolute;
  text-align: left;
  text-shadow: none;
  transform: rotate(0deg);
  vertical-align: top;
  width: 709px;
}

#s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}

#s-Image_1 {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  height: 144px;
  margin-left: 123px;
  margin-top: 127px;
  padding: 0px 0px;
  position: absolute;
  transform: rotate(0deg);
  width: 345px;
}
#s-Image_1 > img, #s-Image_1 > svg {
  height: 144px;
  width: 345px;
  box-shadow: none;
}

#s-Paragraph_2 {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  height: auto;
  line-height: 18px;
  margin-left: 111px;
  margin-top: 293px;
  padding: 0px 0px;
  position: absolute;
  text-align: left;
  text-shadow: none;
  transform: rotate(0deg);
  vertical-align: top;
  width: 293px;
}

#s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}

#s-Input_1 > input {
  left: 0px;
  top: 0px;
}
#s-Input_1 {
  width: 13px;
  height: 13px;
  margin-left: 111px;
  margin-top: 341px;
  position: absolute;
  box-shadow: 3px 5px 5px 0px #404040;
  padding: 0px 0px;
}

#s-Paragraph_3 {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  height: auto;
  line-height: 18px;
  margin-left: 147px;
  margin-top: 329px;
  padding: 0px 0px;
  position: absolute;
  text-align: left;
  text-shadow: none;
  transform: rotate(0deg);
  vertical-align: top;
  width: 608px;
}

#s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}

#s-Input_2 > input {
  left: 0px;
  top: 0px;
}

#s-Input_2 {
  width: 13px;
  height: 13px;
  margin-left: 111px;
  margin-top: 409px;
  position: absolute;
  box-shadow: 3px 5px 5px 0px #404040;
  padding: 0px 0px;
}

#s-Paragraph_4 {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  height: auto;
  line-height: 18px;
  margin-left: 147px;
  margin-top: 388px;
  padding: 0px 0px;
  position: absolute;
  text-align: left;
  text-shadow: none;
  transform: rotate(0deg);
  vertical-align: top;
  width: 608px;
}
#s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-Input_3 > input {
  left: 0px;
  top: 0px;
}
#s-Input_3 {
  width: 13px;
  height: 13px;
  margin-left: 111px;
  margin-top: 466px;
  position: absolute;
  box-shadow: 3px 5px 5px 0px #404040;
  padding: 0px 0px;
}

#s-Paragraph_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}

#s-Paragraph_5 {
  width: 101px;
  height: 17px;
  margin-left: 147px;
  margin-top: 464px;
  position: absolute;
  width: 101px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding: 0px 0px;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-Paragraph_5 > .clipping, #s-Paragraph_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding: 0px 0px;
}
#s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-Paragraph_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}

#s-Input_4 > input {
  left: 0px;
  top: 0px;
}

#s-Input_4 {
  width: 13px;
  height: 13px;
  margin-left: 111px;
  margin-top: 518px;
  position: absolute;
  box-shadow: 3px 5px 5px 0px #404040;
  padding: 0px 0px;
}

#s-Paragraph_6 {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  height: auto;
  line-height: 18px;
  margin-left: 147px;
  margin-top: 516px;
  padding: 0px 0px;
  position: absolute;
  text-align: left;
  text-shadow: none;
  transform: rotate(0deg);
  vertical-align: top;
  width: 575px;
}

#s-Paragraph_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}

#s-Button_1 {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border: 1px solid #CDCDCD;
  box-shadow: none;
  cursor: pointer;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  height: 32px;
  margin-left: 111px;
  margin-top: 561px;
  padding: 0px 0px;
  padding: 1px 1px;
  position: absolute;
  text-align: center;
  text-shadow: none;
  transform: rotate(0deg);
  vertical-align: middle;
  width: 149px;
}

#s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}

#s-Text_4 {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  height: auto;
  margin-left: 577px;
  margin-top: 0px;
  padding: 0px 0px;
  position: absolute;
  text-align: left;
  text-shadow: none;
  transform: rotate(0deg);
  vertical-align: middle;
  width: auto;
}

#s-Text_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-Text_4 span#rtr-s-Text_4_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}

#s-Button_2 {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border: 1px solid #CDCDCD;
  box-shadow: none;
  cursor: pointer;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  height: 48px;
  right: 0px;
  margin-top: 559px;
  padding: 0px 0px;
  position: absolute;
  text-align: center;
  text-shadow: none;
  transform: rotate(0deg);
  vertical-align: middle;
  width: 105px;
}

#s-Button_2 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-Button_2 span#rtr-s-Button_2_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}

#s-Group_2 {
  margin-left: 709px;
  margin-top: 0px;
  position: absolute;
  width: 176px;
  height: 22px;
}

#s-Rectangle_4 {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  background-color: #F7F7F7;
  background-image: none;
  border-bottom: 1px solid #F7F7F7;
  border-top: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
  border-left: 1px solid #E5E5E5;
  border-radius: 3px 3px 3px 3px;
  box-shadow: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  height: 22px;
  margin-left: 0px;
  margin-top: 0px;
  padding: 0px 0px;
  position: absolute;
  text-align: left;
  text-shadow: none;
  transform: rotate(0deg);
  vertical-align: middle;
  width: 176px;
}

#s-Rectangle_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}

#s-Rectangle_5 {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  background-color: #337AB7;
  background-image: none;
  border: 0px solid #000000;
  box-shadow: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  height: 20px;
  margin-left: 0px;
  margin-top: 1px;
  padding: 0px 0px;
  position: absolute;
  text-align: left;
  text-shadow: none;
  transform: rotate(0deg);
  vertical-align: middle;
  width: 60px;
}

#s-Rectangle_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}

#s-Text_6 {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  height: auto;
  margin-left: 741px;
  margin-top: 3px;
  padding: 0px 0px;
  padding: 0px 0px;
  position: absolute;
  text-align: left;
  text-shadow: none;
  transform: rotate(0deg);
  vertical-align: middle;
  width: auto;
}

#s-Text_6 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-Text_6 span#rtr-s-Text_6_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}

#s-Accordion {
  height: 609px;
  margin-left: -17px;
  margin-top: 27px;
  position: absolute;
  width: 224px;
}

#s-Rectangle_2 {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  height: 607px;
  line-height: 18px;
  margin-left: 0px;
  margin-top: 0px;
  padding: 0px 0px;
  position: absolute;
  text-align: center;
  text-shadow: none;
  transform: rotate(0deg);
  vertical-align: middle;
  width: 223px;
}

#s-Rectangle_2 span {
  color: #333333;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

#s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
  text-align: center;
  text-decoration: none;
}

#s-Image_97 {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  height: 609px;
  margin-left: 0px;
  margin-top: 0px;
  padding: 0px 0px;
  position: absolute;
  transform: rotate(0deg);
  width: 224px;
}

#s-Image_97 > img, #s-Image_97 > svg {
  box-shadow: none;
  height: 609px;
  width: 224px;
}

#s-Group_25 {
  height: 41px;
  margin-left: 1px;
  margin-top: 568px;
  position: absolute;
  width: 222px;
}

#s-Group_25 {
  position: absolute;
  width: 222px;
  height: 41px;
}

#s-Image_39 {
  position: absolute;
  width: 222px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding: 0px 0px;
}
#s-Image_39 > img, #s-Image_39 > svg {
  height: 40px;
  width: 222px;
  box-shadow: none;
}

#s-Rectangle_25 {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  position: absolute;
  width: 221px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding: 0px 0px;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: 'Comic Sans MS',Arial;
  height: 40px;
  width: 211px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 0px;
  vertical-align: middle;
  text-align: left;
}

#s-Rectangle_25 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-Rectangle_25 span#rtr-s-Rectangle_25_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-Group_18 {
  position: absolute;
  width: 222px;
  height: 41px;
}
#s-Image_32 > svg {
}
#s-Image_32 {
  position: absolute;
  width: 222px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding: 0px 0px;
}
#s-Image_32 > img, #s-Image_32 > svg {
  height: 40px;
  width: 222px;
  box-shadow: none;
}

#s-Rectangle_18 {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  position: absolute;
  width: 221px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding: 0px 0px;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: 'Comic Sans MS',Arial;
  height: 40px;
  width: 211px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 0px;
  vertical-align: middle;
  text-align: left;
}

#s-Rectangle_18 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-Rectangle_18 span#rtr-s-Rectangle_18_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}

#s-Group_17 {
  position: absolute;
  width: 222px;
  height: 41px;
}
#s-Image_31 > svg {
}
#s-Image_31 {
  position: absolute;
  width: 222px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding: 0px 0px;
}
#s-Image_31 > img, #s-Image_31 > svg {
  height: 40px;
  width: 222px;
  box-shadow: none;
}
#s-Rectangle_17 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-Rectangle_17 {
  position: absolute;
  width: 221px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding: 0px 0px;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: 'Comic Sans MS',Arial;
}
#s-Rectangle_17 > .clipping, #s-Rectangle_17 > .paddingLayer {
  height: 40px;
  width: 211px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 0px;
}
#s-Rectangle_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-Rectangle_17 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-Rectangle_17 span#rtr-s-Rectangle_17_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}

#s-Paragraph_7 {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  height: 157px;
  line-height: 18px;
  margin-left: 7px;
  margin-top: 41px;
  padding: 0px 0px;
  position: absolute;
  text-align: left;
  text-shadow: none;
  transform: rotate(0deg);
  vertical-align: top;
  width: 223px;
}

#s-Paragraph_7 span {
  color: #0DAAD7;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #0DAAD7;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}

#s-Paragraph_7 span#rtr-s-Paragraph_7_1 {
  color: #0DAAD7;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}

#s-Paragraph_7 span#rtr-s-Paragraph_7_2 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}

#s-Group_16 {
  position: absolute;
  width: 222px;
  height: 40px;
}

#s-Image_30 {
  position: absolute;
  width: 222px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding: 0px 0px;
}
#s-Image_30 > img, #s-Image_30 > svg {
  height: 40px;
  width: 222px;
  box-shadow: none;
}

#s-Rectangle_16 {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  background-color: #2B2B2B;
  background-image: none;
  box-shadow: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  height: 38px;
  line-height: 19px;
  margin-left: 1px;
  margin-top: 1px;
  padding: 0px 0px;
  position: absolute;
  text-align: left;
  text-shadow: none;
  transform: rotate(0deg);
  vertical-align: middle;
  width: 221px;
}

#s-Rectangle_16 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-Rectangle_16 span#rtr-s-Rectangle_16_0 {
  margin-left: 5px;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-Rectangle_16 span#rtr-s-Rectangle_16_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-Rectangle_16 span#rtr-s-Rectangle_16_2 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}

#s-Image_5 {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  height: 27px;
  margin-left: -14px;
  margin-top: 0px;
  padding: 0px 0px;
  position: absolute;
  transform: rotate(0deg);
  width: 15px;
}

#s-Image_5 > img, #s-Image_5 > svg {
  box-shadow: none;
  height: 27px;
  width: 15px;
}

#s-Text_7 {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  height: auto;
  margin-left: 158px;
  margin-top: 41px;
  padding: 0px 0px;
  position: absolute;
  text-align: left;
  text-shadow: none;
  transform: rotate(0deg);
  vertical-align: middle;
  width: auto;
}

#s-Text_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-Text_7 span#rtr-s-Text_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}

#s-Text_8 {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  height: auto;
  margin-left: 158px;
  margin-top: 78px;
  padding: 0px 0px;
  position: absolute;
  text-align: left;
  text-shadow: none;
  transform: rotate(0deg);
  vertical-align: middle;
  width: auto;
}

#s-Text_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-Text_8 span#rtr-s-Text_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-Text_8 span#rtr-s-Text_8_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#shapewrapper-s-Line_1 marker {
  fill: #DDDDDD;
}
#shapewrapper-s-Line_1 {
  position: absolute;
  width: 986px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding: 0px 0px;
}
#s-Line_1 {
  width: 986px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #DDDDDD;
  box-shadow: none;
}

#s-VerticalScroll {
  right: 108px;
  margin-top: 50px;
  position: absolute;
  width: 26px;
  height: 405px;
  overflow-x: hidden;
  overflow-y: auto;
}

#s-Rectangle_3 {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  background-attachment: scroll;
  background-color: #FFFFFF;
  background-image: none;
  background-position-x: left;
  background-position-y: top;
  background-repeat: repeat;
  background-size: auto;
  box-shadow: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  height: 432px;
  line-height: 18px;
  padding: 0px 0px 0px 0px;
  position: absolute;
  text-align: center;
  text-shadow: none;
  transform: rotate(0deg);
  vertical-align: middle;
  width: 21px;
}

#s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}

#s-Image_7 {
  margin-left: 0px;
  margin-top: 1px;
  position: absolute;
  width: 26px;
  height: 433px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

#s-Image_7 > img, #s-Image_7 > svg {
  height: 433px;
  width: 26px;
  box-shadow: none;
}

#s-Image_8 {
  margin-left: 6px;
  margin-top: 0px;
  position: absolute;
  width: 13px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

#s-Image_8 > img, #s-Image_8 > svg {
  height: 13px;
  width: 14px;
  box-shadow: none;
}

#s-Image_9 {
  margin-left: 8px;
  margin-top: 423px;
  position: absolute;
  width: 13px;
  height: 13px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  opacity: 0;
}
#s-Image_9 > img, #s-Image_9 > svg {
  height: 13px;
  width: 14px;
  box-shadow: none;
}

#s-Scroll {
  margin-left: 0px;
  margin-top: 23px;
  position: absolute;
  width: 26px;
  height: 387px;
}

#s-Image_10 {
  margin-left: 0px;
  margin-top: 373px;
  position: absolute;
  width: 26px;
  height: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-Image_10 > img, #s-Image_10 > svg {
  height: 5px;
  width: 26px;
  box-shadow: none;
}

#s-Image_11 {
  margin-left: 0px;
  margin-top: -7px;
  position: absolute;
  width: 26px;
  height: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-Image_11 > img, #s-Image_11 > svg {
  height: 5px;
  width: 26px;
  box-shadow: none;
}

#s-Image_3 {
  margin-left: 3px;
  margin-top: 10px;
  position: absolute;
  width: 19px;
  height: 154px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

#s-Image_3 > img, #s-Image_3 > svg {
  height: 154px;
  width: 19px;
  box-shadow: none;
}

#s-canvasPanel_1 {
  width: 300px;
  height: 459px;
  margin-left: 710.75px;
  margin-top: 27px;
  position: absolute;
}

#s-fill_1 {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  height: 454px;
  line-height: 18px;
  margin-left: 1px;
  margin-top: 0px;
  padding: 0px 0px;
  position: absolute;
  text-align: center;
  text-shadow: none;
  transform: rotate(0deg);
  vertical-align: middle;
  width: 298px;
}

#s-fill_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-fill_1 span#rtr-s-fill_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}

#s-stroke_1 {
  width: 300px;
  height: 457px;
  margin-left: 0px;
  margin-top: 2px;
  position: absolute;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding: 0px 0px;
}

#s-stroke_1 > img, #s-stroke_1 > svg {
  height: 457px;
  width: 300px;
  box-shadow: none;
}

#s-stroke_1 > table.table-bordered > thead > tr > th:nth-child(1), #s-stroke_1 > table.table-bordered > thead > tr > th:nth-child(2)
{
  background-color: #E5DFEB;
  border: 1px solid black;
  text-align: center;
}

#s-stroke_1 > table.table-bordered > tbody > tr > td {
  border: 1px solid black;
}

#s-Image_6 {
  right: 0px;
  margin-top: 0px;
  position: absolute;
  width: 15px;
  height: 27px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding: 0px 0px;
}

#s-Image_6 > img, #s-Image_6 > svg {
  height: 27px;
  width: 15px;
  box-shadow: none;
}
