html, body {
  background-color: #EFEFEF !important;
}

.container {
  max-width: 1024px;
/*  margin-right: auto;
  margin-left: auto;
  margin: 0px 0px 0px 130px; */
}

.row {
  background-color: #fff;
}

