.navigation {
  height: 205px;
}

.isi {
  height: 340px;
}

.footer {
  height: 151px;
}

#logo {
  position: absolute;
  width: 314px;
  height: 229px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

#logo > img, #logo > svg {
  height: 229px;
  width: 314px;
  box-shadow: none;
}

#slogan_title {
  margin-left: 332px;
  margin-top: 99px;
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  font-family: 'Bauhaus 93',Arial;
  font-size: 60.0pt;
  height: auto;
  padding: 0px 0px 0px 0px;
  position: absolute;
  text-align: left;
  text-shadow: none;
  transform: rotate(0deg);
  vertical-align: middle;
  width: auto;
}

#slogan_title span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Bauhaus 93',Arial;
  font-size: 60.0pt;
  font-style: normal;
  font-weight: 400;
}

#slogan_title span#rtr-slogan_title_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Bauhaus 93',Arial;
  font-size: 60.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}

#s-fieldSet {
  width: 722px;
  height: 137px;
  margin-left: 0px;
  margin-top: 73px;
  position: absolute;
}

#s-Rectangle_1 {
  width: 718px;
  height: 130px;
  margin-left: 2px;
  margin-top: 6px;
  position: absolute;
  width: 718px;
  height: 130px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}

#login_box {
  margin-left: 0px;
  margin-top: 5px;
  position: absolute;
  width: 722px;
  height: 132px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  box-shadow: none;
}

#login_box > img {
  height: 132px;
  width: 722px;
  box-shadow: none;
  background-color: #fff;
  margin-left: 0px;
  top: 5px;
}

#fieldset_title {
  margin-left: 78px;
  margin-top: 0px;
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  height: auto;
  padding: 0px 0px 0px 0px;
  position: absolute;
  text-align: left;
  text-shadow: none;
  transform: rotate(0deg);
  vertical-align: middle;
  width: auto;
}

#fieldset_title span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#fieldset_title span#rtr-fieldset_title_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}

#id_password input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#id_password input::-moz-placeholder {
  color: #B4B4B4;
}
#id_password input:-moz-placeholder {
  color: #B4B4B4;
}
#id_password input:-ms-input-placeholder {
  color: #B4B4B4;
}
#id_password {
  margin-left: 269px;
  margin-top: 147px;
  position: absolute;
  width: 299px;
  height: 34px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  vertical-align: middle;
  line-height: 10.0pt;
}
#id_password input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  height: 32px;
  width: 292px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 1px;
}

#id_login input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#id_login input::-moz-placeholder {
  color: #B4B4B4;
}
#id_login input:-moz-placeholder {
  color: #B4B4B4;
}
#id_login input:-ms-input-placeholder {
  color: #B4B4B4;
}
#id_login {
  margin-left: 269px;
  margin-top: 89px; 
  position: absolute;
  width: 299px;
  height: 34px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  vertical-align: middle;
  line-height: 10.0pt;
}

#id_login input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  height: 32px;
  width: 292px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 1px;
}

#title_login {
  margin-left: 132px;
  margin-top: 109px;
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  height: auto;
  padding: 0px 0px 0px 0px;
  position: absolute;
  text-align: left;
  text-shadow: none;
  transform: rotate(0deg);
  vertical-align: middle;
  width: auto;
}

#title_login span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#title_login span#rtr-title_login_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}

#title_password {
  margin-left: 132px;
  margin-top: 160px;
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  height: auto;
  padding: 0px 0px 0px 0px;
  position: absolute;
  text-align: left;
  text-shadow: none;
  transform: rotate(0deg);
  vertical-align: middle;
  width: auto;
}

#title_password span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

#title_password span#rtr-title_password_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}

#title_forgetpassword {
  margin-left: 234px;
  margin-top: 204px;
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  height: auto;
  padding: 0px 0px 0px 0px;
  position: absolute;
  text-align: left;
  text-shadow: none;
  transform: rotate(0deg);
  vertical-align: middle;
  width: auto;
}

#title_forgetpassword span {
  color: #0DAAD7;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#title_forgetpassword span#rtr-title_forgetpassword_0 {
  color: #0DAAD7;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}

#title_forgetpassword span#rtr-title_forgetpassword_0 > a {
  color: #0DAAD7;
  text-decoration: none;
}

#title_forgetpassword span#rtr-title_forgetpassword_0 > a:hover {
  color: #0DAAD7;
  text-decoration: underline;
}

#login_button {
  margin-top: 204px;
  margin-left: 350px;
}

#s-Button_2 {
  margin-top: 204px;
  margin-left: 350px;
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border: 1px solid #CDCDCD;
  box-shadow: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  height: 32px;
  padding: 1px 1px 1px 1px;
  position: absolute;
  text-align: center;
  text-shadow: none;
  transform: rotate(0deg);
  vertical-align: middle;
  width: 114px;
}

#s-Title_1 {
  margin-left: 123px;
  margin-top: 35px;
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
  height: 16px;
  padding: 0px 0px 0px 0px;
  position: absolute;
  text-align: left;
  text-shadow: none;
  transform: rotate(0deg);
  vertical-align: middle;
  width: 125px;
}

#s-Title_1 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}

#s-Title_1 span#rtr-s-Title_1_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}

#s-Paragraph_1 {
  margin-left: 123px;
  margin-top: 59px;
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  height: 40px;
  line-height: 22px;
  padding: 0px 0px 0px 0px;
  position: absolute;
  text-align: left;
  text-shadow: none;
  transform: rotate(0deg);
  vertical-align: top;
  width: 111px;
}

#s-Paragraph_1 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}

#s-Title_2 {
  margin-left: 75px;
  margin-top: 35px;
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
  height: 16px;
  padding: 0px 0px 0px 0px;
  position: absolute;
  text-align: left;
  text-shadow: none;
  transform: rotate(0deg);
  vertical-align: middle;
  width: 125px;
}

#s-Title_2 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}

#s-Title_2 span#rtr-s-Title_2_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}

#s-Paragraph_2 {
  margin-left: 75px;
  margin-top: 59px;
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  height: 65px;
  line-height: 22px;
  padding: 0px 0px 0px 0px;
  position: absolute;
  text-align: left;
  text-shadow: none;
  transform: rotate(0deg);
  vertical-align: top;
  width: 161px;
}

#s-Paragraph_2 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}

#s-Paragraph_2 span#rtr-s-Paragraph_2_1 {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}

#s-Title_3 {
  margin-left: 59px;
  margin-top: 35px;
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
  height: 16px;
  padding: 0px 0px 0px 0px;
  position: absolute;
  text-align: left;
  text-shadow: none;
  transform: rotate(0deg);
  vertical-align: middle;
  width: 125px;
}

#s-Title_3 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}

#s-Title_3 span#rtr-s-Title_3_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}

#s-Title_3 span#rtr-s-Title_3_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}

#s-Paragraph_3 {
  margin-left: 60px;
  margin-top: 59px;
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  height: 65px;
  line-height: 22px;
  padding: 0px 0px 0px 0px;
  position: absolute;
  text-align: left;
  text-shadow: none;
  transform: rotate(0deg);
  vertical-align: top;
  width: 161px;
}

#s-Paragraph_3 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-Paragraph_3 span#rtr-s-Paragraph_3_1 {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}