{% for item in patients %}
<tr>
    <td>{{ item.date|date:"d-m-Y" }}</td>
    <td>{{ item.convert_duration_time }}</td>
    <td>{{ item.hours|date:"H:i" }}</td>
    <td>{{ delta }}</td>
    <td>{{ item.checked_sign_by }}</td>
    <td>{{ item.verify_by }}</td>
    <td>
        <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline edit-row-btn" data-url="{% url 'patient_data:overtime_claim_data_edit' item.id %}"data-original-title="Edit" title="Edit" style="background-color:transparent;"><i class="fas fa-pencil-alt" style="color: #b2b9bf"></i>
        </button>
        <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-url="{% url 'patient_data:overtime_claim_data_delete' item.id %}"data-original-title="Delete" title="Delete" style="background-color:transparent;"><i class="fas fa-trash-alt" style="color: #b2b9bf"></i>
        </button>
    </td>
</tr>
{% endfor %}