{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block headtitle %}
    {{ page_title }} | {{ titles.title }}
{% endblock %}

{% block style %}
    <link href="{% static 'css/patient/patient.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/patient/nursing.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/jquery.formset.js' %}"></script>
{% endblock %}

{% block extrahead %}
    {{ formset.media }}
{% endblock %}

{% block content %}

<div class="container-fluid">

    <div class="row formtitle">
        {{ page_title }}
    </div>

    <p style="font-size:12px">{% include 'messages.html' %}</p>

    {% include 'patient/patient_formset.html' %}

    <form method="post">
    {% csrf_token %}
    {{ formset.management_form }}

        <div class="row rounded form_table">

            <table id="form_set" class="table table-bordered">
                <thead class="thead_light">
                    <tr class="d-flex">
                        <th class="col-2 text-center">{% trans "Date/Time" %}</th>
                        <th class="col-9 text-center">{% trans "Report" %}</th>
                        <th class="col-1 text-center">{% trans "Action" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in formset.forms %}
                    <tr id="{{ item.prefix }}-row" class="d-flex">
                        <td class="col-2">{{ item.date_time|as_crispy_field }}</td>
                        <td class="col-9">{{ item.report|as_crispy_field }}</td>
                        <td class="col-1"></td>
                    </tr>
                    <tr class="tambah_row"></tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>


            <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
            {% for item in profiles %}
            <a class="btn btn-danger kirim" href="{% url 'patient:patientdata_detail' item.username %}">{% trans "Cancel" %}</a>
            {% endfor %}

    </form>

</div>

{% endblock %}


{% block jscript %}
<script type='text/javascript'>
$(document).ready(function()
{
    $(function()
    {
        $('#form_set tbody tr').formset(
        {
//          prefix: 'formset',
//          prefix: '{{ formset.prefix }}',
            addCssClass: 'btn btn-success',
            addText: '<i class="fas fa-plus"></i>',
            deleteCssClass: 'btn btn-danger',
            deleteText: '<i class="fas fa-minus"></i>',
            keepFieldValues: '#id_form-0-date_time',
//          addContainerClass: 'tambah_row',
            added: function(row)
            {
                $(row).find('[id$="date"]').removeClass('datetimepickerinput').removeAttr('#id_form-0-date_time').removeData('DateTimePicker')
            .unbind().datetimepicker(
                options={
                    "format": "DD-MM-YYYY HH:mm",
                });
            },
        });
    });
});
</script>
{% endblock %}
