{% extends 'base.html' %}

{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

{% block styles %}
	<link href="{% static 'css/form_data/appointment.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

<div class="container">

	{% block navmenu %}
		{% include "navmenu.html" %}
	{% endblock %}

	<div class="row isi">

		<div class="formtitle">
			Appointment Form
		</div>

		<div class="clear"></div>


		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<form method="post">
				{% csrf_token %}
				<table class="table-sm table-bordered">
					<tbody>
						<tr>
							<td>Full name  (as per IC):</td>
							<td>{{ form.full_name|as_crispy_field }}</td>
						</tr>
						<tr>
							<td>IC No:</td>
							<td>{{ form.ic_number|as_crispy_field }}</td>
						</tr>
					</tbody>
				</table>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Appointment</th>
							<th>Hospital / Clinic</th>
							<th>Treatment / Order</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="1">{{ form.appointment|as_crispy_field }}</td>
							<td colspan="1">{{ form.hospital_clinic|as_crispy_field }}</td>
							<td colspan="1">{{ form.treatment_order|as_crispy_field }}</td>
						</tr>
					</tbody>
				</table>
				<button type="submit" class="btn btn-primary">Sign in</button>
			</form>

		</div>

	</div>
</div>
{% endblock %}