{% extends 'base.html' %}

{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

{% block styles %}
	<link href="{% static 'css/form_data/dressing.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

<div class="container">

	{% block navmenu %}
		{% include "navmenu.html" %}
	{% endblock %}

	<div class="row isi">

		<div class="formtitle">
			Dressing Chart
		</div>

		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<form method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<table class="table-sm table-bordered">
					<tbody>
						<tr>
							<td>Full name  (as per IC):</td>
							<td>{{ form.full_name|as_crispy_field }}</td>
						</tr>
						<tr>
							<td>IC No:</td>
							<td>{{ form.ic_number|as_crispy_field }}</td>
						</tr>
					</tbody>
				</table>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Date</th>
							<th>Time</th>
							<th>Type</th>
							<th>Wound Condition</th>
							<th>Wound Location</th>
							<th>Photos</th>
							<th>Done By</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{ form.date|as_crispy_field }}</td>
							<td>{{ form.time|as_crispy_field }}</td>
							<td>{{ form.frequency|as_crispy_field }}</td>
							<td>{{ form.wound_location|as_crispy_field }}</td>
							<td>{{ form.wound_condition|as_crispy_field }}</td>
							<td>{{ form.photos|as_crispy_field }}</td>
							<td>{{ form.done_by|as_crispy_field }}</td>
						</tr>
					</tbody>
				</table>
				<button type="submit" class="btn btn-primary">Sign in</button>
			</form>

		</div>

	</div>
</div>
{% endblock %}