{% extends 'base.html' %}

{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

{% block styles %}
	<link href="{% static 'css/form_data/intake_output.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

<div class="container">

	{% block navmenu %}
		{% include "navmenu.html" %}
	{% endblock %}

	<div class="row isi">

		<div class="formtitle">
			Intake Output Chart
		</div>

		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<form method="post">
				{% csrf_token %}
				<table class="table-sm table-bordered">
					<tbody>
						<tr>
							<td>Full name  (as per IC):</td>
							<td>{{ form.full_name|as_crispy_field }}</td>
						</tr>
						<tr>
							<td>IC No:</td>
							<td>{{ form.ic_number|as_crispy_field }}</td>
						</tr>
					</tbody>
				</table>
				<table class="table table-bordered">
					<col>
						<colgroup span="3"></colgroup>
						<colgroup span="3"></colgroup>
					</col>
					<col>
						<colgroup span="2"></colgroup>
						<colgroup span="2"></colgroup>
					</col>
					<tr>
						<td rowspan="2">{{ form.date|as_crispy_field }}</td>
						<th colspan="6" scope="colgroup">Intake</th>
						<th colspan="6" scope="colgroup">Output</th>
					</tr>
					<tr>
						<th colspan="2" scope="colgroup">Oral</th>
						<th colspan="2" scope="colgroup">Parenteral</th>
						<th colspan="2" scope="colgroup">Other</th>
						<th colspan="2" scope="colgroup">Urine</th>
						<th colspan="2" scope="colgroup">Gas-Tric</th>
						<th colspan="2" scope="colgroup">Other</th>
					</tr>

					<tr>
						<td rowspan="1">Time</td>
						<th scope="col">Type</th>
						<th scope="col">ml.</th>
						<th scope="col">Type</th>
						<th scope="col">ml.</th>
						<th scope="col">Type</th>
						<th scope="col">ml.</th>
						<th scope="col">Type</th>
						<th scope="col">ml.</th>
						<th scope="col">Type</th>
						<th scope="col">ml.</th>
						<th scope="col">Type</th>
						<th scope="col">ml.</th>
					</tr>

					<tr>
						<th scope="row">{{ form.time|as_crispy_field }}</th>
						<td>{{ form.intake_oral_type|as_crispy_field }}</td>
						<td>{{ form.intake_oral_ml|as_crispy_field }}</td>
						<td>{{ form.intake_parenteral_type|as_crispy_field }}</td>
						<td>{{ form.intake_parenteral_ml|as_crispy_field }}</td>
						<td>{{ form.intake_other_type|as_crispy_field }}</td>
						<td>{{ form.intake_other_ml|as_crispy_field }}</td>
						<td>{{ form.urine_ml|as_crispy_field }}</td>
						<td>{{ form.urine_cumtotal|as_crispy_field }}</td>
						<td>{{ form.urine_cumtotal|as_crispy_field }}</td>
						<td>{{ form.urine_gastric_ml|as_crispy_field }}</td>
						<td>{{ form.other_type|as_crispy_field }}</td>
						<td>{{ form.other_ml|as_crispy_field }}</td>
					</tr>
				</table>
				<button type="submit" class="btn btn-primary">Sign in</button>
			</form>

		</div>

	</div>
</div>
{% endblock %}