{% extends 'base.html' %}

{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

{% block styles %}
<link href="{% static 'css/form_data/physiotherapy_general_assessment.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

<div class="container">
	{% block navmenu %}
		{% include "navmenu.html" %}
	{% endblock %}

	<div class="row isi">
		
		<div class="formtitle">
			Physiotherapy - General Assessment Form
		</div>

		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<form method="post" id="dataForm" data-url="{% url 'form_data:load_ic_number' %}" novalidate>
				{% csrf_token %}

				<table class="table-sm table-bordered">
					<tbody>
						<tr>
							<td>Full name  (as per IC):</td>
							<td>{{ form.full_name|as_crispy_field }}</td>
						</tr>
						<tr>
							<td>IC No:</td>
							<td>{{ form.ic_number|as_crispy_field }}</td>
						</tr>
					</tbody>
				</table>

				<table class="table table-bordered">
					<thead>
						<tr>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Doctor's Diagnosis{{ form.doctor_diagnosis|as_crispy_field }}</td>
                            <td>
                                <img src="{% static "images/left_body.png" %}" alt="Left Body"/>
                                <img src="{% static "images/right_body.png" %}" alt="Right Body"/>
                            </td>
						</tr>
						<tr>
							<td>Doctor's Management{{ form.doctor_management|as_crispy_field }}</td>
						</tr>
						<tr>
							<td>Problem{{ form.problem|as_crispy_field }}</td>
						</tr>
						<tr>
							<td>
								Pain Scale{{ form.pain_scale|as_crispy_field }}
								<br />
								Comments: {{ form.comments|as_crispy_field }}
							</td>
                            <td>Current History {{ form.current_history|as_crispy_field }}</td>
						</tr>
						<tr>
							<td>Special Question{{ form.special_question|as_crispy_field }}</td>
                            <td>Past History (relating to current problem ){{ form.past_history|as_crispy_field }}</td>
						</tr>
						<tr>
							<td>General Health{{ form.ic_number|as_crispy_field }}</td>
						</tr>
						<tr>
							<td>PMX / Surgery{{ form.ic_number|as_crispy_field }}</td>
                            <td>Observation{{ form.observation|as_crispy_field }}</td>
						</tr>
                        <tr>
                            <td>IX/MRI/X-Ray{{ form.ic_number|as_crispy_field }}</td>
                        </tr>
                        <tr>
                            <td>Medications/Steroids{{ form.ic_number|as_crispy_field }}</td>
                        </tr>
                        <tr>
                            <td>Occupation/Recreation{{ form.ic_number|as_crispy_field }}</td>
                            <td>Palpation{{ form.palpation|as_crispy_field }}</td>
                        </tr>
                        <tr>
                            <td>Pacemaker/Hearing Aid{{ form.ic_number|as_crispy_field }}</td>
                        </tr>
                        <tr>
                            <td>Splinting{{ form.ic_number|as_crispy_field }}</td>
                        </tr>
                        <tr>
                            <td>Physical Examination Movement:{{ form.ic_number|as_crispy_field }}</td>
                            <td>Neurological:{{ form.neurological|as_crispy_field }}</td>
                        </tr>
                        <tr>
                            <td>Muscle Power{{ form.ic_number|as_crispy_field }}</td>
                            <td>Clearing Test/ Other Joint:{{ form.clearing_test_other_joint|as_crispy_field }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Physiotherapist’s Impression:{{ form.ic_number|as_crispy_field }}</td>
                        </tr>
                        <tr>
                            <td>Functional Activities{{ form.ic_number|as_crispy_field }}</td>
                            <td>Short Term Goals{{ form.short_term_goals|as_crispy_field }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Long Term Goals:{{ form.ic_number|as_crispy_field }}</td>
                        </tr>
                        <tr>
                            <td>Special Test{{ form.ic_number|as_crispy_field }}</td>
                            <td>Plan Treatment:{{ form.plan_treatment|as_crispy_field }}</td>
                        </tr>
                        <tr>
                            <td>
                                Date & Time:{{ form.ic_number|as_crispy_field }}<br />
                                Attending Physiotherapist:{{ form.attending_physiotherapist|as_crispy_field }}
                            </td>
                        </tr>
					</tbody>
				</table>

				<button type="submit" class="btn btn-primary">Sign in</button>
			</form>

		</div>
	</div>
	
</div>

{% endblock %}
