{% for item in time_range_day %}
                                        <tr>
                                            <td>{{ item.date|date:"d-m-Y" }}</td>
                                            <td>{{ item.time_intake|date:"H:i" }}</td>
                                            <td>{{ item.intake_oral_type }}</td>
                                            <td>{{ item.intake_oral_ml }}</td>
                                            <td>{{ item.intake_parenteral_type }}</td>
                                            <td>{{ item.intake_parenteral_ml }}</td>
                                            <td>{{ item.intake_other_type }}</td>
                                            <td>{{ item.intake_other_ml }}</td>
                                            <td>{{ item.time_output|date:"H:i" }}</td>
                                            <td>{{ item.output_urine_ml }}</td>
                                            <td>{{ item.output_urine_cum }}</td>
                                            <td>{{ item.output_gastric_ml }}</td>
                                            <td>{{ item.output_other_type }}</td>
                                            <td>{{ item.output_other_ml }}</td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline edit-row-btn" data-url="{% url 'patient_data:intake_output_data_edit' item.id %}"data-original-title="Edit" title="Edit" style="background-color:transparent;"><i class="fas fa-pencil-alt" style="color: #b2b9bf"></i>
                                                </button>
                                                <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-url="{% url 'patient_data:intake_output_data_delete' item.id %}"data-original-title="Delete" title="Delete" style="background-color:transparent;"><i class="fas fa-trash-alt" style="color: #b2b9bf"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        {% endfor %}

                                        {% for item in time_range_night %}
                                        <tr>
                                            <td>{{ item.date|date:"d-m-Y" }}</td>
                                            <td>{{ item.time_intake|date:"H:i" }}</td>
                                            <td>{{ item.intake_oral_type }}</td>
                                            <td>{{ item.intake_oral_ml }}</td>
                                            <td>{{ item.intake_parenteral_type }}</td>
                                            <td>{{ item.intake_parenteral_ml }}</td>
                                            <td>{{ item.intake_other_type }}</td>
                                            <td>{{ item.intake_other_ml }}</td>
                                            <td>{{ item.time_output|date:"H:i" }}</td>
                                            <td>{{ item.output_urine_ml }}</td>
                                            <td>{{ item.output_urine_cum }}</td>
                                            <td>{{ item.output_gastric_ml }}</td>
                                            <td>{{ item.output_other_type }}</td>
                                            <td>{{ item.output_other_ml }}</td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline edit-row-btn" data-url="{% url 'patient_data:intake_output_data_edit' item.id %}"data-original-title="Edit" title="Edit" style="background-color:transparent;"><i class="fas fa-pencil-alt" style="color: #b2b9bf"></i>
                                                </button>
                                                <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-url="{% url 'patient_data:intake_output_data_delete' item.id %}"data-original-title="Delete" title="Delete" style="background-color:transparent;"><i class="fas fa-trash-alt" style="color: #b2b9bf"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        {% endfor %}