.isi {
  height: 840px;
}

.footer {
  height: 151px;
}

#s-Text_10 {
  width: 237px;
  height: 22px;
  margin-left: 122px;
  margin-top: 66px;
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  height: auto;
  padding: 0px 0px 0px 0px;
  position: absolute;
  text-align: left;
  text-shadow: none;
  transform: rotate(0deg);
  vertical-align: middle;
  width: auto;
}

#s-Text_10 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-Text_10 span#rtr-s-Text_10_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}

#s-Table_1 {
  margin-left: 41px;
  margin-top: 200px;
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #DDDDDD;
  box-shadow: none;
  height: 559px;
  padding: 0px 0px 0px 0px;
  position: absolute;
  width: 461px;
}
#s-Table_1 > table {
  padding: 1px 0px;
}

#s-Image_2 {
  margin-left: 743px;
  margin-top: 228px;
  position: absolute;
  width: 220px;
  height: 120px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding: 0px 0px 0px 0px;
}

#s-Image_2 > img, #s-Image_2 > svg {
  height: 120px;
  width: 220px;
  box-shadow: none;
}

#s-Image_1 {
  margin-left: 519px;
  margin-top: 213px;
  position: absolute;
  width: 219px;
  height: 150px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

#s-Image_1 > img, #s-Image_1 > svg {
  height: 150px;
  width: 219px;
  box-shadow: none;
}

#s-Image_7 {
  margin-left: 0px;
  margin-top: 1px;
  position: absolute;
  width: 26px;
  height: 433px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

#s-Image_7 > img, #s-Image_7 > svg {
  height: 433px;
  width: 26px;
  box-shadow: none;
}

#s-Image_8 {
  margin-left: 6px;
  margin-top: 0px;
  position: absolute;
  width: 13px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

#s-Image_8 > img, #s-Image_8 > svg {
  height: 13px;
  width: 14px;
  box-shadow: none;
}

#s-Image_9 {
  margin-left: 8px;
  margin-top: 423px;
  position: absolute;
  width: 13px;
  height: 13px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  opacity: 0;
}
#s-Image_9 > img, #s-Image_9 > svg {
  height: 13px;
  width: 14px;
  box-shadow: none;
}

#s-Scroll {
  margin-left: 0px;
  margin-top: 23px;
  position: absolute;
  width: 26px;
  height: 387px;
}

#s-Image_10 {
  margin-left: 0px;
  margin-top: 373px;
  position: absolute;
  width: 26px;
  height: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-Image_10 > img, #s-Image_10 > svg {
  height: 5px;
  width: 26px;
  box-shadow: none;
}

#s-Image_11 {
  margin-left: 0px;
  margin-top: -7px;
  position: absolute;
  width: 26px;
  height: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-Image_11 > img, #s-Image_11 > svg {
  height: 5px;
  width: 26px;
  box-shadow: none;
}

#s-Image_3 {
  margin-left: 3px;
  margin-top: 10px;
  position: absolute;
  width: 19px;
  height: 154px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

#s-Image_3 > img, #s-Image_3 > svg {
  height: 154px;
  width: 19px;
  box-shadow: none;
}

#s-Image_5 {
  margin-left: 730px;
  margin-top: 432px;
  position: absolute;
  width: 220px;
  height: 120px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

#s-Image_5 > img, #s-Image_5 > svg {
  height: 120px;
  width: 220px;
  box-shadow: none;
}

#s-Image_6 {
  margin-left: 519px;
  margin-top: 417px;
  position: absolute;
  width: 219px;
  height: 150px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

#s-Image_6 > img, #s-Image_6 > svg {
  height: 150px;
  width: 219px;
  box-shadow: none;
}

#s-Image_12 {
  margin-left: 743px;
  margin-top: 11px;
  position: absolute;
  width: 220px;
  height: 120px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

#s-Image_12 > img, #s-Image_12 > svg {
  height: 120px;
  width: 220px;
  box-shadow: none;
}

#s-Image_13 {
  margin-left: 519px;
  margin-top: 11px;
  position: absolute;
  width: 219px;
  height: 150px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

#s-Image_13 > img, #s-Image_13 > svg {
  height: 150px;
  width: 219px;
  box-shadow: none;
}

#shapewrapper-s-Line_3 marker {
  fill: #DDDDDD;
}
#shapewrapper-s-Line_3 {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  height: 2px;
  margin-left: 0px;
  margin-top: 167px;
  padding: 0px 0px 0px 0px;
  position: absolute;
  transform: rotate(0deg);
  width: 986px;
}

#s-Line_3 {
  width: 986px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #DDDDDD;
  box-shadow: none;
}

#s-VerticalScroll {
  margin-left: 983px;
  margin-top: 200px;
  position: absolute;
  width: 26px;
  height: 405px;
  overflow-x: hidden;
  overflow-y: auto;
}

#s-Rectangle_3 {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  background-attachment: scroll;
  background-color: #FFFFFF;
  background-image: none;
  background-position-x: left;
  background-position-y: top;
  background-repeat: repeat;
  background-size: auto;
  box-shadow: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  height: 432px;
  line-height: 18px;
  padding: 0px 0px 0px 0px;
  position: absolute;
  text-align: center;
  text-shadow: none;
  transform: rotate(0deg);
  vertical-align: middle;
  width: 21px;
}

#s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}

#s-Text_cell_1 {
  margin-left: 0px;
  margin-top: 0px;
  width: 39px;
  height: 160px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border: 1px solid #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
  vertical-align: middle;
  text-align: left;
}

#s-Text_cell_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-Text_cell_1 span#rtr-s-Text_cell_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}

#s-Text_cell_4 {
  margin-left: 39px;
  margin-top: 0px;
  width: 152px;
  height: 160px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border: 1px solid #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-Text_cell_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-Text_cell_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-Text_cell_4 span#rtr-s-Text_cell_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-Text_cell_7 {
  margin-left: 191px;
  margin-top: 0px;
  width: 269px;
  height: 160px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border: 1px solid #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-Text_cell_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-Text_cell_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-Text_cell_7 span#rtr-s-Text_cell_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-Text_cell_2 {
  margin-left: 0px;
  margin-top: 160px;
  width: 39px;
  height: 237px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-Text_cell_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-Text_cell_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-Text_cell_2 span#rtr-s-Text_cell_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-Text_cell_5 {
  margin-left: 39px;
  margin-top: 160px;
  width: 152px;
  height: 237px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-Text_cell_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-Text_cell_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-Text_cell_5 span#rtr-s-Text_cell_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-Text_cell_8 {
  margin-left: 191px;
  margin-top: 160px;
  width: 269px;
  height: 237px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-Text_cell_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-Text_cell_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-Text_cell_8 span#rtr-s-Text_cell_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-Text_cell_3 {
  margin-left: 0px;
  margin-top: 397px;
  width: 39px;
  height: 161px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-Text_cell_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-Text_cell_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-Text_cell_3 span#rtr-s-Text_cell_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-Text_cell_6 {
  margin-left: 39px;
  margin-top: 397px;
  width: 152px;
  height: 161px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-Text_cell_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-Text_cell_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-Text_cell_6 span#rtr-s-Text_cell_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-Text_cell_9 {
  margin-left: 191px;
  margin-top: 397px;
  width: 269px;
  height: 161px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-Text_cell_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-Text_cell_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-Text_cell_9 span#rtr-s-Text_cell_9_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}