{% extends 'base.html' %}

{% load static %}
{% load staticfiles %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block styles %}
	<link href="{% static 'css/account.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block headtitle %}{% trans "Login" %}{% endblock %}

{% block content %}

    {% if user.is_authenticated %}

    <div class="row isi">
        <div class="col-sm-2 col-md-2 col-lg-2">
        </div>
    </div>

	{% else %}

    <div class="row isi">

        <div class="account_form">
            <h2 class="text-center">{% trans "Login" %}</h2>
            <form class="login" method="post" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="hidden" name="{{ redirect_field_name }}" value="{% url 'patient:patientdata_list' %}" />
                <button type="submit" class="btn btn-primary btn_account">{% trans "Login" %}</button>
            </form>
            <p>
                {% trans "Need new account? Please " %} <a href="#">{% trans "contact" %}</a> {% trans " our staff" %}
            </p>
        </div>

    </div>

    {% endif %}

{% endblock %}
