{% extends 'base.html' %}

{% load account %}
{% load static %}
{% load i18n %}
{% load staticfiles %}

{% block styles %}
<link href="{% static 'css/account.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block headtitle %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container">

    {% block navmenu %}
    {% include "navmenu.html" %}
    {% endblock %}

    <div class="row isi">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <h1>{% trans "Password Reset" %}</h1>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% else %}

            <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="{% trans 'Reset My Password' %}" />
            </form>

            <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
            {% endif %}
        </div>
    </div>

    <div class="row footer">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div id="s-Title_1">
                <span id="rtr-s-Title_1_0">PRODUCT</span>
            </div>

            <div id="s-Paragraph_1" class="">
                <span id="rtr-s-Paragraph_1_0">Features</span>
            </div>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
            <div id="s-Title_2">
                <span id="rtr-s-Title_2_0">CONTACT</span>
            </div>

            <div id="s-Paragraph_2" class="">
                <span id="rtr-s-Paragraph_2_0">Tel: 12345678</span>
                <span id="rtr-s-Paragraph_2_1"><br>Email: contact@gmail.com</span>
            </div>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
            <div id="s-Title_3">
                <span id="rtr-s-Title_3_0">TRIAL</span>
                <span id="rtr-s-Title_3_1">SIGN UP</span>
            </div>

            <div id="s-Paragraph_3" class="">
                <span id="rtr-s-Paragraph_3_0">School</span>
                <span id="rtr-s-Paragraph_3_1"><br>Individual</span>
            </div>
        </div>
    </div>
</div>

{% endblock %}
