{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block style %}
        <link href="{% static 'css/account.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block headtitle %}{% trans "Register Options" %}{% endblock %}

{% block content %}

    {% if user.is_authenticated %}

    <div class="row isi">
        <div class="account_form">

            <h2>{% trans "Register Options" %}</h2>
            <p class="lead">Select below the type of account you want to create:</p>

            {% if user.is_authenticated and user.is_superuser %}

            <form method="post">
                <a href="{% url 'accounts:staff_signup' %}" class="btn btn-outline-primary btn_admin" role="button"><i class="fas fa-user-nurse"></i> Staff</a>
            </form>

            {% elif user.is_authenticated and user.is_staff %}

            <form>
                <a href="{% url 'accounts:patient_signup' %}" class="btn btn-outline-primary btn_staff" role="button"><i class="fas fa-hospital-user"></i> Patient</a>
                <a href="{% url 'accounts:staff_signup' %}" class="btn btn-outline-primary btn_staff" role="button"><i class="fas fa-user-nurse"></i> Staff</a>
            </form>

            {% endif %}

        </div>
    </div>

    {% else %}

    <div class="row isi">
        <div class="col-12">
        </div>
    </div>

    {% endif %}


{% endblock %}
