{% extends 'base.html' %}

{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load widget_tweaks %}

{% block headtitle %}
	{{ page_title }} | {{ titles.title }}
{% endblock %}

{% block styles %}
	<link href="{% static 'css/patient_data/dressing.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/patient_data/patient_data.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascript %}

<script type="text/javascript">
$(document).ready(function()
{
	$('#t_add_row').DataTable(
	{
		"order": [[ 0, "desc" ]]
	});
});
</script>

<script type="text/javascript">
$(document).ready(function()
{
	var hoverSize = [500, 400];

	$('img').hover(function()
	{

		$(this).css(
		{
			height: hoverSize[0],
			width: hoverSize[1]
		});​
	}, function()
	{
		$(this).css(
		{
			height: "",
			width: ""
		});
	});
});
</script>

{% endblock %}

{% block content %}

<div class="page-wrapper">

	<div class="container-fluid">

		<div class="formtitle">
			{{ page_title }}
		</div>

		<div class="row detail">

	<div class="col-12">
		{% if profiles %}
				{% for item in profiles %}
				<div class="col-4">
					<span id="name_title">{% trans "Name" %}:</span>
					<span id="name_field">{{ item.full_name }}</span>
				</div>
				<div class="col-6">
					<span id="class_title">{% trans "IC Number" %}:</span>
					<span id="class_field">{{ item.ic_number }}</span>
				</div>
				{% endfor %}
		{% endif %}
	</div>

</div>

		<div class="row">

			<div class="col-12">
				<div class="card">

					<div class="card-body">

						<div class="table-responsive">
							<form method="post" id="dataForm" data-url="" novalidate>
							{% csrf_token %}
								<table id="t_add_row" class="table table-striped table-bordered display" style="width:100%">
									<thead>
										<tr>
											<th class="text-center">{% trans "Date" %}</th>
											<th class="text-center">{% trans "Time" %}</th>
											<th class="text-center">{% trans "Frequency of Dressing" %}</th>
											<th class="text-center">{% trans "Type of Dressing" %}</th>
											<th class="text-center">{% trans "Wound Location" %}</th>
											<th class="text-center">{% trans "Wound Condition" %}</th>
											<th class="text-center">{% trans "Photos" %}</th>
											<th class="text-center">{% trans "Done By" %}</th>
											<th class="text-center">{% trans "Action" %}</th>
											</tr>
										</thead>
										<tbody>
										{% for item in patients %}
										<tr>
											<td>{{ item.date|date:"d-m-Y" }}</td>
											<td>{{ item.time|date:"H:i" }}</td>
											<td>{{ item.frequency_dressing }}</td>
											<td>{{ item.type_dressing }}</td>
											<td>{{ item.wound_location }}</td>
											<td>{{ item.wound_condition }}</td>
											<td>
												<a href="{{ item.photos_url }}">
													<img class="image_dressing" src="{{ item.photos_url }}">
												</a>
											</td>
											<td>{{ item.done_by }}</td>
											<td>
												<button type="button" class="btn btn-sm btn-icon btn-pure btn-outline" data-url="{% url 'patient_data:patientdata_edit' item.id %}" title="Edit">
													<i class="fas fa-pencil-alt" style="color: #b2b9bf"></i>
												</button>
												<button type="button" class="btn btn-sm btn-icon btn-pure btn-outline" data-url="{% url 'patient_data:patientdata_delete' item.id %}" title="Delete">
													<i class="fas fa-trash-alt" style="color: #b2b9bf"></i>
												</button>
											</td>
										</tr>
										{% endfor %}
									</tfoot>
								</table>
							</form>
						</div>
						{% for item in profiles %}
						<a class="btn btn-outline-primary" href="{% url 'patient_data:patientdata_detail' item.id %}">{% trans "Back" %}</a>
						{% endfor %}

					</div>

                </div>
            </div>

        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" style="display: none;" aria-hidden="true">
            <div class="modal-dialog" role="document">

                <div class="modal-content">

                </div>

            </div>
        </div>

    </div>

</div>

{% endblock %} 