{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% for item in profiles %}
<div class="row border rounded detail">
	<div class="col-12">
		<div class="row">
			<div class="col-4">
				<span id="name_title">{% trans "Name" %}:</span>
			</div>
			<div class="col-4">
				<span id="name_field">{{ item.full_name }}</span>
			</div>
		</div>

		<div class="row">
			<div class="col-4">
				<span id="name_title">{% trans "IC Number" %}:</span>
			</div>
			<div class="col-4">
				<span id="name_field">{{ item.ic_number }}</span>
			</div>
		</div>
	</div>
</div>
{% endfor %}
