{% for item in patients %}
{% if user.is_superuser or user.is_staff %}
    {% if item.medication_time is not null %}
    <tr>
        <td>{{ item.medication_time|date:"H:i" }}</td>
        <td>{{ item.medication_medicine }}</td>
        <td>{{ item.medication_dosage }}</td>
        <td>{{ item.medication_unit }}</td>
        <td>{{ item.medication_tablet_capsule }}</td>
        <td>{{ item.medication_frequency }}</td>
        <td>
            <a href="{% url 'patient:medication_administration_template_edit_formset' item.patient.username item.id %}" >
                <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline trigger_modal" title="Edit" style="background-color:transparent;"><i class="fas fa-pencil-alt" style="color: #b2b9bf"></i>
            </button>
            <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline trigger_modal" data-form-url="{% url 'patient:medication_administration_template_delete' item.patient.username item.id %}" data-original-title="Delete" title="Delete" style="background-color:transparent;">
                <i class="fas fa-trash-alt" style="color: #b2b9bf"></i>
            </button>
        </td>
    </tr>
    {% endif %}

{% elif user.is_patient %}

{% if item.medication_time is not null %}

<tr>
    <td>{{ item.medication_time|date:"H:i" }}</td>
        <td>{{ item.medication_medicine }}</td>
        <td>{{ item.medication_dosage }}</td>
        <td>{{ item.medication_unit }}</td>
        <td>{{ item.medication_tablet_capsule }}</td>
        <td>{{ item.medication_frequency }}</td>
</tr>
{% endif %}
{% endif %}
{% endfor %}
