.isi {
  height: auto;
  padding-bottom: 20px;
}

.footer {
  height: 151px;
}

.table-sm {
  width: 70%;
}

.ui-icon-trash {
    display: inline-block;
}

.custom-control-label {
  padding-left: 20px;
}

.table-sm {
  margin-bottom: 10px;
}

.footer_info {
  display: inline-flex;
}

#total {
    margin: auto 5px;
}