{% for item in patients %}
                                        <tr>
                                            <td>{{ item.date_time|date:"d-m-Y H:i" }}</td>
                                            <td>{{ item.complaints }}</td>
                                            <td>{{ item.treatment_orders }}</td>
                                            <td>{{ item.consultant }}</td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline edit-row-btn" data-url="{% url 'patient_data:visiting_consultant_records_data_edit' item.id %}"data-original-title="Edit" title="Edit" style="background-color:transparent;"><i class="fas fa-pencil-alt" style="color: #b2b9bf"></i>
                                                </button>
                                                <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-url="{% url 'patient_data:visiting_consultant_records_data_delete' item.id %}"data-original-title="Delete" title="Delete" style="background-color:transparent;"><i class="fas fa-trash-alt" style="color: #b2b9bf"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        {% endfor %}