{% extends 'base.html' %}

{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block headtitle %}
    {{ page_title }} | {{ titles.title }}
{% endblock %}

{% block content %}

{% block styles %}
	<link href="{% static 'css/patient_data/cannulation.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

<div class="row isi">

	<div class="formtitle">
		{{ page_title }}
	</div>

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

		<form method="post" id="dataForm" data-url="{% url 'patient_form:cannulation' %}" novalidate>
			{% csrf_token %}
			<table class="table table-bordered">
				<thead>
					<tr>
						<th class="text-center">NAME:</th>
						<th class="text-center">I/C NO:</th>
						<th class="text-center">Date & Time</th>
						<th class="text-center">Cannula/CBD/Ryle's tube</th>
						<th class="text-center">Due Date</th>
						<th class="text-center">Done by</th>
					</tr>
				</thead>
				<tbody>
					{% for item in patient_data %}
					<tr>
						<td>{{ item.full_name }}</td>
						<td>{{ item.ic_number }}</td>
						<td>{{ item.date_time }}</td>
						<td>{{ item.cannula_cbd_ryles_tube }}</td>
						<td>{{ item.due_date }}</td>
						<td>{{ item.done_by }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>

	</div>

</div>

{% endblock %}