{% extends 'base.html' %}

{% load static %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block javascript %}
	<script src="{% static 'js/patient_data/patient_data.js' %}"></script>
{% endblock %}

{% block headtitle %}
{% for item in patients %}
	{{ item.full_name }} | {{ titles.title }}
{% endfor %}
{% endblock %}

{% block styles %}
	<link href="{% static 'css/patient_data/patient_data.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<div class="row detail">

	<div class="col-12">
		{% if patients %}
				{% for item in patients %}
				<div class="col-4">
					<span id="name_title">{% trans "Name" %}:</span>
					<span id="name_field">{{ item.full_name }}</span>
				</div>
				<div class="col-6">
					<span id="class_title">{% trans "IC Number" %}:</span>
					<span id="class_field">{{ item.ic_number }}</span>
				</div>
				{% endfor %}
		{% endif %}
	</div>

</div>

<div class="messageform">
	{% include 'messages.html' %}
</div>

<div class="row">

	<div class="col-6">
		<div class="card bg-light mb-3">
			<div class="card-header">{% trans "Add Data" %}</div>
				<div class="card-body">
					<div class="col-sm-6 text-sm-left">
						<form method="post" action="">
						{% csrf_token %}
							{% for item in patients %}
							<input type="hidden" name="fullname" value="{{ item.username }}">
							<div class="link_detail">
								<a class="btn btn-primary"href="{% url 'patient_form:admission' item.username %}">{% trans "Admission Form" %}</a>
							</div>
							<div class="link_detail">				
								<a class="btn btn-primary"href="{% url 'patient_form:application_homeleave' item.username %}">{% trans "Application For Home Leave" %}</a>
							</div>
							<div class="link_detail">
								<a class="btn btn-primary"href="{% url 'patient_form:appointment' item.username %}">{% trans "Appointment Records" %}</a>
							</div>
							<div class="link_detail">
								<a class="btn btn-primary"href="{% url 'patient_form:catheterization_cannulation' item.username %}">{% trans "Catheterization and Cannulation Chart" %}</a>
							</div>
							<div class="link_detail">
								<a class="btn btn-primary"href="{% url 'patient_form:charges_sheet' item.username %}">{% trans "Charges Sheet" %}</a>
							</div>
							<div class="link_detail">
								<a class="btn btn-primary"href="{% url 'patient_form:dressing' item.username %}">{% trans "Dressing Chart" %}</a>
							</div>
							<div class="link_detail">
								<a class="btn btn-primary"href="{% url 'patient_form:enteral_feeding_regime' item.username %}">{% trans "Enteral Feeding Regime" %}</a>
							</div>
							<div class="link_detail">
								<a class="btn btn-primary"href="{% url 'patient_form:hgt_chart' item.username %}">{% trans "HGT Chart" %}</a>
							</div>
							<div class="link_detail">
								<a class="btn btn-primary"href="{% url 'patient_form:intake_output' item.username %}">{% trans "Intake Output Chart" %}</a>
							</div>
							<div class="link_detail">
								<a class="btn btn-primary"href="{% url 'patient_form:maintainance' item.username %}">{% trans "Maintainance Form" %}</a>
							</div>
                            <div class="link_detail">
                                <a class="btn btn-primary"href="{% url 'patient_form:medication_administration' item.username %}">{% trans "Medication Administration Record" %}</a>
                            </div>
							<div class="link_detail">
								<a class="btn btn-primary"href="{% url 'patient_form:medication_record' item.username %}">{% trans "Medication Records" %}</a>
							</div>
							<div class="link_detail">
								<a class="btn btn-primary"href="{% url 'patient_form:miscellaneous_charges_slip' item.username %}">{% trans "Miscellaneous Charges Slip" %}</a>
							</div>
							<div class="link_detail">
								<a class="btn btn-primary"href="{% url 'patient_form:nursing' item.username %}">{% trans "Nursing Report" %}</a>
							</div>
							<div class="link_detail">
								<a class="btn btn-primary"href="{% url 'patient_form:overtime_claim' item.username %}">{% trans "Overtime Claim" %}</a>
							</div>
							<div class="link_detail">
								<a class="btn btn-primary"href="{% url 'patient_form:physio_progress_note' item.username %}">{% trans "Physiotherapy Progress Note Sheet" %}</a>
							</div>
							<div class="link_detail">
								<a class="btn btn-primary"href="{% url 'patient_form:physiotherapy_general_assessment' item.username %}">{% trans "Physiotherapy - General Assessment Form" %}</a>
							</div>
							<div class="link_detail">
								<a class="btn btn-primary"href="{% url 'patient_form:staff_records' item.username %}">{% trans "Staff Records" %}</a>
							</div>
							<div class="link_detail">
								<a class="btn btn-primary"href="{% url 'patient_form:stool' item.username %}">{% trans "Stool Chart" %}</a>
							</div>
							<div class="link_detail">
								<a class="btn btn-primary"href="{% url 'patient_form:visiting_consultant_records' item.username %}">{% trans "Visiting Consultant" %}</a>
							</div>
							<div class="link_detail">
								<a class="btn btn-primary"href="{% url 'patient_form:vital_sign_flow' item.username %}">{% trans "Vital Sign Flow Sheet" %}</a>
							</div>
							{% endfor %}
						</form>
					</div>
				</div>
			</div>
		</div>

	<div class="col-6">
		<div class="card bg-light mb-3">
			<div class="card-header">{% trans "Old Data" %}</div>
				<div class="card-body">

					<div class="col-sm-6 text-sm-left">
						{% for item in patients %}
						<div class="link_detail">
							<a class="btn btn-outline-primary"href="{% url 'patient_data:admission_data' item.username %}">{% trans "Admission Form" %}</a>
						</div>
						<div class="link_detail">				
							<a class="btn btn-outline-primary"href="{% url 'patient_data:homeleave_data' item.username %}">{% trans "Application For Home Leave" %}</a>
						</div>
						<div class="link_detail">
							<a class="btn btn-outline-primary"href="{% url 'patient_data:appointment_data' item.username %}">{% trans "Appointment Records" %}</a>
						</div>
						<div class="link_detail">
							<a class="btn btn-outline-primary"href="{% url 'patient_data:cannulation_data' item.username %}">{% trans "Catheterization and Cannulation Chart" %}</a>
						</div>
						<div class="link_detail">
							<a class="btn btn-outline-primary"href="{% url 'patient_data:charges_sheet_data' item.username %}">{% trans "Charges Sheet" %}</a>
						</div>
						<div class="link_detail">
							<a class="btn btn-outline-primary"href="{% url 'patient_data:dressing_data' item.username %}">{% trans "Dressing Chart" %}</a>
						</div>
						<div class="link_detail">
							<a class="btn btn-outline-primary"href="{% url 'patient_data:enteral_feeding_regime_data' item.username %}">{% trans "Enteral Feeding Regime" %}</a>
						</div>
						<div class="link_detail">
							<a class="btn btn-outline-primary"href="{% url 'patient_data:hgt_chart_data' item.username %}">{% trans "HGT Chart" %}</a>
						</div>
						<div class="link_detail">
							<a class="btn btn-outline-primary"href="{% url 'patient_data:intake_output_data' item.username %}">{% trans "Intake Output Chart" %}</a>
						</div>
						<div class="link_detail">
							<a class="btn btn-outline-primary"href="{% url 'patient_data:maintainance_data' item.username %}">{% trans "Maintainance Form" %}</a>
						</div>
						<div class="link_detail">
							<a class="btn btn-outline-primary"href="{% url 'patient_data:medication_administration_data' item.username %}">{% trans "Medication Administration Record" %}</a>
						</div>
						<div class="link_detail">
							<a class="btn btn-outline-primary"href="{% url 'patient_data:medication_data' item.username %}">{% trans "Medication Records" %}</a>
						</div>
							<div class="link_detail">
								<a class="btn btn-outline-primary"href="{% url 'patient_data:miscellaneous_charges_slip' item.username %}">{% trans "Miscellaneous Charges Slip" %}</a>
							</div>
						<div class="link_detail">
							<a class="btn btn-outline-primary"href="{% url 'patient_data:nursing_data' item.username %}">{% trans "Nursing Report" %}</a>
						</div>
						<div class="link_detail">
							<a class="btn btn-outline-primary"href="{% url 'patient_data:overtime_claim' item.username %}">{% trans "Overtime Claim" %}</a>
						</div>
						<div class="link_detail">
							<a class="btn btn-outline-primary"href="{% url 'patient_data:physio_progress_note_data' item.username %}">{% trans "Physiotherapy Progress Note Sheet" %}</a>
						</div>
						<div class="link_detail">
							<a class="btn btn-outline-primary"href="{% url 'patient_data:physiotherapy_general_assessment_data' item.username %}">{% trans "Physiotherapy - General Assessment Form" %}</a>
						</div>
						<div class="link_detail">
							<a class="btn btn-outline-primary"href="{% url 'patient_data:staff_records' item.username %}">{% trans "Staff Records" %}</a>
						</div>
						<div class="link_detail">
							<a class="btn btn-outline-primary"href="{% url 'patient_data:stool_data' item.username %}">{% trans "Stool Chart" %}</a>
						</div>
						<div class="link_detail">
							<a class="btn btn-outline-primary"href="{% url 'patient_data:visiting_consultant_records' item.username %}">{% trans "Visiting Consultant" %}</a>
						</div>
						<div class="link_detail">
							<a class="btn btn-outline-primary"href="{% url 'patient_data:vital_sign_flow_data' item.username %}">{% trans "Vital Sign Flow Sheet" %}</a>
						</div>
						{% endfor %}
					</div>

				</div>
			</div>
		</div>
	</div>

	<a class="btn btn-outline-secondary" href="{% url 'patient_data:patientdata_list' %}">{% trans "Back" %}</a>

{% endblock %}