{% extends 'base.html' %}

{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block headtitle %}
    {{ page_title }} | {{ titles.title }}
{% endblock %}

{% block content %}

{% block styles %}
	<link href="{% static 'css/patient_data/stool.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

<div class="row isi">

	<div class="formtitle">
		{{ page_title }}
	</div>

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

		<form method="post" id="dataForm" data-url="{% url 'patient_form:stool' %}" novalidate>
			{% csrf_token %}
			<table class="table table-bordered">
				<thead>
					<tr>
						<th class="text-center">Name</th>
						<th class="text-center">I/C No</th>
						<th class="text-center">Date</th>
						<th class="text-center">Time</th>
						<th class="text-center">Frequency</th>
						<th class="text-center">Consistency</th>
						<th class="text-center">Amount</th>
						<th class="text-center">Remark</th>
						<th class="text-center">Name</th>
					</tr>
				</thead>
				<tbody>
					{% for item in patient_data %}
					<tr>
						<td>{{ item.full_name }}</td>
						<td>{{ item.ic_number }}</td>
						<td>{{ item.date }}</td>
						<td>{{ item.time }}</td>
						<td>{{ item.frequency }}</td>
						<td>{{ item.consistency }}</td>
						<td>{{ item.amount }}</td>
						<td>{{ item.remark }}</td>
						<td>{{ item.name }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>

	</div>

</div>

{% endblock %}
