{% extends 'base.html' %}

{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block headtitle %}
    {{ page_title }} | {{ titles.title }}
{% endblock %}

{% block content %}

{% block styles %}
	<link href="{% static 'css/patient_data/vital_sign_flow.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

<div class="row isi">

	<div class="formtitle">
		{{ page_title }}
	</div>

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

		<form method="post" id="dataForm" data-url="{% url 'patient_form:vital_sign_flow' %}" novalidate>
			{% csrf_token %}
			<table class="table table-bordered">
				<col>
					<colgroup span="2"></colgroup>
					<colgroup span="2"></colgroup>
					<colgroup span="2"></colgroup>
				</col>
				<tr>
					<th class="text-center" rowspan="1"></th>
					<th class="text-center" rowspan="1"></th>
					<th rowspan="2">Date</th>
					<th rowspan="2">Time</th>
					<th rowspan="2">Temp (ºC)</th>
					<th rowspan="2">Pulse (bpm)</th>
					<th colspan="2" scope="colgroup">Blood Pressure (mmHg)</th>
					<th rowspan="2">Respiration (min)</th>
					<th colspan="2" scope="colgroup">SPO2</th>
					<th colspan="2" scope="colgroup">HGT</th>
				</tr>
				<tr>
					<th class="text-center" rowspan="1">Name</th>
					<th class="text-center" rowspan="1">I/C No</th>
					<th scope="col">Systolic</th>
					<th scope="col">Diastolic</th>
					<th scope="col">(%)</th>
					<th scope="col">O2/min</th>
					<th scope="col">(mmol/L)</th>
					<th scope="col">Remarks</th>
				</tr>
				{% for item in patient_data %}
				<tr>
					<td>{{ item.full_name }}</td>
					<td>{{ item.ic_number }}</td>
					<td>{{ item.date }}</td>
					<td>{{ item.time }}</td>
					<td>{{ item.temp }}</td>
					<td>{{ item.pulse }}</td>
					<td>{{ item.respiration }}</td>
					<td>{{ item.respiration }}</td>
					<td>{{ item.respiration }}</td>
					<td>{{ item.spo2_percentage }}</td>
					<td>{{ item.spo2_percentage }}</td>
					<td>{{ item.respiration }}</td>
					<td>{{ item.respiration }}</td>
				</tr>
				{% endfor %}
			</table>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>

	</div>

</div>

{% endblock %}