{% for item in patients %}
{% if user.is_superuser or user.is_staff %}
<tr>
    <td>{{ item.date|date:"d-m-Y" }}</td>
    <td>{{ item.items }}</td>
    <td>{{ item.location_room }}</td>
    <td>{{ item.reported_by }}</td>
    <td>{{ item.status }}</td>
    <td>
        <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline trigger_modal" data-form-url="{% url 'patient:maintenance_edit' item.patient.username item.id %}" data-original-title="Edit" title="Edit" style="background-color:transparent;"><i class="fas fa-pencil-alt" style="color: #b2b9bf"></i>
        </button>
        <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline trigger_modal" data-form-url="{% url 'patient:maintenance_delete' item.patient.username item.id %}" data-original-title="Delete" title="Delete" style="background-color:transparent;"><i class="fas fa-trash-alt" style="color: #b2b9bf"></i>
        </button>
    </td>
</tr>

{% elif user.is_patient %}

<tr>
    <td>{{ item.date|date:"d-m-Y" }}</td>
    <td>{{ item.items }}</td>
    <td>{{ item.location_room }}</td>
    <td>{{ item.reported_by }}</td>
    <td>{{ item.status }}</td>
</tr>

{% endif %}
{% endfor %}
