{% for item in patients %}
<tr>
    <td>{{ item.doctor_diagnosis }}</td>
    <td>{{ item.doctor_management }}</td>
    <td>{{ item.problem }}</td>
    <td>{{ item.pain_scale }}</td>
    <td>{{ item.comments }}</td>
    <td>{{ item.special_question }}</td>
    <td>{{ item.general_health }}</td>
    <td>{{ item.pmx_surgery }}</td>
    <td>{{ item.ix_mri_x_ray }}</td>
    <td>{{ item.medications_steroids }}</td>
    <td>{{ item.occupation_recreation }}</td>
    <td>{{ item.pacemaker_hearing_aid }}</td>
    <td>{{ item.splinting }}</td>
    <td>{{ item.physical_examination_movement }}</td>
    <td>{{ item.muscle_power }}</td>
    <td>{{ item.functional_activities }}</td>
    <td>{{ item.special_test }}</td>
    <td>{{ item.date_time }}</td>
    <td>{{ item.attending_physiotherapist }}</td>
    <td>{{ item.current_history }}</td>
    <td>{{ item.past_history }}</td>
    <td>{{ item.neurological_reflexes }}</td>
    <td>{{ item.neurological_motor }}</td>
    <td>{{ item.neurological_sensation }}</td>
    <td>{{ item.clearing_test_other_joint }}</td>
    <td>{{ item.physiotherapists_impression }}</td>
    <td>{{ item.short_term_goals }}</td>
    <td>{{ item.long_term_goals }}</td>
    <td>{{ item.plan_treatment }}</td>
    <td>
        <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline trigger_modal" data-form-url="{% url 'patient:physiotherapy_general_assessment_edit' item.patient.username item.id %}"data-original-title="Edit" title="Edit" style="background-color:transparent;"><i class="fas fa-pencil-alt" style="color: #b2b9bf"></i>
        </button>
        <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline trigger_modal" data-form-url="{% url 'patient:physiotherapy_general_assessment_delete' item.patient.username item.id %}"data-original-title="Delete" title="Delete" style="background-color:transparent;"><i class="fas fa-trash-alt" style="color: #b2b9bf"></i>
        </button>
    </td>
</tr>
{% endfor %}
