{% extends "bootstrap_ui/bootstrap4-skeleton.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head-title %}
    {{ page_title }} | {{ titles.title }}
{% endblock %}

{% block head-css %}
	<link href="{% static 'css/patient/patient.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/patient/stool.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block head-javascript %}
    <script src="{% static 'js/jquery.formset.js' %}"></script>
{% endblock %}

{% block extrahead %}
	{{ formset.media }}
{% endblock %}

{% block body-content %}

<div class="container-fluid">

	<div class="row formtitle">
		{{ page_title }}
	</div>

	<p style="font-size:12px">{% include 'messages.html' %}</p>

	{% include 'patient/patient_formset.html' %}

	<form method="post">
	{% csrf_token %}

		<div class="row rounded form_table">

			{{ formset.management_form }}
			<table id="form_set" class="table table-bordered">
				<thead class="thead_light">
					<tr>
						<th class="text-center">{% trans "Date" %}</th>
						<th class="text-center">{% trans "Time" %}</th>
						<th class="text-center">{% trans "Frequency" %}</th>
						<th class="text-center">{% trans "Consistency" %}</th>
						<th class="text-center">{% trans "Amount" %}</th>
						<th class="text-center">{% trans "Remark" %}</th>
						<th class="text-center">{% trans "Done by" %}</th>
						<th class="text-center">{% trans "Action" %}</th>
					</tr>
				</thead>
				<tbody>
					{% for item in formset.forms %}
					<tr id="{{ item.prefix }}-row">
						<td>{{ item.date|as_crispy_field }}</td>
						<td>{{ item.time|as_crispy_field }}</td>
						<td>{{ item.frequency|as_crispy_field }}</td>
						<td>{{ item.consistency|as_crispy_field }}</td>
						<td>{{ item.amount|as_crispy_field }}</td>
						<td>{{ item.remark|as_crispy_field }}</td>
						<td>{{ item.done_by|as_crispy_field }}</td>
						<td></td>
					</tr>
					<tr class="tambah_row"></tr>
					{% endfor %}
				</tbody>
			</table>

		</div>

		<div class="row">

			<button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
			{% for item in profiles %}
			<a class="btn btn-danger kirim" href="{% url 'patient:patientdata_detail' item.username %}">{% trans "Cancel" %}</a>
			{% endfor %}

		</div>

	</form>

</div>

{% endblock %}


{% block body-javascript %}
<script type='text/javascript'>
$(document).ready(function()
{

//	var section_id = "0";
//	var section_id = 0;
//	var section_id = $("#id_form-"+i+"-frequency");
//	$('#'+ section_id + ' -frequency').change(function()

	for(var i=0; i<10; i++)
	{
		var section_id = i;
	}

	$('select[id$="-frequency"]').each(function()
	{
		$(this).siblings('select[id$="-frequency"]').change(function()
		{
			alert("Test")
			if($(this).val() == "BNO")
	    	{
	    		$("#id_form-0-consistency").attr("selected", true).val("-").addClass("consistency0");
//    		$('#id_form-'+ section_id + '-consistency').attr("selected", true).val("-");
	    		$("#id_form-0-amount").attr("selected", true).val("-");
//    		$('#id_form-'+ section_id + '-amount').attr("selected", true).val("-");
	    	}
	    	else
	    	{
	    		$("#id_form-0-consistency").attr("selected", true).val("Normal").removeClass("consistency0");
//    		$('#id_form-'+ section_id + '-consistency').attr("selected", true).val("Normal");
	    		$("#id_form-0-amount").attr("selected", true).val("Scanty");
//    		$('#id_form-'+ section_id + '-amount').attr("selected", true).val("Scanty");
	    	}
		});
	});

	$('#form_set tbody tr').formset(
	{
//		prefix: 'formset',
//		prefix: '{{ formset.prefix }}',
		addCssClass: 'btn btn-success',
		addText: '<i class="fas fa-plus"></i>',
		deleteCssClass: 'btn btn-danger',
		deleteText: '<i class="fas fa-minus"></i>',
		keepFieldValues: '#id_form-0-date, #id_form-0-time, #id_form-0-done_by',
//		addContainerClass: 'tambah_row',
		added: function(row)
		{
			$(row).find('[id$="date"]').removeClass('datepickerinput').removeAttr('#id_form-0-date').removeData('DateTimePicker')
		.unbind().datetimepicker(
			options={
				"format": "DD-MM-YYYY",
			});

			$(row).find('[id$="time"]').removeClass('timepickerinput').removeAttr('#id_form-0-time').removeData('DateTimePicker')
		.unbind().datetimepicker(
			options={
				"format": "HH:mm",
			});

			$(row).find("#id_form-0-frequency").remove();
		},
	});
});
</script>
{% endblock %}
