{% extends 'base.html' %}

{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block headtitle %}
    {{ page_title }} | {{ titles.title }}
{% endblock %}

{% block styles %}
	<link href="{% static 'css/patient_form/admission.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block extrahead %}
	{{ form.media }}
{% endblock %}

{% block content %}

<div class="row isi">

	<div class="formtitle clearfix">
		{{ page_title }}
	</div>

	<p style="font-size:12px">{% include 'messages.html' %}</p>

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

		<form method="post">
			{% csrf_token %}
			<table class="table table-bordered">
				<tbody>
					<tr>
						<td>{% trans "Admission:" %}</td>
						<td colspan="2">{{ form.date|as_crispy_field }}</td>
						<td colspan="2">{{ form.time|as_crispy_field }}</td>
					</tr>
					<tr>
						<td>{% trans "Admitted through" %}:</td>
						<td colspan="3">{{ form.admitted|as_crispy_field }}</td>
					</tr>
					<tr>
						<td>{% trans "Mode of admission" %}:</td>
						<td colspan="3">{{ form.mode|as_crispy_field }}</td>
					</tr>
					<tr>
						<td>{% trans "Full name  (as per IC)" %}:</td>
						<td><b>{{ patients }}</b>{{ form.patient|as_crispy_field }}</td>
						<td>{% trans "IC No" %}:</td>
						<td><b>{{ icnumbers }}</b></td>
					</tr>
					<tr>
						<td>{% trans "Age" %}:</td>
						<td>{{ form.age|as_crispy_field }}</td>
						<td>{% trans "Date of birth" %}:</td>
						<td>{{ form.birth_date|as_crispy_field }}</td>
					</tr>
					<tr>
						<td>{% trans "Sex / Gender" %}:</td>
						<td colspan="3">{{ form.gender|as_crispy_field }}</td>
					</tr>
					<tr>
						<td>{% trans "Marital Status" %}:</td>
						<td colspan="3">{{ form.marital_status|as_crispy_field }}</td>
					</tr>
					<tr>
						<td>{% trans "Religion" %}:</td>
						<td colspan="3">{{ form.religion|as_crispy_field }}</td>
					</tr>
					<tr>
						<td>{% trans "Occupation" %}:</td>
						<td colspan="3">{{ form.occupation|as_crispy_field }}</td>
					</tr>
					<tr>
						<td>{% trans "Communication" %}:</td>
						<td colspan="3">
						{{ form.communication_sight|as_crispy_field }}
						<br />
						{{ form.communication_hearing|as_crispy_field }}
						<br />
						{{ form.communication_others|as_crispy_field }}</td>
					</tr>
					<tr>
						<td>{% trans "Address" %}:</td>
						<td colspan="3">{{ form.address|as_crispy_field }}</td>
					</tr>
					<tr>
						<td>{% trans "Tel No" %}:</td>
						<td colspan="3">{{ form.phone|as_crispy_field }}</td>
					</tr>
					<tr>
						<td>{% trans "Emergency contact" %}:</td>
						<td colspan="3">{{ form.ec_name|as_crispy_field }}</td>
					</tr>
					<tr>
						<td></td>
						<td colspan="3">{{ form.ec_ic_number|as_crispy_field }}</td>
					</tr>
					<tr>
						<td></td>
						<td colspan="3">{{ form.ec_relationship|as_crispy_field }}</td>
					</tr>
					<tr>
						<td></td>
						<td colspan="3">{{ form.ec_phone|as_crispy_field }}</td>
					</tr>
					<tr>
						<td></td>
						<td colspan="3">{{ form.ec_address|as_crispy_field }}</td>
					</tr>

					<tr>
						<td>{% trans "General condition" %}:</td>
						<td colspan="3">{{ form.general_condition|as_crispy_field }}</td>
					</tr>
					<tr>
						<td>{% trans "Vital sign" %}:</td>
						<td colspan="3">
							<table style="width: -webkit-fill-available;">
								<tbody>
									<tr>
										<td>{% trans "Temp (ºC)" %}:</td>
										<td style="padding-left: 15px; display: inline-flex; width: -webkit-fill-available;">{{ form.vital_sign_temperature|as_crispy_field }}<p style="margin-top:5px;">ºC</p></td>
									</tr>
									<tr>
										<td>{% trans "Pulse (bpm)" %}:</td>
										<td>{{ form.vital_sign_pulse|as_crispy_field }}</td>
									</tr>
									<tr>
										<td>{% trans "BP (mmHg)" %}:</td>
										<td>{{ form.vital_sign_bp|as_crispy_field }}</td>
									</tr>
									<tr>
										<td>{% trans "Resp (min)" %}:</td>
										<td>{{ form.vital_sign_resp|as_crispy_field }}</td>
									</tr>
									<tr>
										<td>{% trans "SPO2 (%)" %}:</td>
										<td style="padding-left: 15px; display: inline-flex; width: -webkit-fill-available;">{{ form.vital_sign_spo2|as_crispy_field }}<p style="margin-top:5px;">{% trans "% (RA)" %}</p></td>
									</tr>
									<tr>
										<td>{% trans "On Oxygen therapy" %}:</td>
										<td style="display:inline-flex">{{ form.vital_sign_on_oxygen_therapy|as_crispy_field }}  {% trans "flow rate" %}  &nbsp;{{ form.vital_sign_on_oxygen_therapy_flow_rate|as_crispy_field }} {% trans "L/min" %}</td>
									</tr>
									<tr>
										<td>{% trans "HGT(mmol/L)" %}:</td>
										<td>{{ form.vital_sign_hgt|as_crispy_field }}</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
					<tr>
						<td>{% trans "Allergy" %}:</td>
						<td>{{ form.allergy_drug|as_crispy_field }}</td>
						<td>{{ form.allergy_food|as_crispy_field }}</td>
						<td>{{ form.allergy_others|as_crispy_field }}</td>
					</tr>
					<tr>
						<td>{% trans "Biohazard/ infectious disease" %}:</td>
						<td colspan="3">{{ form.biohazard_infectious_disease|as_crispy_field }}</td>
					</tr>
					<tr>
						<td>{% trans "Invasive line insitu" %}:</td>
						<td colspan="3">{{ form.invasive_line_insitu|as_crispy_field }}</td>
					</tr>
					<tr>
						<td>{% trans "Medical history" %}:</td>
						<td colspan="3">{{ form.medical_history|as_crispy_field }}</td>
					</tr>					<tr>
						<td>{% trans "Surgical history" %}:</td>
						<td colspan="3">{{ form.surgical_history|as_crispy_field }}</td>
					</tr>
					<tr>
						<td>{% trans "Date" %}:<br />{{ form.date_diagnosis|as_crispy_field }}</td>
						<td>{% trans "Diagnosis" %}:<br />{{ form.diagnosis|as_crispy_field }}</td>
						<td>{% trans "Date" %}:<br />{{ form.date_operation|as_crispy_field }}</td>
						<td>{% trans "Operation" %}:<br />{{ form.operation|as_crispy_field }}</td>
					</tr>
					<tr>
						<td>{% trans "Own medication" %}:</td>
						<td colspan="3">{{ form.own_medication|as_crispy_field }}</td>
					</tr>
					<tr>
						<td></td>
						<td colspan="4">
							<table style="width: -webkit-fill-available;">
								<tbody>
									<tr>
										<td>{% trans "Drug name" %}<br />
										{{ form.own_medication_drug_name|as_crispy_field }}</td>
										<td>{% trans "Dosage" %}<br />
										{{ form.own_medication_dosage|as_crispy_field }}</td>
										<td>{% trans "Tablet/Capsule/mls" %}<br />
										{{ form.own_medication_tablet_capsule|as_crispy_field }}</td>
										<td>{% trans "Frequency" %}<br />
										{{ form.own_medication_frequency|as_crispy_field }}</td>
									</tr>
								</tbody>
							</table>							
						</td>
					</tr>

					<tr>
						<td>{% trans "Adaptive aids with patient on admission" %}:</td>
						<td colspan="3">{{ form.adaptive_aids_with_patient|as_crispy_field }}</td>
					</tr>
					<tr>
						<td>{% trans "Orientation" %}:</td>
						<td colspan="3">{{ form.orientation|as_crispy_field }}</td>
					</tr>
					<tr>
						<td>{% trans "Special information" %}:</td>
						<td colspan="3">{{ form.special_information|as_crispy_field }}</td>
					</tr>
					<tr>
						<td>{% trans "Admission done by" %}:</td>
						<td colspan="3">{{ form.special_information|as_crispy_field }}</td>
					</tr>
				</tbody>
			</table>
			<button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
			{% for item in profiles %}
			<a class="btn btn-danger" href="{% url 'patient_data:patientdata_detail' item.id %}">{% trans "Cancel" %}</a>
			{% endfor %}
		</form>

	</div>

</div>

{% include 'patient_form/admission.html' %}

{% endblock %}