{% extends 'base.html' %}

{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block headtitle %}
    {{ page_title }} | {{ titles.title }}
{% endblock %}

{% block extrahead %}
	{{ form.media }}
{% endblock %}

{% block content %}

{% block styles %}
	<link href="{% static 'css/patient_form/appointment.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

<div class="row isi">

	<div class="formtitle">
		{{ page_title }}
	</div>

	<div class="clear"></div>


	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

		<form method="post" id="dataForm" data-url="{% url 'patient_form:load_ic_number' %}" novalidate>
		{% csrf_token %}
			<table class="table-sm table-bordered">
				<tbody>
					<tr>
						<td>{% trans "NAME" %}:</td>
						<td>{{ patients }}{{ form.patient|as_crispy_field }}</td>
					</tr>
					<tr>
						<td>{% trans "I/C NO" %}:</td>
						<td>{{ icnumbers }}</td>
					</tr>
				</tbody>
			</table>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th class="text-center">{% trans "Date" %}</th>
						<th class="text-center">{% trans "Time" %}</th>
						<th class="text-center">{% trans "Hospital/Clinic/Center" %}</th>
						<th class="text-center">{% trans "Department" %}</th>
						<th class="text-center">{% trans "Planning & Investigation" %}</th>
						<th class="text-center">{% trans "Treatment/Order" %}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ form.date|as_crispy_field }}</td>
						<td>{{ form.time|as_crispy_field }}</td>
						<td>{{ form.hospital_clinic_center|as_crispy_field }}</td>
						<td>{{ form.department|as_crispy_field }}</td>
						<td>{{ form.planning_investigation|as_crispy_field }}</td>
						<td>{{ form.treatment_order|as_crispy_field }}</td>
					</tr>
				</tbody>
			</table>
			* REQUEST TO PUT IN CALENDER FOR REMINDER.POP UP IN SYSTEM TO REMIND NURSE
			<br />
			<button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
			{% for item in profiles %}
			<a class="btn btn-danger" href="{% url 'patient_data:patientdata_detail' item.id %}">{% trans "Cancel" %}</a>
			{% endfor %}
		</form>

	</div>

</div>

{% endblock %}