{% extends 'base.html' %}

{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block headtitle %}
    {{ page_title }} | {{ titles.title }}
{% endblock %}

{% block content %}

{% block styles %}
	<link href="{% static 'css/patient_form/cannulation.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block extrahead %}
	{{ form.media }}
{% endblock %}

<div class="row isi">

	<div class="formtitle">
		{{ page_title }}
	</div>

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

		<form method="post" id="dataForm" data-url="{% url 'patient_form:load_ic_number' %}" novalidate>
			{% csrf_token %}
			<table class="table-sm table-bordered">
				<tbody>
					<tr>
						<td>{% trans "NAME" %}:</td>
						<td>{{ patients }}{{ form.patient|as_crispy_field }}</td>
					</tr>
					<tr>
						<td>{% trans "I/C NO" %}:</td>
						<td>{{ icnumbers }}</td>
					</tr>
				</tbody>
			</table>
			<table class="table table-bordered">
				<col>
					<colgroup span="1"></colgroup>
				</col>
				<tr>
					<th class="text-center" colspan="6" scope="colgroup">{% trans "Nasogastric Tube" %}</th>
					<th class="text-center" colspan="6" scope="colgroup">{% trans "Urinary Catheter" %}</th>
					<th class="text-center" colspan="6" scope="colgroup">{% trans "Cannula" %}</th>
				</tr>
				<tr>
					<th class="text-center" scope="col">{% trans "Date" %}</th>
					<th class="text-center" scope="col">{% trans "Size (Fr)" %}</th>
					<th class="text-center" scope="col">{% trans "Type" %}</th>
					<th class="text-center" scope="col">{% trans "Location" %}</th>
					<th class="text-center" scope="col">{% trans "Due date" %}</th>
					<th class="text-center" scope="col">{% trans "Inserted by" %}</th>
					<th class="text-center" scope="col">{% trans "Date" %}</th>
					<th class="text-center" scope="col">{% trans "Size (Fr)" %}</th>
					<th class="text-center" scope="col">{% trans "Type" %}</th>
					<th class="text-center" scope="col">{% trans "Location" %}</th>
					<th class="text-center" scope="col">{% trans "Due date" %}</th>
					<th class="text-center" scope="col">{% trans "Inserted by" %}</th>
					<th class="text-center" scope="col">{% trans "Date" %}</th>
					<th class="text-center" scope="col">{% trans "Size (Fr)" %}</th>
					<th class="text-center" scope="col">{% trans "Type" %}</th>
					<th class="text-center" scope="col">{% trans "Location" %}</th>
					<th class="text-center" scope="col">{% trans "Due date" %}</th>
					<th class="text-center" scope="col">{% trans "Inserted by" %}</th>
				</tr>

				<tr>
					<th class="text-center" scope="row">{{ form.nasogastric_tube_date|as_crispy_field }}</th>
					<td>{{ form.nasogastric_tube_size|as_crispy_field }}</td>
					<td>{{ form.nasogastric_tube_type|as_crispy_field }}</td>
					<td>{{ form.nasogastric_tube_location|as_crispy_field }}</td>
					<td>{{ form.nasogastric_tube_due_date|as_crispy_field }}</td>
					<td>{{ form.nasogastric_tube_inserted_by|as_crispy_field }}</td>
					<th class="text-center" scope="row">{{ form.urinary_catheter_date|as_crispy_field }}</th>
					<td>{{ form.urinary_catheter_size|as_crispy_field }}</td>
					<td>{{ form.urinary_catheter_type|as_crispy_field }}</td>
					<td>{{ form.urinary_catheter_location|as_crispy_field }}</td>
					<td>{{ form.urinary_catheter_due_date|as_crispy_field }}</td>
					<td>{{ form.urinary_catheter_inserted_by|as_crispy_field }}</td>
					<th class="text-center" scope="row">{{ form.cannula_date|as_crispy_field }}</th>
					<td>{{ form.cannula_size|as_crispy_field }}</td>
					<td>{{ form.cannula_type|as_crispy_field }}</td>
					<td>{{ form.cannula_location|as_crispy_field }}</td>
					<td>{{ form.cannula_due_date|as_crispy_field }}</td>
					<td>{{ form.cannula_inserted_by|as_crispy_field }}</td>
				</tr>
			</table>
			<button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
			{% for item in profiles %}
			<a class="btn btn-danger" href="{% url 'patient_data:patientdata_detail' item.id %}">{% trans "Cancel" %}</a>
			{% endfor %}
		</form>

	</div>

</div>

{% endblock %}