{% extends 'base.html' %}

{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block headtitle %}
    {{ page_title }} | {{ titles.title }}
{% endblock %}

{% block content %}

{% block styles %}
	<link href="{% static 'css/patient_form/enteral_feeding_regine.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

<div class="row isi">

	<div class="formtitle">
		{{ page_title }}
	</div>

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

		<form method="post" id="dataForm" data-url="{% url 'patient_form:load_ic_number' %}" novalidate>
			{% csrf_token %}
			<table class="table-sm table-bordered">
				<tbody>
					<tr>
						<td>NAME:</td>
						<td>{{ form.full_name|as_crispy_field }}</td>
					</tr>
					<tr>
						<td>I/C NO:</td>
						<td>{{ form.ic_number|as_crispy_field }}</td>
					</tr>
				</tbody>
			</table>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th class="text-center">TIME</th>
						<th class="text-center">TYPE OF MILK</th>
						<th class="text-center">AMOUNT (ml)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ form.time|as_crispy_field }}</td>
						<td>{{ form.type_of_milk|as_crispy_field }}</td>
						<td>{{ form.amount|as_crispy_field }}</td>
					</tr>
					<tr>
						<td></td>
						<td>TOTAL FEEDING :</td>
						<td>{{ total_feeding.amount__sum }}</td>
					</tr>
				</tbody>
			</table>
			* Flush with warm water {{ form.warm_water_before|as_crispy_field }} mls before and {{ form.warm_water_after|as_crispy_field }} mls after feedings.
			<br />
			*TOTAL FLUIDS = {{ total_feeding.amount__sum }} mls/ day
			<br />
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>

	</div>

</div>

{% endblock %}