{% extends 'base.html' %}

{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block headtitle %}
    {{ page_title }} | {{ titles.title }}
{% endblock %}

{% block content %}

{% block styles %}
	<link href="{% static 'css/patient_form/intake_output.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

<div class="container">

	{% block navmenu %}
		{% include "navmenu.html" %}
	{% endblock %}

	<div class="row isi">

		<div class="formtitle">
			{{ page_title }}
		</div>

		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<form method="post" id="dataForm" data-url="{% url 'patient_form:load_ic_number' %}" novalidate>
				{% csrf_token %}
				<table class="table-sm table-bordered">
					<tbody>
						<tr>
							<td>NAME:</td>
							<td>{{ form.full_name|as_crispy_field }}</td>
						</tr>
						<tr>
							<td>I/C NO:</td>
							<td>{{ form.ic_number|as_crispy_field }}</td>
						</tr>
					</tbody>
				</table>
				<table class="table table-bordered">
					<col>
						<colgroup span="3"></colgroup>
						<colgroup span="3"></colgroup>
					</col>
					<col>
						<colgroup span="2"></colgroup>
						<colgroup span="2"></colgroup>
					</col>
					<tr>
						<th class="text-center" rowspan="1">Date</th>
						<th class="text-center" colspan="6" scope="colgroup">Intake</th>
						<th class="text-center" colspan="6" scope="colgroup">Output</th>
					</tr>
					<tr>
						<th class="text-center" rowspan="1">{{ form.date|as_crispy_field }}</th>
						<th class="text-center" colspan="2" scope="colgroup">Oral</th>
						<th class="text-center" colspan="2" scope="colgroup">Parenteral</th>
						<th class="text-center" colspan="2" scope="colgroup">Other</th>
						<th class="text-center" colspan="2" scope="colgroup">Urine</th>
						<th class="text-center" colspan="2" scope="colgroup">Gas-Tric</th>
						<th class="text-center" colspan="2" scope="colgroup">Other</th>
					</tr>

					<tr>
						<th class="text-center" rowspan="1">Time</th>
						<th class="text-center" scope="col">Type</th>
						<th class="text-center" scope="col">ml.</th>
						<th class="text-center" scope="col">Type</th>
						<th class="text-center" scope="col">ml.</th>
						<th class="text-center" scope="col">Type</th>
						<th class="text-center" scope="col">ml.</th>
						<th class="text-center" scope="col">Type</th>
						<th class="text-center" scope="col">ml.</th>
						<th class="text-center" scope="col">Type</th>
						<th class="text-center" scope="col">ml.</th>
						<th class="text-center" scope="col">Type</th>
						<th class="text-center" scope="col">ml.</th>
					</tr>

					<tr>
						<th class="text-center" scope="row">{{ form.time|as_crispy_field }}</th>
						<td>{{ form.intake_oral_type|as_crispy_field }}</td>
						<td>{{ form.intake_oral_ml|as_crispy_field }}</td>
						<td>{{ form.intake_parenteral_type|as_crispy_field }}</td>
						<td>{{ form.intake_parenteral_ml|as_crispy_field }}</td>
						<td>{{ form.intake_other_type|as_crispy_field }}</td>
						<td>{{ form.intake_other_ml|as_crispy_field }}</td>
						<td>{{ form.urine_ml|as_crispy_field }}</td>
						<td>{{ form.urine_cumtotal|as_crispy_field }}</td>
						<td>{{ form.urine_cumtotal|as_crispy_field }}</td>
						<td>{{ form.urine_gastric_ml|as_crispy_field }}</td>
						<td>{{ form.other_type|as_crispy_field }}</td>
						<td>{{ form.other_ml|as_crispy_field }}</td>
					</tr>
				</table>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>

		</div>

	</div>
</div>
{% endblock %}