{% extends 'base.html' %}

{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block headtitle %}
    {{ page_title }} | {{ titles.title }}
{% endblock %}

{% block content %}

{% block styles %}
	<link href="{% static 'css/patient_form/maintainance.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block extrahead %}
	{{ form.media }}
{% endblock %}

<div class="row isi">

	<div class="formtitle">
		{{ page_title }}
	</div>

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

		<form method="post" id="dataForm" data-url="{% url 'patient_form:load_ic_number' %}" novalidate>
			{% csrf_token %}
			<table class="table-sm table-bordered">
				<tbody>
					<tr>
						<td>{% trans "Name" %}:</td>
						<td>{{ patients }}{{ form.patient|as_crispy_field }}</td>
					</tr>
					<tr>
						<td>{% trans "I/C No" %}:</td>
						<td>{{ icnumbers }}</td>
					</tr>
				</tbody>
			</table>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th class="text-center">{% trans "Date" %}</th>
						<th class="text-center">{% trans "Items" %}</th>
						<th class="text-center">{% trans "Location/Room" %}</th>
						<th class="text-center">{% trans "Reported by:" %}</th>
						<th class="text-center">{% trans "Status" %}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ form.date|as_crispy_field }}</td>
						<td>{{ form.items|as_crispy_field }}</td>
						<td>{{ form.location_room|as_crispy_field }}</td>
						<td>{{ form.reported_by|as_crispy_field }}</td>
						<td>{{ form.status|as_crispy_field }}</td>
					</tr>
				</tbody>
			</table>
			<button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
			{% for item in profiles %}
			<a class="btn btn-danger" href="{% url 'patient_data:patientdata_detail' item.id %}">{% trans "Cancel" %}</a>
			{% endfor %}
		</form>

	</div>

</div>

{% endblock %}