{% extends 'base.html' %}

{% load static %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block headtitle %}
    {{ page_title }} | {{ titles.title }}
{% endblock %}

{% block extrahead %}
	{{ form.media }}
{% endblock %}

{% block content %}

{% block styles %}
<link href="{% static 'css/patient_form/medication_administration.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascript %}
	<script src="{% static 'js/patient_form/medication_administration.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/jquery.formset.js' %}" type="text/javascript"></script>
{% endblock %}

<div class="row isi">

	<div class="formtitle">
		{{ page_title }}
	</div>

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

		<form method="post">
		{% csrf_token %}		

			<div class="container-fluid" id="medication_administration">

				<div class="row">
					<div class="col-2 col">
						{% trans "Name" %}:
					</div>
					<div class="col-4 col">
						{{ patients }}{{ form.patient|as_crispy_field }}
					</div>
				</div>

				<div class="row">
					<div class="col-2 col">
						{% trans "I/C No" %}:
					</div>
					<div class="col-4 col">
						{{ icnumbers }}
					</div>
					<div class="col-6 col">
						{{ form.allergy|as_crispy_field }}
					</div>
				</div>

			</div>

			<div class="container-fluid" id="medication_administration">

				<div class="row">
					<div class="col-7 col text-center">
						{% trans "Medication" %}
					</div>
					<div class="col-2 col text-center">
						{% trans "Date" %}
					</div>
					<div class="col-1 col text-center">
						{% trans "Time" %}
					</div>
					<div class="col-1 col text-center">
						{% trans "Signature" %}
					</div>
					<div class="col-1 col" style="border-top:none;border-right:none;border-bottom:none;">
					</div>
				</div>

				<div class="row">
					<div class="col-3 col text-center">
						{% trans "Name" %}
					</div>
					<div class="col-1 col text-center">
						{% trans "Dosage" %}
					</div>
					<div class="col-1 col text-center">
						{% trans "Tab/MLS	" %}
					</div>
					<div class="col-1 col text-center">
						{% trans "Frequency" %}
					</div>
					<div class="col-1 col text-center">
						{% trans "Route" %}
					</div>
					<div class="col-2 col" style="border-top:none;">
					</div>
					<div class="col-1 col" style="border-top:none;">
					</div>
					<div class="col-1 col" style="border-top:none;">
					</div>
					<div class="col-1 col" style="border-top:none;border-right:none;border-bottom:none;">
					</div>
				</div>

				{{ formset.management_form }}
				{% for item in formset %}
				<div class="row form-row">
					<div class="col-3 col">
						{% render_field item.medication_name class="form-control" %}
					</div>
					<div class="col-1 col">
						{% render_field item.medication_dosage class="form-control" %}
					</div>
					<div class="col-1 col">
						{% render_field item.medication_tab class="form-control" %}
					</div>
					<div class="col-1 col">
						{% render_field item.medication_frequency class="form-control" %}
					</div>
					<div class="col-1 col">
						{% render_field item.medication_route class="form-control" %}
					</div>
					<div class="col-2 col">
						{% render_field item.medication_date class="form-control" %}
					</div>
					<div class="col-1 col">
						{% render_field item.medication_time class="form-control" %}
					</div>
					<div class="col-1 col">
						{% render_field item.signature_nurse class="form-control" %}
					</div>
					<div class="col-1 col" style="border-top:none;border-right:none;border-bottom:none;">
						<button type="button" class="btn btn-success add-form-row">
							<i class="fas fa-plus"></i>
						</button>
					</div>
				</div>
			</div>
			{% endfor %}

			<div class="container-fluid" id="medication_administration">

				<div class="row">
					<div class="col-4 col text-center">
						{% trans "STAT Medication" %}
					</div>
					<div class="col-4 col text-center">
						{% trans "Date & Time" %}
					</div>
					<div class="col-4 col text-center">
						{% trans "Given By" %}
					</div>
				</div>

				<div class="row">
					<div class="col-4 col">
						{{ form.stat|as_crispy_field }}
					</div>
					<div class="col-4 col">
						{{ form.medicationstat_date_time|as_crispy_field }}
					</div>
					<div class="col-4 col">
						{{ form.given_by|as_crispy_field }}
					</div>
				</div>

			</div>



			N-NBM          O- Omit          R-Refused        TA- Take Away      T-Taken        W-Withold
			<br /><br />
			* Blue colour row is for date –auto fill
			<br />
			*allergy: if written—red colour –auto fill for subsequent records
			<br />
			* Yellow column is for time for serving medication
			<br />
			Request to put selecting button for the time column –all international timing -0100,0200,0300,0400,0500…….2400
			<br />
			*Route: Oral/IV/IM/S/C/SL/ RT/ PR /LA /Neb
			<br />
			*Frequency: OD/OM/PM/ON/BD/TDS/QID/EOD/PRN/OTHERS:
			<br />
			* 1/1= 1tab, 11/11=2 TABS, 111/111 =3 TABS, ½ =HALF TAB, OTHERS: 1 ½ , 4 TABS
			<br />
			* INDICATE THE MEDICATION FROM WHERE= FROM  SK CENTER, HOSPITAL, CLINIC, OWN
			<br />
			*THE PERSON WHO GIVE ONLY CAN ENTER THE ABOVE SIGNATURE COLUMN –EXAMPLE LSS,LPC-NAME OF NURSE WHO GIVE.
			<br />
			*NEED APPROVAL FOR CHANGES OF THE MEDICATION KEY IN .
			<br />
			<button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
			{% for item in profiles %}
			<a class="btn btn-danger" href="{% url 'patient_data:patientdata_detail' item.username %}">{% trans "Cancel" %}</a>
			{% endfor %}
		</form>

	</div>

</div>

{% endblock %}

{% block js %}
	<script type='text/javascript'>
	function renewDatePickers()
	{
//		$('.datepicker').datepicker('destroy');
//		$('#id_form-0-medication_date').datepicker('destroy');
//		$(".datepicker").datepicker({dateFormat: 'd/m/Y'});
//		$("medication_date").datepicker({dateFormat: 'd/m/Y'});
	}

//	$(renewDatePickers);

	$(function()
	{
//		$('#id_form-0-medication_date').formset(
//		$("[id$='medication_date']").formset(
//		{
//			added: renewDatePickers // Event -- read inline docs
//		});
	})

	$(document).ready(function()
	{
//		$('#id_form-0-medication_date').datepicker();
//		$('.form-row').formset(
//		{
//			added: function(row)
//			{
//				row.find("#id_form-0-medication_date").datepicker();
//			}
//		});
//		$("[id$='medication_date']").each(function(i)
//		$("[class$='form-row']").each(function(i)
//		{
//			$(this).datepicker();
//		})
	});

	function cloneMore(selector, prefix)
	{
		var newElement = $(selector).clone(true);
		var total = $('#id_' + prefix + '-TOTAL_FORMS').val();

		newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function()
		{
			var name = $(this).attr('name').replace('-' + (total-1) + '-', '-' + total + '-');
			var id = 'id_' + name;
			$(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
		});

		newElement.find('label').each(function()
		{
			var forValue = $(this).attr('for');
			if (forValue)
			{
				forValue = forValue.replace('-' + (total-1) + '-', '-' + total + '-');
				$(this).attr({'for': forValue});
			}
		});
		total++;

		$('#id_' + prefix + '-TOTAL_FORMS').val(total);
		$(selector).after(newElement);
		var conditionRow = $('.form-row:not(:last)');
		conditionRow.find('.btn.add-form-row')
		.removeClass('btn-success').addClass('btn-danger')
		.removeClass('add-form-row').addClass('remove-form-row')
		.html('<i class="fas fa-minus"></i>');
		console.log(selector);
		return false;
	}

	$(document).on('click', '.add-form-row', function(e)
	{
		e.preventDefault();
		cloneMore('.form-row:last', 'form');
		return false;
	});

	function updateElementIndex(el, prefix, ndx)
	{
		var id_regex = new RegExp('(' + prefix + '-\\d+)');
		var replacement = prefix + '-' + ndx;
		if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
		if (el.id) el.id = el.id.replace(id_regex, replacement);
		if (el.name) el.name = el.name.replace(id_regex, replacement);
	}

	function deleteForm(prefix, btn)
	{
		var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
		if (total > 1)
		{
			btn.closest('.form-row').remove();
			var forms = $('.form-row');
			$('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
			for (var i=0, formCount=forms.length; i<formCount; i++)
			{
				$(forms.get(i)).find(':input').each(function()
				{
					updateElementIndex(this, prefix, i);
				});
			}
		}
		return false;
	}

	$(document).on('click', '.remove-form-row', function(e)
	{
		e.preventDefault();
		deleteForm('form', $(this));
		return false;
	});

	</script>
{% endblock %}