{% extends 'base.html' %}

{% load static %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block headtitle %}
    {{ page_title }} | {{ titles.title }}
{% endblock %}

{% block extrahead %}
	{{ form.media }}
{% endblock %}

{% block content %}

{% block styles %}
	<link href="{% static 'css/patient_form/medication_administration.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascript %}
	<script src="{% static 'js/patient_form/medication_administration.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/jquery.formset.js' %}" type="text/javascript"></script>
{% endblock %}

<div class="row isi">

	<div class="formtitle">
		{{ page_title }}
	</div>

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

		<form method="post">
		{% csrf_token %}
		{{ formset.management_form }}

			<div class="container-fluid" id="medication_administration">

				<div class="row">
					<div class="col-2 col">
						{% trans "Name" %}:
					</div>
					<div class="col-4 col">
						{{ patients }}{{ form.patient|as_crispy_field }}
					</div>
				</div>

				<div class="row">
					<div class="col-2 col">
						{% trans "I/C No" %}:
					</div>
					<div class="col-4 col">
						{{ icnumbers }}
					</div>
					<div class="col-6 col">
						{{ form.allergy|as_crispy_field }}
					</div>
				</div>

			</div>

			<div class="container-fluid" id="medication_administration">

				<div class="row">
					<div class="col-7 col text-center">
						{% trans "Medication" %}
					</div>
					<div class="col-2 col text-center">
						{% trans "Date" %}
					</div>
					<div class="col-1 col text-center">
						{% trans "Time" %}
					</div>
					<div class="col-1 col text-center">
						{% trans "Signature" %}
					</div>
					<div class="col-1 col" style="border-top:none;border-right:none;border-bottom:none;">
					</div>
				</div>

				<div class="row">
					<div class="col-3 col text-center">
						{% trans "Name" %}
					</div>
					<div class="col-1 col text-center">
						{% trans "Dosage" %}
					</div>
					<div class="col-1 col text-center">
						{% trans "Tab/MLS	" %}
					</div>
					<div class="col-1 col text-center">
						{% trans "Frequency" %}
					</div>
					<div class="col-1 col text-center">
						{% trans "Route" %}
					</div>
					<div class="col-2 col">
					</div>
					<div class="col-1 col">
					</div>
					<div class="col-1 col">
					</div>
					<div class="col-1 col" style="border-top:none;border-right:none;border-bottom:none;">
					</div>
				</div>

				{% for item in formset %}
				<div class="row form-row">
					<div class="col-3 col">
						{{ form.medication_name|as_crispy_field }}
					</div>
					<div class="col-1 col">
						{{ form.medication_dosage|as_crispy_field }}
					</div>
					<div class="col-1 col">
						{{ form.medication_tab|as_crispy_field }}
					</div>
					<div class="col-1 col">
						{{ form.medication_frequency|as_crispy_field }}
					</div>
					<div class="col-1 col">
						{{ form.medication_route|as_crispy_field }}
					</div>
					<div class="col-2 col">
						{{ form.medication_date|as_crispy_field }}
					</div>
					<div class="col-1 col">
						{{ form.medication_time|as_crispy_field }}
					</div>
					<div class="col-1 col">
						{{ form.signature_nurse|as_crispy_field }}
					</div>
					<div class="col-1 col" style="border-top:none;border-right:none;border-bottom:none;">
						<button type="button" class="btn btn-success add-form-row">
							<i class="fas fa-plus"></i>
						</button>
					</div>
				</div>
			</div>
			{% endfor %}

			<div class="container-fluid" id="medication_administration">

				<div class="row">
					<div class="col-4 col">
						{% trans "STAT Medication" %}
					</div>
					<div class="col-4 col">
						{% trans "Date & Time" %}
					</div>
					<div class="col-4 col">
						{% trans "Given By" %}
					</div>
				</div>

				<div class="row">
					<div class="col-4 col">
						{{ form.stat|as_crispy_field }}
					</div>
					<div class="col-4 col">
						{{ form.medicationstat_date_time|as_crispy_field }}
					</div>
					<div class="col-4 col">
						{{ form.given_by|as_crispy_field }}
					</div>
				</div>

			</div>



			N-NBM          O- Omit          R-Refused        TA- Take Away      T-Taken        W-Withold
			<br /><br />
			* Blue colour row is for date –auto fill
			<br />
			*allergy: if written—red colour –auto fill for subsequent records
			<br />
			* Yellow column is for time for serving medication
			<br />
			Request to put selecting button for the time column –all international timing -0100,0200,0300,0400,0500…….2400
			<br />
			*Route: Oral/IV/IM/S/C/SL/ RT/ PR /LA /Neb
			<br />
			*Frequency: OD/OM/PM/ON/BD/TDS/QID/EOD/PRN/OTHERS:
			<br />
			* 1/1= 1tab, 11/11=2 TABS, 111/111 =3 TABS, ½ =HALF TAB, OTHERS: 1 ½ , 4 TABS
			<br />
			* INDICATE THE MEDICATION FROM WHERE= FROM  SK CENTER, HOSPITAL, CLINIC, OWN
			<br />
			*THE PERSON WHO GIVE ONLY CAN ENTER THE ABOVE SIGNATURE COLUMN –EXAMPLE LSS,LPC-NAME OF NURSE WHO GIVE.
			<br />
			*NEED APPROVAL FOR CHANGES OF THE MEDICATION KEY IN .
			<br />
			<button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
			{% for item in profiles %}
			<a class="btn btn-danger" href="{% url 'patient_data:patientdata_detail' item.username %}">{% trans "Cancel" %}</a>
			{% endfor %}
		</form>

	</div>

</div>

{% endblock %}
