{% extends 'base.html' %}

{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block headtitle %}
    {{ page_title }} | {{ titles.title }}
{% endblock %}

{% block extrahead %}
	{{ form.media }}
{% endblock %}

{% block content %}

{% block styles %}
	<link href="{% static 'css/patient_form/medication_administration.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

<div class="row isi">

	<div class="formtitle">
		{{ page_title }}
	</div>

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

		<form method="post" id="dataForm" data-url="{% url 'patient_form:load_ic_number' %}" novalidate>
			{% csrf_token %}
			<table class="table table-bordered">
				<thead>
					<tr>
						<td>{% trans "Name" %}:</td>
						<td>{{ patients }}{{ form.patient|as_crispy_field }}</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{% trans "I/C No" %}:</td>
						<td>{{ icnumbers }}</td>
						<td>
							{% trans "ALERGY" %}:
							<br />
							{{ form.allergy|as_crispy_field }}
						</td>
					</tr>
				</tbody>
			</table>

			<table class="table table-bordered">
				<col>
					<colgroup span="1"></colgroup>
				</col>
				<tr>
					<th class="text-center" colspan="4" scope="colgroup">{% trans "Medication" %}</th>
					<th class="text-center" colspan="1" scope="colgroup">{% trans "Time" %}</th>
					<th class="text-center" colspan="1" scope="colgroup">{% trans "Date" %}</th>
				</tr>
				<tr>
					<th class="text-center" scope="col">{% trans "Name" %}</th>
					<th class="text-center" scope="col">{% trans "Dosage" %}</th>
					<th class="text-center" scope="col">{% trans "Tab/MLS" %}</th>
					<th class="text-center" scope="col">{% trans "Frequency" %}</th>
					<th class="text-center"></th>
					<th class="text-center"></th>
				</tr>
				<tbody>
					<tr>
						<td>{{ form.medication_name|as_crispy_field }}</td>
						<td>{{ form.medication_dosage|as_crispy_field }}</td>
						<td>{{ form.medication_tab|as_crispy_field }}</td>
						<td>{{ form.medication_frequency|as_crispy_field }}</td>
						<td>{{ form.medication_time|as_crispy_field }}</td>
						<td>{{ form.medication_date|as_crispy_field }}</td>
					</tr>
						<td class="text-center"><b>{% trans "Route" %}</b></td>
						<td colspan="3">{{ form.medication_route|as_crispy_field }}</td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>

			<table class="table table-bordered">
				<thead>
					<tr>
						<th class="text-center">{% trans "STAT Medication" %}</th>
						<th class="text-center">{% trans "Date & Time" %}</th>
						<th class="text-center">{% trans "Given By" %}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ form.stat|as_crispy_field }}</td>
						<td>{{ form.date_time|as_crispy_field }}</td>
						<td>{{ form.given_by|as_crispy_field }}</td>
					</tr>
				</tbody>
			</table>
			N-NBM          O- Omit          R-Refused        TA- Take Away      T-Taken        W-Withold
			<br /><br />
			* Blue colour row is for date –auto fill
			<br />
			*allergy: if written—red colour –auto fill for subsequent records
			<br />
			* Yellow column is for time for serving medication
			<br />
			Request to put selecting button for the time column –all international timing -0100,0200,0300,0400,0500…….2400
			<br />
			*Route: Oral/IV/IM/S/C/SL/ RT/ PR /LA /Neb
			<br />
			*Frequency: OD/OM/PM/ON/BD/TDS/QID/EOD/PRN/OTHERS:
			<br />
			* 1/1= 1tab, 11/11=2 TABS, 111/111 =3 TABS, ½ =HALF TAB, OTHERS: 1 ½ , 4 TABS
			<br />
			* INDICATE THE MEDICATION FROM WHERE= FROM  SK CENTER, HOSPITAL, CLINIC, OWN
			<br />
			*THE PERSON WHO GIVE ONLY CAN ENTER THE ABOVE SIGNATURE COLUMN –EXAMPLE LSS,LPC-NAME OF NURSE WHO GIVE.
			<br />
			*NEED APPROVAL FOR CHANGES OF THE MEDICATION KEY IN .
			<br />
			<button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
			{% for item in profiles %}
			<a class="btn btn-danger" href="{% url 'patient_data:patientdata_detail' item.id %}">{% trans "Cancel" %}</a>
			{% endfor %}
		</form>

	</div>

</div>

{% endblock %}