{% extends 'base.html' %}

{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block headtitle %}
    {{ page_title }} | {{ titles.title }}
{% endblock %}

{% block content %}

{% block styles %}
	<link href="{% static 'css/patient_form/vital_sign_flow.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block extrahead %}
	{{ form.media }}
{% endblock %}

<div class="row isi">

	<div class="formtitle">
		{{ page_title }}
	</div>

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

		<form method="post" id="dataForm" data-url="{% url 'patient_form:load_ic_number' %}" novalidate>
			{% csrf_token %}
			<table class="table-sm table-bordered">
				<tbody>
					<tr>
						<td>{% trans "Name" %}:</td>
						<td>{{ patients }}{{ form.patient|as_crispy_field }}</td>
					</tr>
					<tr>
						<td>{% trans "I/C No" %}:</td>
						<td>{{ icnumbers }}</td>
					</tr>
				</tbody>
			</table>
			<table class="table table-bordered">
				<col>
					<colgroup span="2"></colgroup>
					<colgroup span="2"></colgroup>
					<colgroup span="2"></colgroup>
				</col>
				<tr>
					<th class="text-center"rowspan="2">{% trans "Date" %}</th>
					<th class="text-center"rowspan="2">{% trans "Time" %}</th>
					<th class="text-center"rowspan="2">{% trans "Temp (ºC)" %}</th>
					<th class="text-center"rowspan="2">{% trans "Pulse (bpm)" %}</th>
					<th class="text-center"colspan="2" scope="colgroup">{% trans "Blood Pressure (mmHg)" %}</th>
					<th class="text-center"rowspan="2">{% trans "Respiration (min)" %}</th>
					<th class="text-center"colspan="2" scope="colgroup">{% trans "SPO2" %}</th>
					<th class="text-center"colspan="2" scope="colgroup">{% trans "HGT" %}</th>
				</tr>
				<tr>
					<th class="text-center"scope="col">{% trans "Systolic" %}</th>
					<th class="text-center"scope="col">{% trans "Diastolic" %}</th>
					<th class="text-center"scope="col">{% trans "(%)" %}</th>
					<th class="text-center"scope="col">{% trans "O2/min" %}</th>
					<th class="text-center"scope="col">{% trans "(mmol/L)" %}</th>
					<th class="text-center"scope="col">{% trans "Remarks" %}</th>
				</tr>
				<tr>
					<td>{{ form.date|as_crispy_field }}</td>
					<td>{{ form.time|as_crispy_field }}</td>
					<td>{{ form.temp|as_crispy_field }}</td>
					<td>{{ form.pulse|as_crispy_field }}</td>
					<td>{{ form.blood_pressure_systolic|as_crispy_field }}</td>
					<td>{{ form.blood_pressure_diastolic|as_crispy_field }}</td>
					<td>{{ form.respiration|as_crispy_field }}</td>
					<td>{{ form.spo2_percentage|as_crispy_field }}</td>
					<td>{{ form.spo2_o2|as_crispy_field }}</td>
					<td>{{ form.hgt_liter|as_crispy_field }}</td>
					<td>{{ form.hgt_remarks|as_crispy_field }}</td>
				</tr>
			</table>
			<button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
			{% for item in profiles %}
			<a class="btn btn-danger" href="{% url 'patient_data:patientdata_detail' item.username %}">{% trans "Cancel" %}</a>
			{% endfor %}
		</form>

	</div>

</div>

{% endblock %}