.isi {
  height: auto;
  padding-bottom: 20px;
}

.footer {
  height: 151px;
}

.table-sm {
  width: 70%;
  margin-bottom: 10px;
}

.ui-icon-trash {
    display: inline-block;
}

.custom-control-label {
  padding-left: 20px;
}
