{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block content %}

<div class="container">

	<div class="row navigation">
		<div id="logo" class="" alt="image">
			<a href="/" title="eDapt">
				<img src="{% static "images/healthcare_logo.jpg" %}" alt="Logo"/>
			</a>
		</div>

		<div id="slogan_title" class="">
			<span id="rtr-slogan_title_0">Learning</span>
		</div>
	</div>

	<div class="row isi">
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
		</div>

		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
			<div id="s-fieldSet" class="">
				<div id="s-Rectangle_1" class="">
					<span id="rtr-s-Rectangle_1_0"></span>
				</div>

				<div id="login_box" class="" alt="image">
					<img src="{% static "images/loginbox.png" %}" alt="Login"/>
				</div>

				<div id="fieldset_title" class="">
					<span id="rtr-fieldset_title_0">Field Set / Group</span>
				</div>
			</div>

				{% load crispy_forms_tags %}
				{% crispy login_form %}

			<div id="title_forgetpassword" class="">			
				<span id="rtr-title_forgetpassword_0"><a href="{% url 'account_reset_password' %}">{% trans "Forgot password" %}</a></span>
			</div>

		</div>

		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
		</div>
	</div>

	<div class="row footer">
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<div id="s-Title_1">
					<span id="rtr-s-Title_1_0">PRODUCT</span>
				</div>

				<div id="s-Paragraph_1" class="">
					<span id="rtr-s-Paragraph_1_0">Features</span>
				</div>
			</div>

			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<div id="s-Title_2">
					<span id="rtr-s-Title_2_0">CONTACT</span>
				</div>

				<div id="s-Paragraph_2" class="">
					<span id="rtr-s-Paragraph_2_0">Tel: 12345678</span>
					<span id="rtr-s-Paragraph_2_1"><br>Email: edapt@gmail.com</span>
				</div>
			</div>

			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<div id="s-Title_3">
					<span id="rtr-s-Title_3_0">TRIAL</span>
					<span id="rtr-s-Title_3_1">SIGN UP</span>
				</div>

				<div id="s-Paragraph_3" class="">
					<span id="rtr-s-Paragraph_3_0">School</span>
					<span id="rtr-s-Paragraph_3_1"><br>Individual</span>
				</div>
			</div>
	</div>
</div>
{% endblock %}
