{% load static %}

<div class="row navigation">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<a href="/">
				<div id="logo_nav" class="" alt="image">
					<img src="{% static "images/healthcare_logo.jpg" %}" alt="Logo Navbar"/>
				</div>
			</a>
		</div>

		<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
			<div id="s-menuBar" class="">
				<div id="s-Rectangle_1" class="">
					<span id="rtr-s-Rectangle_1_0"></span>
				</div>
					<div id="s-Image_55" class="" alt="image">
						<img src="{% static "images/navbar.png" %}" alt="Navbar"/>
					</div>
				<div id="menu_practise" class="">
					<span id="rtr-menu_practise_0"><a href="/admission/" class="{% if navbar == 'admission' %}active{% else %}inactive{% endif %}">Admission</a></span>
				</div>
				<div id="menu_etext" class="">
					<span id="rtr-menu_etext_0"><a href="/etext/" class="{% if navbar == 'etext' %}active{% else %}inactive{% endif %}">Homecare</a></span>
				</div>
				<div id="menu_progress" class="">
					<span id="rtr-menu_progress_0"><a href="/progress/" class="{% if navbar == 'progress' %}active{% else %}inactive{% endif %}">Appointment</a></span>
				</div>
				<div id="menu_account" class="">
					<span id="rtr-menu_account_0">
						<a href="/account/" class="{% if navbar == 'account' %}active{% else %}inactive{% endif %}">Account</a>
					</span>
				</div>
				<div id="menu_logout" class="">
					<form method="post" action="/accounts/logout/">
						<input type="hidden" name="csrfmiddlewaretoken" value="">
						<span id="rtr-menu_logout_0"><a href="/accounts/logout/">Logout</a></span>
					</form>
				</div>
			</div>
		</div>

		<div id="shapewrapper-s-Line_1" class="">
			<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" id="svg-s-Line_1" class="svgContainer" style="width: 100%; height: 100%; left: 0px; top: 0px;">
				<path id="s-Line_1" class="" d="M 0 1 L 986 1" style="fill: rgba(0, 0, 0, 0);"></path>
			</svg>
		</div>
</div>