.isi {
  height: auto;
  padding-bottom: 20px;
}

.footer {
  height: 151px;
}

.kolom {
  column-count: 2;
  column-gap: 2rem;
  list-style: none;
}
.dateku{
  margin-left: -60px;
}

#div_id_age {
  display: inline-flex;
  margin-left: -10px;
  margin-right: -80px;
}
.modeku {
  display: inline-flex;
}

#id_ic_number, #id_birth_date, #id_marital_status, #id_phone, #id_religion, #id_ec_ic_number, #id_ec_relationship, #id_ec_phone, #id_date_discharge {
    width: initial;
}

#div_id_ic_number > div > span {
    width: 50% !important;
}

#div_id_full_name > div > span {
  width: 200px;
}

.custom-control-label {
  margin-right: 10px;
}
