.isi {
  height: auto;
  padding-bottom: 20px;
}

.footer {
  height: 151px;
}

#id_full_name, #id_ic_number, #id_patient_family_name, #id_nric_number, #id_patient_family_relationship, #id_patient_family_phone, #id_patient_name, #id_designation, #id_signature, #id_date {
    width: initial;
    margin-left: 50px;
}

#div_id_ic_number > div > span {
    width: 50% !important;
}

#div_id_full_name > div > span {
  width: 200px;
}

.custom-control-label {
  padding-left: 20px;
}

.kolom {
  column-count: 2;
  column-gap: 2rem;
  list-style: none;
}

.homeleve_body {
  text-align: justify;
  padding: 20px;
}