.isi {
  height: auto;
  padding-bottom: 20px;
}

.footer {
  height: 151px;
}

.custom-control-label {
  padding-left: 20px;
}

.kolom {
  column-count: 2;
  column-gap: 2rem;
  list-style: none;
}

.homeleave_body {
  text-align: justify;
  padding: 20px;
}

