.isi {
  height: auto;
  padding-bottom: 20px;
}

.footer {
  height: 151px;
}

.table-sm {
  width: 70%;
  margin-bottom: 10px;
}

.ui-icon-trash {
    display: inline-block;
}

.custom-control-label {
  padding-left: 20px;
}

.formtitle {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0 auto 10px 50%;
    display: table;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: -17%;
}

.discharge {
  list-style-type: none;
  padding-inline-start: 0px;
}

input[type=checkbox]
{
/*  margin-right: 5px;
  margin-left: 5px;
*/
  width: 15px;
  height: 15px;
}

.list-group-item {
    display: list-item;
}
