.isi {
  height: auto;
  padding-bottom: 20px;
}

.footer {
  height: 151px;
}

.table-sm {
  width: 70%;
}

.ui-icon-trash {
    display: inline-block;
}

.custom-control-label {
  padding-left: 20px;
}

.table-sm {
  margin-bottom: 10px;
}

#total {
    margin: auto 5px;
}

.enteral_table {
  width: 540px;
}

.foot_table {
  margin: 0px 0px 10px 0px;
  border: 1px solid #dee2e6!important;
  padding: 10px 0;
}

.header_form {
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
    padding: .75rem;
    margin-top: 20px;
}

.header_form_detail {
  padding: .75rem;
}

#intake_output {
  padding: 20px;
}

#intake_output .col {
  border: 1px solid #c9c9c9;
  padding-top: 12px;
  padding-bottom: 10px;
}

#intake_output .col:not(:last-child) {
  border-right-width: 0;
}

#intake_output .row:not(:last-child) .col {
  border-bottom-width: 0;
}

.form-row {
  margin-right: -15px !important;
  margin-left: -15px !important;
}

.date_field
{
  width: 130px;
}

.time_field
{
  width: 90px;
}

.integer_field
{
  width: 75px;
}

.data_detail {
    margin-left: 0px;
    margin-right: 0px;
}
