{% extends 'base.html' %}

{% load static %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block headtitle %}
	{{ page_title }} | {{ titles.title }}
{% endblock %}

{% block styles %}
	<link href="{% static 'css/patient/appointment.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/bootstrap-datetimepicker.css' %}" rel="stylesheet" type="text/css">
	<style>
		.datetimepicker{z-index:1151 !important;}
	</style>
{% endblock %}

{% block javascript %}
	<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}" type="text/javascript"></script>
{% endblock %}

{% block extrahead %}
{% endblock %}

{% block content %}

<div class="row isi">

	<div class="formtitle">
		{{ page_title }}
	</div>

	<div class="clear"></div>


	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

		<form method="post">
		{% csrf_token %}

			<div class="container-fluid" id="appointment">

				<div class="row">
					<div class="col-2 col">
						{% trans "Name" %}:
					</div>

					<div class="col-4 col">
						{{ patients }}
						{{ form.patient|as_crispy_field }}
					</div>
				</div>

				<div class="row">
					<div class="col-2 col">
						{% trans "I/C No" %}:
					</div>
					<div class="col-4 col">
						{{ icnumbers }}
					</div>
				</div>
			</div>

			<div class="container-fluid" id="appointment">

				<div class="row">
					<div class="col-2 col text-center">
						{% trans "Date" %}
					</div>
					<div class="col-2 col text-center">
						{% trans "Time" %}
					</div>
					<div class="col-2 col text-center">
						{% trans "Hospital/Clinic/Center" %}
					</div>
					<div class="col-2 col text-center">
						{% trans "Department" %}
					</div>
					<div class="col-2 col text-center">
						{% trans "Planning & Investigation" %}
					</div>
					<div class="col-2 col text-center">
						{% trans "Treatment/Order" %}
					</div>
				</div>

				<div class="row">
					<div class="col-4 col">
						{{ form.date_time|as_crispy_field }}
					</div>
					<div class="col-2 col">
						{{ form.hospital_clinic_center|as_crispy_field }}
					</div>
					<div class="col-2 col">
						{{ form.department|as_crispy_field }}
					</div>
					<div class="col-2 col">
						{{ form.planning_investigation|as_crispy_field }}
					</div>
					<div class="col-2 col">
						{{ form.treatment_order|as_crispy_field }}
					</div>
				</div>
			</div>

			<br />
			<button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
			{% for item in profiles %}
			<a class="btn btn-danger" href="{% url 'patient:patientdata_detail' item.username %}">{% trans "Cancel" %}</a>
			{% endfor %}
		</form>

	</div>

</div>

{% endblock %}

{% block js %}
	<script type='text/javascript'>
	$(document).ready(function()
	{

		$.extend(true, $.fn.datetimepicker.defaults, {
			icons: {
				time: 'far fa-clock',
				date: 'far fa-calendar',
				up: 'fas fa-arrow-up',
				down: 'fas fa-arrow-down',
				previous: 'fas fa-chevron-left',
				next: 'fas fa-chevron-right',
				today: 'fas fa-calendar-check',
				clear: 'far fa-trash-alt',
				close: 'far fa-times-circle'
			}
		});

		$('[id^="id_date_time"]').wrapAll("<div class='row' style='border:none;'></div>");
		$('[id^="id_date_time"]').wrap("<div class='col' style='border:none;'></div>");
		$("#id_date_time_0").datetimepicker(
			{
//				format: 'L',
				format:'DD/MM/YYYY',
//				defaultDate: currentDate,
				showTodayButton: true,
				showClear: true,
				showClose: true,
			}
		);
		$("#id_date_time_1").datetimepicker(
			{
//				format: 'LT',
				format: 'HH:mm'
			}
		);
	});
	</script>
{% endblock %}
