{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block headtitle %}
    {{ page_title }} | {{ titles.title }}
{% endblock %}

{% block style %}
    <link href="{% static 'css/staff/staff_records.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/staff/staff.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/staff/staff_records.js' %}"></script>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
{% endblock %}

{% block content %}

<div class="container-fluid">

        <div class="row formtitle">
            {{ page_title }}
        </div>

        <div class="row border rounded detail">

            <div class="col-12">
                {% if profiles %}
                        {% for item in profiles %}
                        <div class="col-4">
                            <span id="name_title">{% trans "Name" %}:</span>
                            <span id="name_field">{{ item.full_name }}</span>
                        </div>
                        <div class="col-6">
                            <span id="class_title">{% trans "IC Number" %}:</span>
                            <span id="class_field">{{ item.ic_number }}</span>
                        </div>
                        {% endfor %}
                {% endif %}
            </div>

        </div>

        <div class="row">

            <div class="col-12">
                <div class="card">

                    <div class="card-body">

                        <div class="table-responsive">
                            <form method="post" action="">
                            {% csrf_token %}
                                <table id="t_add_row" class="table table-striped table-bordered">
                                    <thead class="thead_light">
                                        <tr>
                                            <th class="text-center">{% trans "Year" %}</th>
                                            <th class="text-center">{% trans "Annual Leave (Days)" %}</th>
                                            <th class="text-center">{% trans "Public Holiday (Days)" %}</th>
                                            <th class="text-center">{% trans "Replacement Public Holiday" %}</th>
                                            <th class="text-center">{% trans "Medical Certificate" %}</th>
                                            <th class="text-center">{% trans "Siri No & Diagnosis" %}</th>
                                            <th class="text-center">{% trans "Emergency Leaves" %}</th>
                                            <th class="text-center">{% trans "Reasons" %}</th>
                                            <th class="text-center">{% trans "Unpaid Leaves" %}</th>
                                            <th class="text-center">{% trans "Reasons" %}</th>
                                            <th class="text-center">{% trans "Action" %}</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% include 'staff/staff_records/partial_list.html' %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td></td>
                                            <td><b>Total: {{ total_annual.annual_leave_days__sum }}</b></td>
                                            <td><b>Total: {{ total_public.public_holiday_days__sum }}</b></td>
                                            <td><b>Total: {{ total_replacement.replacement_public_holiday__sum }}</b></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </form>
                        </div>

                    <br />
                    {% for item in profiles %}
                    <a class="btn btn-outline-primary" href="{% url 'staff:staffdata_detail' item.username %}">{% trans "Back" %}</a>
                    {% endfor %}

                    </div>

                </div>
            </div>

        </div>

</div>

{% endblock %}

{% block jscript %}
<script type="text/javascript">
$(function()
{
    $(".trigger_modal").each(function()
    {
        $(this).modalForm(
        {
            formURL: $(this).data('form-url')
        });
    });
});
</script>
{% endblock %}
