.isi {
  height: auto;
  padding-bottom: 20px;
}

.footer {
  height: 151px;
}

.table-sm {
  width: 70%;
}

.ui-icon-trash {
    display: inline-block;
}

.table-sm {
  margin-bottom: 10px;
}

#medication_administration {
  padding: 20px;
}

#medication_administration .col {
  border: 1px solid #c9c9c9;
  padding-top: 12px;
  padding-bottom: 10px;
}

#medication_administration .col:not(:last-child) {
  border-right-width: 0;
}

#medication_administration .row:not(:last-child) .col {
  border-bottom-width: 0;
}

.form-row {
  margin-right: -15px !important;
  margin-left: -15px !important;
}

.header_form {
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
    padding: .75rem;
    margin-top: 20px;
}

.header_form_detail {
  padding: .75rem;
}

.data_detail {
    margin-left: 0px;
    margin-right: 0px;
}

.custom_checkbox {
  padding-left: 35px;
  width: 5px;
}

.checkboxinput {
  padding-left: 35px;
  width: 5px;
}

.custom-control {
    padding-left: 35px;
    margin-top: 5px;
}
