.isi {
  height: auto;
  padding-bottom: 20px;
}

.footer {
  height: 151px;
}

.table-sm {
  width: 70%;
}

.ui-icon-trash {
    display: inline-block;
}

#id_ic_number {
    width: 50% !important;
    margin-top: 5px;
}

#id_full_name_text {
    margin-top: 5px;
}

#id_full_name_on_deck {
    margin-top: 10px;
    margin-bottom: -15px;
}


#div_id_ic_number > div > span {
    width: 50% !important;
}

#div_id_full_name > div > span {
  width: 200px;
}

#hint_id_full_name {
  padding-top: 5px;
}

.custom-control-label {
  padding-left: 20px;
}

.table-sm {
  margin-bottom: 10px;
}