{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block headtitle %}
    {{ page_title }} | {{ titles.title }}
{% endblock %}

{% block extrahead %}
	{{ patient_form.media }}
	{{ ec_form.media }}
	{{ admision_formset.media }}
{% endblock %}

{% block styles %}
	<link href="{% static 'css/patient/patient.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/patient/admission.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascript %}
	<script src="{% static 'js/patient/admission_form.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/jquery.formset.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}

<div class="container-fluid">

	<div class="row formtitle">
		{{ page_title }}
	</div>

	{% include 'patient/patient_form.html' %}

	<p style="font-size:12px">
		{% include 'messages.html' %}
	</p>

	<div class="row admissionform">

		<form method="post">
			{% csrf_token %}
			{{ admision_formset.management_form }}
			{{ ec_form.management_form }}

			<div class="row">
				<div class="col-2 col" style="border-radius: 0.25rem 0 0 0;">
					{% trans "Admission" %}:
				</div>
				<div class="col-6 col">
					{{ admision_form.patient|as_crispy_field }}
					{{ admision_form.date_admission|as_crispy_field }}
				</div>
				<div class="col-4 col" style="border-radius: 0 0.25rem 0 0;">
					{{ admision_form.time_admission|as_crispy_field }}
				</div>
			</div>

			<div class="row">
				<div class="col-2 col">
					{% trans "Admitted through" %}:
				</div>
				<div class="col-4 col">
					{{ admision_form.admitted|as_crispy_field }}
				</div>
				<div class="col-3 col border-left-0">
					{{ admision_form.admitted_others|as_crispy_field }}
				</div>
				<div class="col-3 col border-left-0">
				</div>
			</div>

			<div class="row">
				<div class="col-2 col">
					{% trans "Mode of admission" %}:
				</div>
				<div class="col-10 col">
					{{ admision_form.mode|as_crispy_field }}
				</div>
			</div>

			<div class="row">
				<div class="col-2 col">
					{% trans "Full name  (as per IC)" %}:
				</div>
				<div class="col-4 col">
					<b>
						{{ patient_form.full_name|as_crispy_field }}
						{{ patient_form.username|as_crispy_field }}
						{{ patient_form.email|as_crispy_field }}
						{{ patient_form.password|as_crispy_field }}
						{{ patient_form.date_joined|as_crispy_field }}
						{{ patient_form.is_patient|as_crispy_field }}
						{{ patient_form.is_active|as_crispy_field }}
					</b>
				</div>
				<div class="col-3 col">
					<b>{{ patient_form.ic_number|as_crispy_field }}</b>
				</div>
				<div class="col-3 col">
					<b>{{ patient_form.ic_upload|as_crispy_field }}</b>
				</div>
			</div>

			<div class="row">
				<div class="col-2 col">
					{% trans "Age" %}:
				</div>
				<div class="col-4 col">
					{{ patient_form.age|as_crispy_field }}
				</div>
				<div class="col-2 col">
					{% trans "Date of birth" %}:
				</div>
				<div class="col-4 col">
					{{ patient_form.birth_date|as_crispy_field }}
				</div>
			</div>

			<div class="row">
				<div class="col-2 col">
					{% trans "Sex / Gender" %}:
				</div>
				<div class="col-10 col">
					{{ patient_form.gender|as_crispy_field }}
				</div>
			</div>

			<div class="row">
				<div class="col-2 col">
					{% trans "Marital Status" %}:
				</div>
				<div class="col-4 col">
					{{ patient_form.marital_status|as_crispy_field }}
				</div>
				<div class="col-3 col border-left-0">
					{{ patient_form.marital_status_others|as_crispy_field }}
				</div>
				<div class="col-3 col border-left-0">
				</div>
			</div>

			<div class="row">
				<div class="col-2 col">
					{% trans "Religion" %}:
				</div>
				<div class="col-6 col">
					{{ patient_form.religion|as_crispy_field }}
				</div>
				<div class="col-3 col border-left-0">
					{{ patient_form.religion_others|as_crispy_field }}
				</div>
				<div class="col-1 col border-left-0">
				</div>
			</div>

			<div class="row">
				<div class="col-2 col">
					{% trans "Occupation" %}:
				</div>
				<div class="col-4 col">
					{{ patient_form.occupation|as_crispy_field }}
				</div>
				<div class="col-3 col border-left-0">
					{{ patient_form.occupation_others|as_crispy_field }}
				</div>
				<div class="col-3 col border-left-0">
				</div>
			</div>

			<div class="row">
				<div class="col-2 col">
					{% trans "Communication" %}:
				</div>
				<div class="col-10 col">
					{{ patient_form.communication_sight|as_crispy_field }}
				</div>
			</div>

			<div class="row">
				<div class="col-2 col border-top-0">
				</div>
				<div class="col-4 col">
					{{ patient_form.communication_hearing|as_crispy_field }}
				</div>
				<div class="col-3 col border-left-0">
					{{ patient_form.communication_hearing_others|as_crispy_field }}
				</div>
				<div class="col-3 col border-left-0">
				</div>
			</div>

			<div class="row">
				<div class="col-2 col">
					{% trans "Address" %}:
				</div>
				<div class="col-10 col">
					{{ patient_form.address|as_crispy_field }}
				</div>
			</div>

			<div class="row formSet_Emerg">
				<div class="col-2 col border-bottom">
					{% trans "Emergency contact" %}:
				</div>

				{% for obj in ec_form.forms %}
				<div class="col-4 col border-bottom">
					{{ obj.patient|as_crispy_field }}
					{% trans "Name" %}:
					{{ obj.ec_name|as_crispy_field }}
					{% trans "IC No" %}:
					{{ obj.ec_ic_number|as_crispy_field }}
					{% trans "Upload IC" %}:
					{{ obj.ec_ic_upload|as_crispy_field }}
					{% trans "Relationship" %}:
					{{ obj.ec_relationship|as_crispy_field }}
					{% trans "Contact No" %}:
					{{ obj.ec_phone|as_crispy_field }}
					{% trans "Address" %}:
					{{ obj.ec_address|as_crispy_field }}
				</div>
				{% endfor %}
				<div class="col-1 col border-bottom hapus_Emerg"></div>

			</div>
			<div class="tambah_Emerg">
				<div class="col-2"></div>
				<div class="col-3"></div>
				<div class="col-6"></div>
				<div class="col-1"></div>
			</div>

			<div class="row">
				<div class="col-4 col border-right-0">
				</div>
				<div class="col-4 col border-left-0">
					<b>{% trans "General Observation on Admission" %}</b>
				</div>
				<div class="col-4 col border-left-0">
				</div>
			</div>

			<div class="row">
				<div class="col-2 col">
					{% trans "General condition" %}:
				</div>
				<div class="col-10 col">
					{{ admision_form.general_condition|as_crispy_field }}
				</div>
			</div>

			<div class="row">
				<div class="col-2 col">
					{% trans "Vital sign" %}:
				</div>
				<div class="col-3 col">
					{% trans "Temp (ºC)" %}:
				</div>
				<div class="col-4 col">
					{{ admision_form.vital_sign_temperature|as_crispy_field }}
				</div>
				<div class="col-3 col border-left-0">
				</div>
			</div>

			<div class="row">
				<div class="col-2 col border-top-0">
				</div>
				<div class="col-3 col">
					{% trans "Pulse (bpm)" %}:
				</div>
				<div class="col-4 col">
					{{ admision_form.vital_sign_pulse|as_crispy_field }}
				</div>
				<div class="col-3 col border-left-0">
				</div>
			</div>

			<div class="row">
				<div class="col-2 col border-top-0">
				</div>
				<div class="col-3 col">
					{% trans "BP (mmHg)" %}:
				</div>
				<div class="col-4 col">
					{{ admision_form.vital_sign_bp|as_crispy_field }}
				</div>
				<div class="col-3 col border-left-0">
				</div>
			</div>

			<div class="row">
				<div class="col-2 col border-top-0">
				</div>
				<div class="col-3 col">
					{% trans "Resp (min)" %}:
				</div>
				<div class="col-4 col">
					{{ admision_form.vital_sign_resp|as_crispy_field }}
				</div>
				<div class="col-3 col border-left-0">
				</div>
			</div>

			<div class="row">
				<div class="col-2 col">
				</div>
				<div class="col-3 col">
					{% trans "SPO2 (%)" %}:
				</div>
				<div class="col-4 col">
					{{ admision_form.vital_sign_spo2|as_crispy_field }}
				</div>
				<div class="col-3 col border-left-0">
				</div>
			</div>

			<div class="row">
				<div class="col-2 col">
				</div>
				<div class="col-3 col">
					{% trans "On Oxygen therapy" %}:
				</div>
				<div class="col-2 col">
					{{ admision_form.vital_sign_on_oxygen_therapy|as_crispy_field }}
				</div>
				<div class="col-5 col" style="border-left:none; display:inline-flex;">
					{% trans "Flow rate" %}:&nbsp;{{ admision_form.vital_sign_on_oxygen_therapy_flow_rate|as_crispy_field }}&nbsp;{% trans "L/min" %}

				</div>
			</div>

			<div class="row">
				<div class="col-2 col">
				</div>
				<div class="col-3 col">
					{% trans "HGT (mmol/L)" %}:
				</div>
				<div class="col-4 col">
					{{ admision_form.vital_sign_hgt|as_crispy_field }}
				</div>
				<div class="col-3 col border-left-0">
				</div>
			</div>

			<div class="row">
				<div class="col-2 col">
					{% trans "Allergy" %}:
				</div>
				<div class="col-3 col">
					{{ admision_form.allergy_drug|as_crispy_field }}
				</div>
				<div class="col-3 col">
					{{ admision_form.allergy_food|as_crispy_field }}
				</div>
				<div class="col-4 col">
					{{ admision_form.allergy_others|as_crispy_field }}
				</div>
			</div>

			<div class="row">
				<div class="col-2 col">
					{% trans "Biohazard/ infectious disease" %}:
				</div>
				<div class="col-2 col">
					{{ admision_form.biohazard_infectious_disease|as_crispy_field }}
				</div>
				<div class="col-3 col" style="border-left:none; display:inline-flex;">
					{{ admision_form.biohazard_infectious_disease_others|as_crispy_field }}
				</div>
				<div class="col-5 col border-left-0">
				</div>
			</div>

			<div class="row">
				<div class="col-2 col">
					{% trans "Invasive line insitu" %}:
				</div>
				<div class="col-7 col">
					{{ admision_form.invasive_line_insitu|as_crispy_field }}
				</div>
				<div class="col-3 col" style="border-left:none; display:inline-flex;">
					{{ admision_form.invasive_line_insitu_others|as_crispy_field }}
				</div>
			</div>

			<div class="row">
				<div class="col-2 col">
					{% trans "Medical history" %}:
				</div>
				<div class="col-7 col">
					{{ admision_form.medical_history|as_crispy_field }}
				</div>
				<div class="col-3 col" style="border-left:none; display:inline-flex;">
					{{ admision_form.medical_history_others|as_crispy_field }}
				</div>
			</div>

			<div class="row">
				<div class="col-2 col">
					{% trans "Surgical history" %}:
				</div>
				<div class="col-10 col">
					{{ admision_form.surgical_history_none|as_crispy_field }}
				</div>
			</div>

			<div class="row">
				<div class="col-2 col border-top-0">
				</div>
				<div class="col-10 col border-top-0">
					{{ admision_form.surgical_history|as_crispy_field }}
				</div>
			</div>

			<div class="row">
				<div class="col-2 col">
					{% trans "Diagnosis" %}:
				</div>
				<div class="col-3 col text-center">
					{% trans "Date" %}:
				</div>
				<div class="col-7 col text-center">
					{% trans "Diagnosis" %}:
				</div>
			</div>

			{% for item in admision_formset.forms %}
			<div class="row formSet_Diag">
				<div class="col-2 col border-bottom">
					{{ item.patient|as_crispy_field }}
				</div>
				<div class="col-3 col border-bottom">
					{{ item.date_diagnosis|as_crispy_field }}
				</div>
				<div class="col-6 col border-bottom">
					{{ item.diagnosis|as_crispy_field }}
				</div>
				<div class="col-1 col border-bottom hapus_Diag">
				</div>
			</div>
			<div class="tambah_Diag">
				<div class="col-2"></div>
				<div class="col-3"></div>
				<div class="col-6"></div>
				<div class="col-1"></div>
			</div>

			<div class="row">
				<div class="col-2 col">
					{% trans "Operation" %}:
				</div>
				<div class="col-3 col text-center">
					{% trans "Date" %}:
				</div>
				<div class="col-7 col text-center">
					{% trans "Operation" %}:
				</div>
			</div>

			<div class="row formSet_Opr">
				<div class="col-2 col border-bottom">
				</div>
				<div class="col-3 col border-bottom">
					{{ item.date_operation|as_crispy_field }}
				</div>
				<div class="col-6 col border-bottom">
					{{ item.operation|as_crispy_field }}
				</div>
				<div class="col-1 col border-bottom hapus_Opr">
				</div>
			</div>
			<div class="tambah_Opr">
				<div class="col-2"></div>
				<div class="col-3"></div>
				<div class="col-6"></div>
				<div class="col-1"></div>
			</div>
			{% endfor %}

			{% for item in medication_formset.forms %}
			<div class="row">
				<div class="col-2 col">
					{% trans "Own medication" %}:
				</div>
				<div class="col-10 col">
					{{ item.own_medication|as_crispy_field }}
				</div>
			</div>


			<div class="row">
				<div class="col-2 col border-top-0">
				</div>
				<div class="col-3 col text-center">
					{% trans "Drug name" %}:
				</div>
				<div class="col-2 col text-center">
					{% trans "Dosage" %}:
				</div>
				<div class="col-2 col text-center">
					{% trans "Tablet/Capsule/MLS" %}:
				</div>
				<div class="col-3 col text-center">
					{% trans "Frequency" %}:
				</div>
			</div>

			<div class="row formSet_Own">
				<div class="col-2 col border-top-0">
				</div>
				<div class="col-3 col">
					{{ item.own_medication_drug_name|as_crispy_field }}
				</div>
				<div class="col-2 col">
					{{ item.own_medication_dosage|as_crispy_field }}
				</div>
				<div class="col-2 col">
					{{ item.own_medication_tablet_capsule|as_crispy_field }}
				</div>
				<div class="col-2 col">
					{{ item.own_medication_frequency|as_crispy_field }}
				</div>
				<div class="col-1 col hapus_Own"></div>
			</div>
			<div class="tambah_Own">
				<div class="col-2"></div>
				<div class="col-3"></div>
				<div class="col-6"></div>
				<div class="col-1"></div>
			</div>
			{% endfor %}

			<div class="row">
				<div class="col-2 col">
					{% trans "Adaptive aids with patient on admission" %}:
				</div>
				<div class="col-7 col">
					{{ admision_form.adaptive_aids_with_patient|as_crispy_field }}
				</div>
				<div class="col-3 col" style="border-left:none; display:inline-flex;">
					{{ admision_form.adaptive_aids_with_patient_others|as_crispy_field }}
				</div>
			</div>

			<div class="row">
				<div class="col-2 col">
					{% trans "Orientation" %}:
				</div>
				<div class="col-10 col">
					{{ admision_form.orientation|as_crispy_field }}
				</div>
			</div>

			<div class="row">
				<div class="col-2 col">
					{% trans "Special information" %}:
				</div>
				<div class="col-10 col">
					{{ admision_form.special_information|as_crispy_field }}
				</div>
			</div>

			<div class="row border-bottom">
				<div class="col-2 col" style="border-radius: 0 0 0 0.25rem;">
					{% trans "Admission done by" %}:
				</div>
				<div class="col-4 col">
					{{ admision_form.admission_by|as_crispy_field }}
				</div>
				<div class="col-6 col" style="border-radius: 0 0 0.25rem 0;">
				</div>
			</div>


			<br />

			<div class="row">
				<button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
				{% for item in profiles %}
				<a class="btn btn-danger kirim" href="{% url 'patient:patientdata_detail' item.username %}">{% trans "Cancel" %}</a>
				{% endfor %}
			</div>
		</form>


	</div>

</div>

{% endblock %}

{% block js %}
<script type='text/javascript'>
$(document).ready(function()
{

	$(function()
	{
	    $('.formSet_Emerg').formset({
	    	prefix: 'formset',
	        addCssClass: 'btn btn-success',
	        addText: '<i class="fas fa-plus"></i>',
	        deleteCssClass: 'btn btn-danger',
	        deleteText: '<i class="fas fa-minus"></i>',
	        keepFieldValues : '#id_ec_form-0-patient, #id_ec_form-0-date, #id_ec_form-0-time, #id_ec_form-0-done_by',
	        deleteContainerClass: 'hapus_Emerg',
	        addContainerClass: 'tambah_Emerg',
	    })
	});

	$(function()
	{
	    $('.formSet_Diag').formset({
	    	prefix: 'formset',
	        addCssClass: 'btn btn-success',
	        addText: '<i class="fas fa-plus"></i>',
	        deleteCssClass: 'btn btn-danger',
	        deleteText: '<i class="fas fa-minus"></i>',
	        keepFieldValues: '#id_admision_formset-0-patient, #id_admision_formset-0-date_diagnosis',
	        deleteContainerClass: 'hapus_Diag',
	        addContainerClass: 'tambah_Diag',
	    })
	});

	$(function()
	{
	    $('.formSet_Opr').formset({
	    	prefix: 'formset',
	        addCssClass: 'btn btn-success',
	        addText: '<i class="fas fa-plus"></i>',
	        deleteCssClass: 'btn btn-danger',
	        deleteText: '<i class="fas fa-minus"></i>',
	        keepFieldValues: '#id_admision_formset-0-date_operation',
	        deleteContainerClass: 'hapus_Opr',
	        addContainerClass: 'tambah_Opr',
	    })
	});

	$(function()
	{
	    $('.formSet_Own').formset({
	    	prefix: 'formset',
	        addCssClass: 'btn btn-success',
	        addText: '<i class="fas fa-plus"></i>',
	        deleteCssClass: 'btn btn-danger',
	        deleteText: '<i class="fas fa-minus"></i>',
	        keepFieldValues: '#id_medication_formset-0-own_medication_dosage, #id_medication_formset-0-own_medication_tablet_capsule, #id_medication_formset-0-own_medication_frequency',
	        deleteContainerClass: 'hapus_Own',
	        addContainerClass: 'tambah_Own',
	        added: function(row)
	        {
	        	$(row).find("[id$='drug_name']").removeClass("disabled_input");
	        	$(row).find("[id$='dosage']").removeClass("disabled_input");
	        	$(row).find("[id$='tablet_capsule']").removeClass("disabled_input");
	        	$(row).find("[id$='frequency']").removeClass("disabled_input");
	        	$(row).find('.hapus_Own').removeClass("disabled");
	        	$(row).find('.tambah_Own').removeClass("disabled");
	        },

	    })
	});



});
</script>
{% endblock %}
